// 1. Enable a new approach for creating spacing of the component using `spirit-v1-stack-no-default-gap` on the root element, eg. body, together with `Stack--hasSpacing`.
//    This will be removed in major release and the new spacing will be the default.

@use 'sass:math';
@use 'theme';

.Stack {
    display: grid;
    gap: theme.$gap;
    padding-left: 0;
    margin-block: 0;
    list-style: none;
}

// stylelint-disable selector-max-universal -- Let's be bold and tweak all direct descendants regardless of their type.
.Stack > * {
    margin-block: 0;
}

.Stack--hasIntermediateDividers > * {
    border-top: theme.$border;
}

.Stack--hasSpacing > * {
    padding-block: math.div(theme.$padding-block, 2);
}

.Stack--hasSpacing.Stack--hasIntermediateDividers > * {
    padding-block: theme.$padding-block;
}
// stylelint-enable

.Stack--hasSpacing > :first-child {
    padding-block-start: 0;
}

.Stack--hasSpacing > :last-child {
    padding-block-end: 0;
}

.Stack--hasIntermediateDividers > :first-child {
    padding-block-start: 0;
    border-top: none;
}

.Stack--hasIntermediateDividers > :last-child {
    padding-block-end: 0;
}

.Stack--hasStartDivider > :first-child {
    border-top: theme.$border;
}

.Stack--hasEndDivider > :last-child {
    border-bottom: theme.$border;
}

.Stack--hasSpacing.Stack--hasStartDivider > :first-child {
    padding-block-start: theme.$padding-block;
}

.Stack--hasSpacing.Stack--hasEndDivider > :last-child {
    padding-block-end: theme.$padding-block;
}

// 1.
:where(.spirit-v1-stack-no-default-gap) .Stack {
    gap: 0;
}
