@use 'sass:math';
@use 'sass:string';
@use '../../tools/breakpoint';
@use '../../tools/reset';
@use '../../tools/spacing';
@use 'theme';

.Stack {
    display: grid;

    @include reset.list();
}

.Stack--hasSpacing {
    @include spacing.create(
        $output-property-name: '--stack-gap',
        $responsive-property-base-name: '--stack-spacing',
        $breakpoints: theme.$breakpoints,
        $default-spacing: theme.$spacing-fallback
    );
}

.Stack--hasSpacing.Stack--hasStartDivider,
.Stack--hasSpacing.Stack--hasEndDivider,
.Stack--hasSpacing.Stack--hasIntermediateDividers {
    gap: 0;
}

// stylelint-disable selector-max-universal -- Let's be bold and tweak all direct descendants regardless of their type to avoid inheritance of spacing for nested Stack.
.Stack > * {
    margin-block: 0;
}

.Stack--hasIntermediateDividers > * {
    border-block-start: theme.$border;
}

.Stack--hasSpacing > * {
    @include spacing.prevent-inheritance(
        $responsive-property-base-name: '--stack-spacing',
        $breakpoints: theme.$breakpoints
    );
}

.Stack--hasSpacing.Stack--hasStartDivider > *,
.Stack--hasSpacing.Stack--hasEndDivider > * {
    padding-block: calc(var(--stack-gap) / 2);
}

.Stack--hasSpacing.Stack--hasIntermediateDividers > * {
    padding-block: var(--stack-gap);
}
// stylelint-enable

.Stack--hasSpacing.Stack--hasStartDivider > :first-child,
.Stack--hasSpacing.Stack--hasEndDivider > :first-child,
.Stack--hasSpacing.Stack--hasIntermediateDividers > :first-child {
    padding-block-start: 0;
}

.Stack--hasSpacing.Stack--hasStartDivider > :last-child,
.Stack--hasSpacing.Stack--hasEndDivider > :last-child,
.Stack--hasSpacing.Stack--hasIntermediateDividers > :last-child {
    padding-block-end: 0;
}

.Stack--hasIntermediateDividers > :first-child {
    border-block-start: none;
}

.Stack--hasStartDivider > :first-child {
    border-block-start: theme.$border;
}

.Stack--hasEndDivider > :last-child {
    border-block-end: theme.$border;
}

.Stack--hasSpacing.Stack--hasStartDivider > :first-child {
    padding-block-start: var(--stack-gap);
}

.Stack--hasSpacing.Stack--hasEndDivider > :last-child {
    padding-block-end: var(--stack-gap);
}
