@use '../../tools/reset';
@use '../../tools/responsive-properties';
@use 'theme';

.Stack {
    display: grid;

    @include reset.list();
}

.Stack--hasSpacing {
    @include responsive-properties.create-cascade(
        $property: 'gap',
        $input-custom-property-base-name: 'stack-spacing',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$default-spacing
    );
}

.Stack--hasSpacing.Stack--hasStartDivider,
.Stack--hasSpacing.Stack--hasEndDivider,
.Stack--hasSpacing.Stack--hasIntermediateDividers {
    gap: 0;
}

// @deprecated StackItem selectors have been moved to their own file.
// Migration: delete everything below this comment
// stylelint-disable selector-max-universal -- Remove any margins from all direct descendants regardless of their type.
.Stack > *:not(.StackItem) {
    margin-block: 0;
}

.Stack--hasIntermediateDividers > *:not(.StackItem) {
    border-block-start: theme.$border;
}

.Stack--hasSpacing.Stack--hasStartDivider > *:not(.StackItem),
.Stack--hasSpacing.Stack--hasEndDivider > *:not(.StackItem) {
    padding-block: calc(var(--stack-spacing-internal) / 2);
}

.Stack--hasSpacing.Stack--hasIntermediateDividers > *:not(.StackItem) {
    padding-block: var(--stack-spacing-internal);
}
// stylelint-enable

.Stack--hasSpacing.Stack--hasStartDivider > :not(.StackItem):first-child,
.Stack--hasSpacing.Stack--hasEndDivider > :not(.StackItem):first-child,
.Stack--hasSpacing.Stack--hasIntermediateDividers > :not(.StackItem):first-child {
    padding-block-start: 0;
}

.Stack--hasSpacing.Stack--hasStartDivider > :not(.StackItem):last-child,
.Stack--hasSpacing.Stack--hasEndDivider > :not(.StackItem):last-child,
.Stack--hasSpacing.Stack--hasIntermediateDividers > :not(.StackItem):last-child {
    padding-block-end: 0;
}

.Stack--hasIntermediateDividers > :not(.StackItem):first-child {
    border-block-start: none;
}

.Stack--hasStartDivider > :not(.StackItem):first-child {
    border-block-start: theme.$border;
}

.Stack--hasEndDivider > :not(.StackItem):last-child {
    border-block-end: theme.$border;
}

.Stack--hasSpacing.Stack--hasStartDivider > :not(.StackItem):first-child {
    padding-block-start: var(--stack-spacing-internal);
}

.Stack--hasSpacing.Stack--hasEndDivider > :not(.StackItem):last-child {
    padding-block-end: var(--stack-spacing-internal);
}
