@use '@global' as global-tokens;

$breakpoints: global-tokens.$breakpoints;
$border: global-tokens.$border-width-100 global-tokens.$border-style-solid var(--spirit-color-border-secondary-default);
$spacing-fallback: global-tokens.$space-600;
