{# API #}
{%- set props = props | default([]) -%}
{%- set _class = props.class | default(null) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'ModalBody' -%}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _class ] -%}

<div
    {{ mainProps(props) }}
    {{ classProp(_classNames) }}
>
    {% block content %}{% endblock %}
</div>
