@use 'sass:list';
@use '@global' as global-tokens;
@use '../../settings/dictionaries';

$alignment-x-dictionary: list.join(dictionaries.$alignments-x-extended, space-between);
$alignment-y-dictionary: list.join(dictionaries.$alignments-y-extended, baseline);
$breakpoints: global-tokens.$breakpoints;
$gap: global-tokens.$space-700;
