@use 'theme' as theme;
@use 'tools';

.UNSTABLE_PartnerLogo {
    display: inline-block;
    max-width: 100%;
    height: fit-content;
    border-radius: theme.$border-radius;
    background: theme.$background-color;
}

.UNSTABLE_PartnerLogo > img,
.UNSTABLE_PartnerLogo > svg {
    width: fit-content;
}

@include tools.generate-logo-sizes('UNSTABLE_PartnerLogo', theme.$sizes);

.UNSTABLE_PartnerLogo--hasSafeAreaDisabled {
    padding: 0;
}
