@use 'theme';
@use '@tokens' as tokens;
@use '../../tools/dictionaries';

.UNSTABLE_PartnerLogo {
    --#{tokens.$token-prefix}partner-logo-padding: 0;

    display: inline-block;
    max-width: 100%;
    height: fit-content;
    padding: var(--#{globals.$prefix}partner-logo-padding);
    border-radius: theme.$border-radius;
    background: theme.$background-color;
}

.UNSTABLE_PartnerLogo > img,
.UNSTABLE_PartnerLogo > svg {
    width: fit-content;
    height: var(--#{tokens.$token-prefix}partner-logo-image-height);
}

@include dictionaries.generate-sizes($class-name: 'UNSTABLE_PartnerLogo', $sizes: theme.$sizes);

.UNSTABLE_PartnerLogo--hasSafeAreaDisabled {
    --#{tokens.$token-prefix}partner-logo-padding: 0;
}
