@use '@tokens' as tokens;

$accordion-item-background-color-default: tokens.$background-interactive-default;
$accordion-item-background-color-hover: tokens.$background-interactive-hover;
$accordion-item-background-color-active: tokens.$background-interactive-active;
$accordion-header-typography: tokens.$body-medium-text-regular;
$accordion-header-typography-active: tokens.$body-medium-text-bold;
$accordion-header-typography-color: tokens.$text-primary-default;
$accordion-header-gap: tokens.$space-500;
$accordion-header-padding-y: tokens.$space-700;
$accordion-header-padding-x: tokens.$space-600;
$accordion-border-radius: tokens.$radius-100;
$accordion-divider-color: tokens.$action-tertiary-default;
$accordion-divider-width: tokens.$border-width-100;
$accordion-divider-style: tokens.$border-style-100;
$accordion-content-padding-bottom: tokens.$space-600;
