@use 'true' as test;
@use '../../settings/cursors';
@use '../../settings/form-fields' as form-fields-settings;
@use '../form-fields';

@include test.describe('form-fields mixins') {
    @include test.it('should return label-disabled mixin styles') {
        @include test.assert() {
            @include test.output() {
                .label-disabled-test {
                    @include form-fields.label-disabled();
                }
            }

            @include test.expect() {
                .label-disabled-test {
                    color: form-fields-settings.$label-color-state-disabled;

                    &::after {
                        color: form-fields-settings.$label-color-state-disabled;
                    }
                }
            }
        }
    }

    @include test.it('should return input-disabled mixin styles') {
        @include test.assert() {
            @include test.output() {
                .input-disabled-test {
                    @include form-fields.input-disabled();
                }
            }

            @include test.expect() {
                .input-disabled-test {
                    color: form-fields-settings.$input-color-state-disabled;
                    cursor: cursors.$disabled;
                }
            }
        }
    }

    @include test.it('should return box-field-fluid mixin styles') {
        @include test.assert() {
            @include test.output() {
                .box-field-fluid-test {
                    @include form-fields.box-field-fluid();
                }
            }

            @include test.expect() {
                .box-field-fluid-test {
                    width: 100%;
                }
            }
        }
    }

    @include test.it('should generate input-position classes with correct flex-direction') {
        @include test.assert() {
            @include test.output() {
                @include form-fields.input-position(
                    $component-class: 'TestComponent',
                    $positions: (
                        'start': row,
                        'end': row-reverse,
                    ),
                    $default-position: 'start'
                );
            }

            @include test.expect() {
                .TestComponent--inputPositionStart,
                .TestComponent:not([class*='--inputPosition']) {
                    flex-direction: row;
                }

                .TestComponent--inputPositionEnd {
                    flex-direction: row-reverse;
                }

                @media (width >= 768px) {
                    .TestComponent--tablet--inputPositionStart,
                    .TestComponent:not([class*='--inputPosition']) {
                        flex-direction: row;
                    }

                    .TestComponent--tablet--inputPositionEnd {
                        flex-direction: row-reverse;
                    }
                }

                @media (width >= 1280px) {
                    .TestComponent--desktop--inputPositionStart,
                    .TestComponent:not([class*='--inputPosition']) {
                        flex-direction: row;
                    }

                    .TestComponent--desktop--inputPositionEnd {
                        flex-direction: row-reverse;
                    }
                }
            }
        }
    }
}
