// stylelint-disable scss/at-mixin-argumentless-call-parentheses -- We need to allow this to make sass-true work
@use 'true';
@use '../../settings/cursors';
@use '../../theme/form-fields' as form-fields-theme;
@use '../form-fields';

@include true.describe('form-fields mixins') {
    @include true.it('should return label-disabled mixin styles') {
        @include true.assert {
            @include true.output {
                .label-disabled-test {
                    @include form-fields.label-disabled();
                }
            }
            @include true.expect {
                .label-disabled-test {
                    color: form-fields-theme.$label-color-disabled;

                    &::after {
                        color: form-fields-theme.$label-color-disabled;
                    }
                }
            }
        }
    }

    @include true.it('should return input-disabled mixin styles') {
        @include true.assert {
            @include true.output {
                .input-disabled-test {
                    @include form-fields.input-disabled();
                }
            }
            @include true.expect {
                .input-disabled-test {
                    color: form-fields-theme.$input-color-disabled;
                    cursor: cursors.$disabled;
                }
            }
        }
    }

    @include true.it('should return box-field-fluid mixin styles') {
        @include true.assert {
            @include true.output {
                .box-field-fluid-test {
                    @include form-fields.box-field-fluid();
                }
            }
            @include true.expect {
                .box-field-fluid-test {
                    width: 100%;
                }
            }
        }
    }
}
