@use 'true' as test;
@use '../../settings/cursors';
@use '../../theme/form-fields' as form-fields-theme;
@use '../form-fields';

@include test.describe('form-fields mixins') {
    @include test.it('should return label-disabled mixin styles') {
        @include test.assert() {
            @include test.output() {
                .label-disabled-test {
                    @include form-fields.label-disabled();
                }
            }

            @include test.expect() {
                .label-disabled-test {
                    color: form-fields-theme.$label-color-disabled;

                    &::after {
                        color: form-fields-theme.$label-color-disabled;
                    }
                }
            }
        }
    }

    @include test.it('should return input-disabled mixin styles') {
        @include test.assert() {
            @include test.output() {
                .input-disabled-test {
                    @include form-fields.input-disabled();
                }
            }

            @include test.expect() {
                .input-disabled-test {
                    color: form-fields-theme.$input-color-disabled;
                    cursor: cursors.$disabled;
                }
            }
        }
    }

    @include test.it('should return box-field-fluid mixin styles') {
        @include test.assert() {
            @include test.output() {
                .box-field-fluid-test {
                    @include form-fields.box-field-fluid();
                }
            }

            @include test.expect() {
                .box-field-fluid-test {
                    width: 100%;
                }
            }
        }
    }
}
