@use 'true' as test;
@use '../links';

@include test.describe('stretch mixin') {
    @include test.it('should output default styles for ::before pseudo-element') {
        @include test.assert() {
            @include test.output() {
                .test {
                    @include links.stretch();
                }
            }

            @include test.expect() {
                .test::before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    inset: 0;
                }
            }
        }
    }

    @include test.it('should output styles for provided pseudo-element') {
        @include test.assert() {
            @include test.output() {
                .test {
                    @include links.stretch('after');
                }
            }

            @include test.expect() {
                .test::after {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    inset: 0;
                }
            }
        }
    }
}
