// stylelint-disable scss/at-mixin-argumentless-call-parentheses -- We need to allow this to make sass-true work
@use 'true';
@use '../placement';

@include true.describe('placement functions and mixins') {
    @include true.it('should return correct inverse placements') {
        @include true.assert {
            @include true.output {
                $inverse-top: placement.inverse('top');
                $inverse-bottom-start: placement.inverse('bottom-start');
                $inverse-left-end: placement.inverse('left-end');

                // Testing with main-axis-only and hyphenation
                $inverse-top-start-hyphen: placement.inverse('top-start', true, true);
                $inverse-top-start-space: placement.inverse('top-start', true, false);
            }
            @include true.expect {
                $inverse-top: 'bottom';
                $inverse-bottom-start: 'top';
                $inverse-left-end: 'right';
                $inverse-top-start-hyphen: 'bottom-start';
                $inverse-top-start-space: 'bottom start';
            }
        }
    }

    @include true.it('should apply relative positioning to parent') {
        @include true.assert {
            @include true.output {
                .parent-test {
                    @include placement.parent();
                }
            }
            @include true.expect {
                .parent-test {
                    position: relative;
                }
            }
        }
    }

    @include true.it('should apply absolute positioning to child with z-index') {
        @include true.assert {
            @include true.output {
                .child-test {
                    @include placement.child(3);
                }
            }
            @include true.expect {
                .child-test {
                    position: absolute;
                    z-index: 3;
                }
            }
        }
    }

    @include true.it('should apply custom styles to child variant') {
        @include true.assert {
            @include true.output {
                .child-variant-test {
                    @include placement.child-variant('test', 'top', 10px);
                }
            }
            @include true.expect {
                .child-variant-test {
                    --test-offset: 10px;

                    inset: auto auto 100% 50%;
                    translate: var(--test-offset-orthogonal, -50%) calc(-1 * var(--test-offset, 0));
                    transform-origin: bottom;
                }
            }
        }
    }

    @include true.it('should apply controlled styles to child') {
        @include true.assert {
            @include true.output {
                .child-controlled-test {
                    @include placement.child-controlled('test', 10px);
                }
            }
            @include true.expect {
                .child-controlled-test {
                    --test-offset-orthogonal: 0;
                    --test-offset: 10px;

                    inset: unset;
                    translate: unset;
                }
            }
        }
    }

    @include true.it('should apply styles to arrow') {
        @include true.assert {
            @include true.output {
                .arrow-test {
                    @include placement.arrow('test', '10px', '10px', '5px');
                }
            }
            @include true.expect {
                .arrow-test {
                    --test-arrow-width: 10px;
                    --test-arrow-height: 10px;
                    --test-arrow-corner-offset: 5px;

                    position: absolute;
                    transform-origin: bottom center;
                }
            }
        }
    }

    @include true.it('should apply variant styles to arrow') {
        @include true.assert {
            @include true.output {
                .arrow-variant-test {
                    @include placement.arrow-variant('test', 'top');
                }
            }
            @include true.expect {
                .arrow-variant-test {
                    inset: auto auto 100% 50%;
                    translate: -50% 0%;
                    rotate: z 0deg;
                }
            }
        }
    }

    @include true.it('should apply controlled styles to arrow') {
        @include true.assert {
            @include true.output {
                .arrow-controlled-test {
                    @include placement.arrow-controlled();
                }
            }

            @include true.expect {
                .arrow-controlled-test {
                    inset: unset;
                    translate: unset;
                    transform-origin: center;
                }
            }
        }
    }
}
