@use 'true' as test;
@use '../../settings/cursors';
@use '../reset';

@include test.describe('button mixin') {
    @include test.it('should apply reset styles for a button') {
        @include test.assert() {
            @include test.output() {
                .btn-test {
                    @include reset.button();
                }
            }

            @include test.expect() {
                .btn-test {
                    appearance: none;
                    display: inline-flex;
                    flex: none;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    font: inherit;
                    border: none;
                    border-radius: 0;
                    background: none;
                    box-shadow: none;
                    cursor: cursors.$buttons;
                }
            }
        }
    }

    @include test.it('should apply reset styles for lists') {
        @include test.assert() {
            @include test.output() {
                .list-test {
                    @include reset.list();
                }
            }

            @include test.expect() {
                .list-test:is(ul, ol) {
                    padding-inline-start: 0;
                    margin-block: 0;
                    list-style: none;
                }
            }
        }
    }
}
