@use 'true' as test;
@use '../spacing';

@include test.describe('spacing functions and mixins') {
    @include test.it('should return correct spacing cascade') {
        @include test.assert() {
            @include test.output() {
                .test {
                    @include spacing.create(
                        $input-property-base-name: '--test-input',
                        $output-property-name: '--test-output',
                        $breakpoints: (
                            'mobile': 0,
                            'tablet': 768px,
                        ),
                        $default-spacing: 16px
                    );
                }
            }

            @include test.expect() {
                .test {
                    --test-output: var(--test-input, 16px);

                    gap: var(--test-output);
                }

                @media (width >= 768px) {
                    .test {
                        --test-output: var(--test-input-tablet, var(--test-input, 16px));
                    }
                }
            }
        }
    }

    @include test.it('should return correct spacing cascade with responsive default spacing') {
        @include test.assert() {
            @include test.output() {
                .test {
                    @include spacing.create(
                        $input-property-base-name: '--test-input',
                        $output-property-name: '--test-output',
                        $property: 'column-gap',
                        $breakpoints: (
                            'mobile': 0,
                            'tablet': 768px,
                        ),
                        $default-spacing: (
                            'mobile': 16px,
                            'tablet': 32px,
                        )
                    );
                }
            }

            @include test.expect() {
                .test {
                    --test-output-default: 16px;
                    --test-output: var(--test-input, var(--test-output-default, 16px));

                    column-gap: var(--test-output);
                }

                @media (width >= 768px) {
                    .test {
                        --test-output-default: 32px;
                        --test-output: var(--test-input-tablet, var(--test-input, var(--test-output-default, 16px)));
                    }
                }
            }
        }
    }

    @include test.it('should set up correct prevention of spacing inheritance') {
        @include test.assert() {
            @include test.output() {
                .nested {
                    @include spacing.prevent-inheritance(
                        $input-property-base-names: '--test-spacing',
                        $breakpoints: (
                            'mobile': 0,
                            'tablet': 768px,
                        )
                    );
                }
            }

            @include test.expect() {
                .nested {
                    --test-spacing: initial;
                    --test-spacing-tablet: initial;
                }
            }
        }
    }

    @include test.it('should set up correct prevention of spacing inheritance with multiple properties') {
        @include test.assert() {
            @include test.output() {
                .nested {
                    @include spacing.prevent-inheritance(
                        $input-property-base-names: (
                            '--test-spacing-x',
                            '--test-spacing-y',
                        ),
                        $breakpoints: (
                            'mobile': 0,
                            'tablet': 768px,
                        )
                    );
                }
            }

            @include test.expect() {
                .nested {
                    --test-spacing-x: initial;
                    --test-spacing-y: initial;
                    --test-spacing-x-tablet: initial;
                    --test-spacing-y-tablet: initial;
                }
            }
        }
    }
}
