// stylelint-disable scss/at-mixin-argumentless-call-parentheses -- We need to allow this to make sass-true work
@use 'true';
@use '../string';

@include true.describe('convert-kebab-case-to-camel-case function') {
    @include true.it('should convert kebab-case to camelCase') {
        @include true.assert-equal(string.convert-kebab-case-to-camel-case('top-start'), 'topStart');

        @include true.assert-equal(
            string.convert-kebab-case-to-camel-case('my-long-variable-name'),
            'myLongVariableName'
        );
    }
}

@include true.describe('convert-pascal-case-to-kebab-case function') {
    @include true.it('should convert PascalCase to kebab-case') {
        @include true.assert-equal(string.convert-pascal-case-to-kebab-case('TopStart'), 'top-start');

        @include true.assert-equal(
            string.convert-pascal-case-to-kebab-case('MyLongVariableName'),
            'my-long-variable-name'
        );
    }
}

@include true.describe('replace function') {
    @include true.it('should replace all occurrences of a substring with another string') {
        @include true.assert-equal(string.replace('top-start', '-', ''), 'topstart');

        @include true.assert-equal(string.replace('some-other-text', 'e', 'a'), 'soma-othar-taxt');

        @include true.assert-equal(string.replace('no-replacement-here', 'z', 'y'), 'no-replacement-here');
    }
}
