@use 'true' as test;
@use '../themes';

$test-theme-light-default: (
    action: (
        button: (
            active: #fff,
        ),
    ),
);

$test-theme-light-on-brand: (
    action: (
        button: (
            active: #000,
        ),
    ),
);

$test-themes: (
    theme-light-default: (
        colors: $test-theme-light-default,
    ),
    theme-light-on-brand: (
        colors: $test-theme-light-on-brand,
    ),
);

@include test.describe('generate mixin') {
    @include test.it('should generate default and other themes') {
        @include test.assert() {
            @include test.output() {
                @include themes.generate($themes: $test-themes, $add-background-image-urls: false);
            }

            @include test.expect() {
                :root,
                .theme-light-default {
                    --spirit-color-action-button-active: #fff;
                }

                :where(:root, .theme-light-default) {
                    color: var(--spirit-color-text-primary);
                }

                .theme-light-on-brand {
                    --spirit-color-action-button-active: #000;
                }

                :where(.theme-light-on-brand) {
                    color: var(--spirit-color-text-primary);
                }
            }
        }
    }
}
