@use 'true' as test;
@use '@tokens' as tokens;
@use '../tokens' as tokens-tools;

$test-theme: (
    action: (
        button: (
            active: #fff,
        ),
    ),
);

@include test.describe('generate-css-variables mixin') {
    @include test.it('should generate CSS variables based on the provided map') {
        @include test.assert() {
            @include test.output() {
                :root {
                    @include tokens-tools.generate-css-variables($map: $test-theme, $prefix: 'test');
                }
            }

            @include test.expect() {
                :root {
                    --test-action-button-active: #fff;
                }
            }
        }
    }
}

@include test.describe('get-variable-if-exists function') {
    @include test.it('should return the variable that exists in the tokens') {
        @include test.assert-equal(
            tokens-tools.get-variable-if-exists('container-small-max-width', tokens.$container-max-width),
            tokens.$container-small-max-width
        );
    }

    @include test.it('should return the fallback variable') {
        @include test.assert-equal(tokens-tools.get-variable-if-exists('new-variable', '0px'), '0px');
    }
}
