@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../settings/dictionaries' as dictionaries-settings;
@use '../../settings/links' as links-settings;
@use '../../tools/dictionaries';
@use '../../tools/links' as links-tools;

@include dictionaries.generate-link-colors(
    '.link',
    dictionaries-settings.$action-link-colors,
    tokens.$action-colors,
    (default, hover, active, disabled)
);

.link-disabled {
    cursor: cursors.$disabled;
}

// All links in headings behave the same
[class*='typography-heading'] a {
    text-decoration: none;
}

// Allows link underline everywhere, except for headings default state
.link-underlined,
[class*='typography-heading'] a:hover,
[class*='typography-heading'] a:active {
    text-decoration: underline;
}

.link-stretched {
    @include links-tools.stretch();
}

// Make sure non-anchor elements get the same decoration style as real links
.link-underlined:not(a) {
    text-decoration-skip-ink: links-settings.$text-decoration-skip-ink;
    text-underline-offset: links-settings.$text-underline-offset;
}

// Only links in headings have visited state
[class*='typography-heading'] :visited {
    color: map.get(tokens.$action-colors, link-primary-visited);
}

@include dictionaries.generate-link-colors(
    '[class*="typography-heading"] .link',
    dictionaries-settings.$text-colors,
    tokens.$action-colors,
    visited
);
