@use 'theme';

.SkipLinkItem {
    position: absolute;
    top: theme.$inset-top;
    left: theme.$inset-left;
    z-index: 4;
    padding: theme.$padding;
    border-radius: theme.$border-radius;
    background-color: theme.$background-color;
    box-shadow: theme.$box-shadow;
    opacity: 0;
    transform: translateY(-100vh);

    &:active,
    &:focus {
        opacity: 1;
        transform: translateY(0);
    }

    @media (prefers-reduced-motion: no-preference) {
        transition-property: opacity, transform;
        transition-duration: theme.$transition-duration;
        transition-timing-function: theme.$transition-timing;
    }
}
