@use '@tokens' as tokens;
@use '../../settings/transitions';

$background-color: tokens.$background-primary;
$border-radius: tokens.$radius-300;
$box-shadow: tokens.$shadow-400;
$padding: tokens.$space-700;

$inset-top: tokens.$space-800;
$inset-left: tokens.$space-800;

$transition-duration: transitions.$duration-300;
$transition-timing: transitions.$timing-eased-in-out;
