@use '@tokens' as tokens;

// We subtract the border width to achieve the same dimensions as other form elements
$padding-x: calc(#{tokens.$space-7} - #{tokens.$border-width-1});
$padding-y: calc(#{tokens.$space-4} - #{tokens.$border-width-1});
$font-family: tokens.$font-family-default;
$font-weight: tokens.$font-weight-semibold;
$font-size: tokens.$font-size-base;
$line-height: tokens.$line-height-default;
$border: tokens.$border-2;
$border-radius: tokens.$radius-1;

// Primary button
$primary-default-color: tokens.$text-primary-inverted-default;
$primary-default-background: tokens.$action-primary-default;
$primary-default-border-color: $primary-default-background;
$primary-hover-color: $primary-default-color;
$primary-hover-background: tokens.$action-primary-hover;
$primary-hover-border-color: $primary-hover-background;
$primary-active-color: $primary-default-color;
$primary-active-background: tokens.$action-primary-active;
$primary-active-border-color: $primary-active-background;
$primary-disabled-color: $primary-default-color;
$primary-disabled-background: tokens.$action-primary-disabled;
$primary-disabled-border-color: $primary-disabled-background;

$primary: (
    default-color: $primary-default-color,
    default-background: $primary-default-background,
    default-border-color: $primary-default-border-color,
    hover-color: $primary-hover-color,
    hover-background: $primary-hover-background,
    hover-border-color: $primary-hover-border-color,
    active-color: $primary-active-color,
    active-background: $primary-active-background,
    active-border-color: $primary-active-border-color,
    disabled-color: $primary-disabled-color,
    disabled-background: $primary-disabled-background,
    disabled-border-color: $primary-disabled-border-color,
);

// Secondary button
$secondary-default-color: tokens.$action-link-primary-default;
$secondary-default-background: transparent;
$secondary-default-border-color: tokens.$action-selected-default;
$secondary-hover-color: tokens.$action-link-primary-hover;
$secondary-hover-background: $secondary-default-background;
$secondary-hover-border-color: tokens.$action-selected-hover;
$secondary-active-color: tokens.$action-link-primary-active;
$secondary-active-background: $secondary-default-background;
$secondary-active-border-color: tokens.$action-selected-active;
$secondary-disabled-color: tokens.$action-link-primary-disabled;
$secondary-disabled-background: $secondary-default-background;
$secondary-disabled-border-color: tokens.$action-selected-disabled;

$secondary: (
    default-color: $secondary-default-color,
    default-background: $secondary-default-background,
    default-border-color: $secondary-default-border-color,
    hover-color: $secondary-hover-color,
    hover-background: $secondary-hover-background,
    hover-border-color: $secondary-hover-border-color,
    active-color: $secondary-active-color,
    active-background: $secondary-active-background,
    active-border-color: $secondary-active-border-color,
    disabled-color: $secondary-disabled-color,
    disabled-background: $secondary-disabled-background,
    disabled-border-color: $secondary-disabled-border-color,
);

// Tertiary button
$tertiary-default-color: tokens.$action-link-secondary-default;
$tertiary-default-background: transparent;
$tertiary-default-border-color: tokens.$border-main-default;
$tertiary-hover-color: tokens.$action-link-secondary-hover;
$tertiary-hover-background: $tertiary-default-background;
$tertiary-hover-border-color: tokens.$border-main-hover;
$tertiary-active-color: tokens.$action-link-secondary-active;
$tertiary-active-background: $tertiary-default-background;
$tertiary-active-border-color: tokens.$border-main-active;
$tertiary-disabled-color: tokens.$action-link-secondary-disabled;
$tertiary-disabled-background: $tertiary-default-background;
$tertiary-disabled-border-color: tokens.$border-main-disabled;

$tertiary: (
    default-color: $tertiary-default-color,
    default-background: $tertiary-default-background,
    default-border-color: $tertiary-default-border-color,
    hover-color: $tertiary-hover-color,
    hover-background: $tertiary-hover-background,
    hover-border-color: $tertiary-hover-border-color,
    active-color: $tertiary-active-color,
    active-background: $tertiary-active-background,
    active-border-color: $tertiary-active-border-color,
    disabled-color: $tertiary-disabled-color,
    disabled-background: $tertiary-disabled-background,
    disabled-border-color: $tertiary-disabled-border-color,
);

// Informative button
$informative-default-color: tokens.$text-primary-inverted-default;
$informative-default-background: tokens.$emotion-informative-default;
$informative-default-border-color: $informative-default-background;
$informative-hover-color: $informative-default-color;
$informative-hover-background: tokens.$emotion-informative-hover;
$informative-hover-border-color: $informative-hover-background;
$informative-active-color: $informative-default-color;
$informative-active-background: tokens.$emotion-informative-active;
$informative-active-border-color: $informative-active-background;
$informative-disabled-color: $informative-default-color;
$informative-disabled-background: tokens.$emotion-informative-disabled;
$informative-disabled-border-color: $informative-disabled-background;

$informative: (
    default-color: $informative-default-color,
    default-background: $informative-default-background,
    default-border-color: $informative-default-border-color,
    hover-color: $informative-hover-color,
    hover-background: $informative-hover-background,
    hover-border-color: $informative-hover-border-color,
    active-color: $informative-active-color,
    active-background: $informative-active-background,
    active-border-color: $informative-active-border-color,
    disabled-color: $informative-disabled-color,
    disabled-background: $informative-disabled-background,
    disabled-border-color: $informative-disabled-border-color,
);

// Success button
$success-default-color: tokens.$text-primary-inverted-default;
$success-default-background: tokens.$emotion-success-default;
$success-default-border-color: $success-default-background;
$success-hover-color: $success-default-color;
$success-hover-background: tokens.$emotion-success-hover;
$success-hover-border-color: $success-hover-background;
$success-active-color: $success-default-color;
$success-active-background: tokens.$emotion-success-active;
$success-active-border-color: $success-active-background;
$success-disabled-color: $success-default-color;
$success-disabled-background: tokens.$emotion-success-disabled;
$success-disabled-border-color: $success-disabled-background;

$success: (
    default-color: $success-default-color,
    default-background: $success-default-background,
    default-border-color: $success-default-border-color,
    hover-color: $success-hover-color,
    hover-background: $success-hover-background,
    hover-border-color: $success-hover-border-color,
    active-color: $success-active-color,
    active-background: $success-active-background,
    active-border-color: $success-active-border-color,
    disabled-color: $success-disabled-color,
    disabled-background: $success-disabled-background,
    disabled-border-color: $success-disabled-border-color,
);

// Warning button
$warning-default-color: tokens.$text-primary-inverted-default;
$warning-default-background: tokens.$emotion-warning-default;
$warning-default-border-color: $warning-default-background;
$warning-hover-color: $warning-default-color;
$warning-hover-background: tokens.$emotion-warning-hover;
$warning-hover-border-color: $warning-hover-background;
$warning-active-color: $warning-default-color;
$warning-active-background: tokens.$emotion-warning-active;
$warning-active-border-color: $warning-active-background;
$warning-disabled-color: $warning-default-color;
$warning-disabled-background: tokens.$emotion-warning-disabled;
$warning-disabled-border-color: $warning-disabled-background;

$warning: (
    default-color: $warning-default-color,
    default-background: $warning-default-background,
    default-border-color: $warning-default-border-color,
    hover-color: $warning-hover-color,
    hover-background: $warning-hover-background,
    hover-border-color: $warning-hover-border-color,
    active-color: $warning-active-color,
    active-background: $warning-active-background,
    active-border-color: $warning-active-border-color,
    disabled-color: $warning-disabled-color,
    disabled-background: $warning-disabled-background,
    disabled-border-color: $warning-disabled-border-color,
);

// Danger button
$danger-default-color: tokens.$text-primary-inverted-default;
$danger-default-background: tokens.$emotion-danger-default;
$danger-default-border-color: $danger-default-background;
$danger-hover-color: $danger-default-color;
$danger-hover-background: tokens.$emotion-danger-hover;
$danger-hover-border-color: $danger-hover-background;
$danger-active-color: $danger-default-color;
$danger-active-background: tokens.$emotion-danger-active;
$danger-active-border-color: $danger-active-background;
$danger-disabled-color: $danger-default-color;
$danger-disabled-background: tokens.$emotion-danger-disabled;
$danger-disabled-border-color: $danger-disabled-background;

$danger: (
    default-color: $danger-default-color,
    default-background: $danger-default-background,
    default-border-color: $danger-default-border-color,
    hover-color: $danger-hover-color,
    hover-background: $danger-hover-background,
    hover-border-color: $danger-hover-border-color,
    active-color: $danger-active-color,
    active-background: $danger-active-background,
    active-border-color: $danger-active-border-color,
    disabled-color: $danger-disabled-color,
    disabled-background: $danger-disabled-background,
    disabled-border-color: $danger-disabled-border-color,
);

$variants: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    informative: $informative,
    success: $success,
    warning: $warning,
    danger: $danger,
);
