@use '@tokens' as tokens;

$padding-x: tokens.$space-7;
$padding-y: tokens.$space-4;
$font-family: tokens.$font-family-default;
$font-size: tokens.$font-size-base;
$line-height: tokens.$line-height-default;
$border-width: 1px;
$border-radius: tokens.$radius-1;

// Primary button
$primary-default-color: tokens.$text-primary-inverted-default;
$primary-default-background: tokens.$action-primary-default;
$primary-default-border-color: $primary-default-background;
$primary-hover-color: $primary-default-color;
$primary-hover-background: tokens.$action-primary-hover;
$primary-hover-border-color: $primary-hover-background;
$primary-active-color: $primary-default-color;
$primary-active-background: tokens.$action-primary-hover;
$primary-active-border-color: $primary-active-background;
$primary-disabled-color: $primary-default-color;
$primary-disabled-background: tokens.$action-primary-disabled;
$primary-disabled-border-color: $primary-disabled-background;

$primary: (
    default-color: $primary-default-color,
    default-background: $primary-default-background,
    default-border-color: $primary-default-border-color,
    hover-color: $primary-hover-color,
    hover-background: $primary-hover-background,
    hover-border-color: $primary-hover-border-color,
    active-color: $primary-active-color,
    active-background: $primary-active-background,
    active-border-color: $primary-active-border-color,
    disabled-color: $primary-disabled-color,
    disabled-background: $primary-disabled-background,
    disabled-border-color: $primary-disabled-border-color,
);

// Secondary button
$secondary-default-color: tokens.$action-primary-default;
$secondary-default-background: tokens.$white;
$secondary-default-border-color: $secondary-default-color;
$secondary-hover-color: tokens.$action-primary-hover;
$secondary-hover-background: $secondary-default-background;
$secondary-hover-border-color: $secondary-hover-color;
$secondary-active-color: tokens.$action-primary-active;
$secondary-active-background: $secondary-default-background;
$secondary-active-border-color: $secondary-active-color;
$secondary-disabled-color: tokens.$action-primary-disabled;
$secondary-disabled-background: $secondary-default-background;
$secondary-disabled-border-color: $secondary-disabled-color;

$secondary: (
    default-color: $secondary-default-color,
    default-background: $secondary-default-background,
    default-border-color: $secondary-default-border-color,
    hover-color: $secondary-hover-color,
    hover-background: $secondary-hover-background,
    hover-border-color: $secondary-hover-border-color,
    active-color: $secondary-active-color,
    active-background: $secondary-active-background,
    active-border-color: $secondary-active-border-color,
    disabled-color: $secondary-disabled-color,
    disabled-background: $secondary-disabled-background,
    disabled-border-color: $secondary-disabled-border-color,
);

// Tertiary button
$tertiary-default-color: tokens.$text-primary-inverted-default;
$tertiary-default-background: tokens.$action-secondary-default;
$tertiary-default-border-color: $tertiary-default-background;
$tertiary-hover-color: $tertiary-default-color;
$tertiary-hover-background: tokens.$action-secondary-hover;
$tertiary-hover-border-color: $tertiary-hover-background;
$tertiary-active-color: $tertiary-default-color;
$tertiary-active-background: tokens.$action-secondary-active;
$tertiary-active-border-color: $tertiary-active-background;
$tertiary-disabled-color: $tertiary-default-color;
$tertiary-disabled-background: tokens.$action-primary-disabled;
$tertiary-disabled-border-color: $tertiary-disabled-background;

$tertiary: (
    default-color: $tertiary-default-color,
    default-background: $tertiary-default-background,
    default-border-color: $tertiary-default-border-color,
    hover-color: $tertiary-hover-color,
    hover-background: $tertiary-hover-background,
    hover-border-color: $tertiary-hover-border-color,
    active-color: $tertiary-active-color,
    active-background: $tertiary-active-background,
    active-border-color: $tertiary-active-border-color,
    disabled-color: $tertiary-disabled-color,
    disabled-background: $tertiary-disabled-background,
    disabled-border-color: $tertiary-disabled-border-color,
);

// Info button
$info-default-color: tokens.$text-primary-inverted-default;
$info-default-background: tokens.$emotion-info-default;
$info-default-border-color: $info-default-background;
$info-hover-color: $info-default-color;
$info-hover-background: tokens.$emotion-info-hover;
$info-hover-border-color: $info-hover-background;
$info-active-color: $info-default-color;
$info-active-background: tokens.$emotion-info-active;
$info-active-border-color: $info-active-background;
$info-disabled-color: $info-default-color;
$info-disabled-background: tokens.$emotion-info-disabled;
$info-disabled-border-color: $info-disabled-background;

$info: (
    default-color: $info-default-color,
    default-background: $info-default-background,
    default-border-color: $info-default-border-color,
    hover-color: $info-hover-color,
    hover-background: $info-hover-background,
    hover-border-color: $info-hover-border-color,
    active-color: $info-active-color,
    active-background: $info-active-background,
    active-border-color: $info-active-border-color,
    disabled-color: $info-disabled-color,
    disabled-background: $info-disabled-background,
    disabled-border-color: $info-disabled-border-color,
);

// Success button
$success-default-color: tokens.$text-primary-inverted-default;
$success-default-background: tokens.$emotion-success-default;
$success-default-border-color: $success-default-background;
$success-hover-color: $success-default-color;
$success-hover-background: tokens.$emotion-success-hover;
$success-hover-border-color: $success-hover-background;
$success-active-color: $success-default-color;
$success-active-background: tokens.$emotion-success-active;
$success-active-border-color: $success-active-background;
$success-disabled-color: $success-default-color;
$success-disabled-background: tokens.$emotion-success-disabled;
$success-disabled-border-color: $success-disabled-background;

$success: (
    default-color: $success-default-color,
    default-background: $success-default-background,
    default-border-color: $success-default-border-color,
    hover-color: $success-hover-color,
    hover-background: $success-hover-background,
    hover-border-color: $success-hover-border-color,
    active-color: $success-active-color,
    active-background: $success-active-background,
    active-border-color: $success-active-border-color,
    disabled-color: $success-disabled-color,
    disabled-background: $success-disabled-background,
    disabled-border-color: $success-disabled-border-color,
);

// Warning button
$warning-default-color: tokens.$text-primary-inverted-default;
$warning-default-background: tokens.$emotion-warning-default;
$warning-default-border-color: $warning-default-background;
$warning-hover-color: $warning-default-color;
$warning-hover-background: tokens.$emotion-warning-hover;
$warning-hover-border-color: $warning-hover-background;
$warning-active-color: $warning-default-color;
$warning-active-background: tokens.$emotion-warning-active;
$warning-active-border-color: $warning-active-background;
$warning-disabled-color: $warning-default-color;
$warning-disabled-background: tokens.$emotion-warning-disabled;
$warning-disabled-border-color: $warning-disabled-background;

$warning: (
    default-color: $warning-default-color,
    default-background: $warning-default-background,
    default-border-color: $warning-default-border-color,
    hover-color: $warning-hover-color,
    hover-background: $warning-hover-background,
    hover-border-color: $warning-hover-border-color,
    active-color: $warning-active-color,
    active-background: $warning-active-background,
    active-border-color: $warning-active-border-color,
    disabled-color: $warning-disabled-color,
    disabled-background: $warning-disabled-background,
    disabled-border-color: $warning-disabled-border-color,
);

// Danger button
$danger-default-color: tokens.$text-primary-inverted-default;
$danger-default-background: tokens.$emotion-danger-default;
$danger-default-border-color: $danger-default-background;
$danger-hover-color: $danger-default-color;
$danger-hover-background: tokens.$emotion-danger-hover;
$danger-hover-border-color: $danger-hover-background;
$danger-active-color: $danger-default-color;
$danger-active-background: tokens.$emotion-danger-active;
$danger-active-border-color: $danger-active-background;
$danger-disabled-color: $danger-default-color;
$danger-disabled-background: tokens.$emotion-danger-disabled;
$danger-disabled-border-color: $danger-disabled-background;

$danger: (
    default-color: $danger-default-color,
    default-background: $danger-default-background,
    default-border-color: $danger-default-border-color,
    hover-color: $danger-hover-color,
    hover-background: $danger-hover-background,
    hover-border-color: $danger-hover-border-color,
    active-color: $danger-active-color,
    active-background: $danger-active-background,
    active-border-color: $danger-active-border-color,
    disabled-color: $danger-disabled-color,
    disabled-background: $danger-disabled-background,
    disabled-border-color: $danger-disabled-border-color,
);

$variants: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    info: $info,
    success: $success,
    warning: $warning,
    danger: $danger,
);
