@use 'sass:map';

@mixin variant($variant, $variables) {
    .lmc-Button--#{$variant} {
        color: map.get($variables, default-color);
        background-color: map.get($variables, default-background);
        border-color: map.get($variables, default-border-color);

        &:hover,
        &:focus {
            color: map.get($variables, hover-color);
            background-color: map.get($variables, hover-background);
            border-color: map.get($variables, hover-border-color);
        }

        &:active {
            color: map.get($variables, active-color);
            background-color: map.get($variables, active-background);
            border-color: map.get($variables, active-border-color);
        }

        &:disabled {
            color: map.get($variables, disabled-color);
            background-color: map.get($variables, disabled-background);
            border-color: map.get($variables, disabled-border-color);
            cursor: default;
            pointer-events: none;
        }
    }
}
