<section class="docs-Section">

    <h2 class="docs-Heading">Inverted Header with Actions and Header Dialog</h2>

    <p>Using the Offcanvas JS plugin.</p>

    <Header color="inverted">

        {% include '@components/Header/stories/_partials/SpiritLogo.twig' %}

        <HeaderMobileActions dialogId="header_dialog_example_2_main_navigation" />

        <HeaderDesktopActions aria-label="Main navigation">
            <HeaderNav>
                <HeaderNavItem>
                    <HeaderLink href="#" isCurrent>Job offers</HeaderLink>
                </HeaderNavItem>
                <HeaderNavItem>
                    <HeaderLink href="#">Part-time jobs</HeaderLink>
                </HeaderNavItem>
                <HeaderNavItem>
                    <HeaderLink href="#">Inspiration</HeaderLink>
                </HeaderNavItem>
                <HeaderNavItem>
                    <HeaderLink href="#">Replies</HeaderLink>
                </HeaderNavItem>
                <HeaderNavItem>
                    <HeaderLink href="#">Employers</HeaderLink>
                </HeaderNavItem>
            </HeaderNav>
        </HeaderDesktopActions>

        <HeaderDesktopActions color="secondary" aria-label="User area">
            <HeaderNav>
                <HeaderNavItem class="HeaderNavItem d-none d-desktop-flex">
                    <HeaderButton
                        data-toggle="offcanvas"
                        data-target="#header_dialog_example_2_user_menu"
                        aria-controls="header_dialog_example_2_user_menu"
                        aria-expanded="false"
                    >
                        Marian
                    </HeaderButton>
                </HeaderNavItem>
            </HeaderNav>
        </HeaderDesktopActions>

    </Header>

    <HeaderDialog id="header_dialog_example_2_main_navigation" class="HeaderDialog" aria-label="Menu">
        <HeaderDialogCloseButton dialogId="header_dialog_example_2_main_navigation" />

        <HeaderDialogActions aria-label="Main navigation">
            <HeaderDialogNav>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#" isCurrent>Job offers</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Part-time jobs</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Inspiration</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Replies</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Employers</HeaderDialogLink>
                </HeaderDialogNavItem>
            </HeaderDialogNav>
        </HeaderDialogActions>

        <HeaderDialogActions color="secondary" aria-label="User menu">
            <HeaderDialogNav>
                <HeaderDialogNavItem>
                    <HeaderDialogText class="text-primary-inverted-disabled">Marian</HeaderDialogText>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Dashboard</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Profile</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Favourites</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Notifications</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogButton>Sign out</HeaderDialogButton>
                </HeaderDialogNavItem>
            </HeaderDialogNav>
        </HeaderDialogActions>
    </HeaderDialog>

    <HeaderDialog id="header_dialog_example_2_user_menu" class="HeaderDialog" aria-label="User menu">
        <HeaderDialogCloseButton dialogId="header_dialog_example_2_user_menu" />

        <HeaderDialogActions aria-label="User menu">
            <HeaderDialogNav>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Dashboard</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Profile</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Favourites</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogLink href="#">Notifications</HeaderDialogLink>
                </HeaderDialogNavItem>
                <HeaderDialogNavItem>
                    <HeaderDialogButton>Sign out</HeaderDialogButton>
                </HeaderDialogNavItem>
            </HeaderDialogNav>
        </HeaderDialogActions>
    </HeaderDialog>

</section>
