{% extends 'layout/default.html.twig' %}

{% block title %}Components{% endblock%}

{% block content %}

  {% include 'partials/tabs.html.twig' %}

  <ul class="Grid Grid--cols-2 Grid--tablet--cols-3">

    {% for component in components %}
      <li class="d-grid">
        <a href="components/{{ component | lower }}/" class="docs-Card text-truncate">{{ component }}</a>
      </li>
    {% endfor %}

  </ul>

{% endblock %}
