{% extends 'layout/default.html.twig' %}

{% block content %}

  <section class="UNSTABLE_Section">

    <h2 class="typography-headline-medium-bold text-secondary mb-900 mb-tablet-1100">Components</h2>
    <ul class="Grid Grid--cols-2 Grid--tablet--cols-3 list-unstyled">

      {% for component in components %}
        <li>
          <a href="components/{{ component | lower }}/" class="docs-TileLink">{{ component }}</a>
        </li>
      {% endfor %}

    </ul>

  </section>

{% endblock %}
