{% extends 'layout/default.html.twig' %}

{% block content %}

  <section class="docs-Section">

    <Heading elementType="h2" size="medium" UNSAFE_className="mb-700 mb-tablet-900">
      Components
    </Heading>

    <Grid elementType="ul" cols="2" tablet="3" UNSAFE_className="list-unstyled">

      {% for component in components %}
        <li>
          <a href="/components/{{ component | lower }}/" class="docs-TileLink">{{ component }}</a>
        </li>
      {% endfor %}

    </Grid>

  </section>

{% endblock %}
