{% extends 'layout/default.html.twig' %}

{% block title %}Helpers{% endblock%}

{% block content %}

  {% include 'partials/tabs.html.twig' %}

  <ul class="Grid Grid--cols-2 Grid--tablet--cols-3">

    {% for helper in helpers %}
      <li>
        <a href="helpers/{{ helper }}/" class="docs-Card">{{ helper | replace({'-': ' '}) | title }}</a>
      </li>
    {% endfor %}

  </ul>

{% endblock %}
