{% extends 'layout/default.html.twig' %}

{% block title %}Helpers{% endblock%}

{% block content %}

  {% include 'partials/tabs.html.twig' %}

  <Grid cols="{{ { mobile: 2, tablet: 3 } }}" elementType="ul">

    {% for helper in helpers %}
      <li class="d-grid">
        <a href="helpers/{{ helper }}/" class="docs-Card text-truncate">
          {{ helper | replace({'-': ' '}) | title }}
        </a>
      </li>
    {% endfor %}

  </Grid>

{% endblock %}
