{% extends 'layout/default.html.twig' %}

{% block content %}

  <section class="UNSTABLE_Section">

    <h2 class="typography-headline-medium-bold text-secondary mb-900 mb-tablet-1100">Helpers</h2>
    <ul class="Grid Grid--cols-2 Grid--tablet--cols-3 list-unstyled">

      {% for helper in helpers %}
        <li>
          <a href="helpers/{{ helper }}/" class="docs-TileLink">{{ helper | replace({'-': ' '}) | title }}</a>
        </li>
      {% endfor %}

    </ul>

  </section>

{% endblock %}
