@use '@global' as global-tokens;
@use '../../settings/globals';

$color: var(--#{globals.$prefix}color-text-secondary);
$border-width: global-tokens.$border-width-100;
$border-style: solid;
$border-color: var(--#{globals.$prefix}color-border-secondary-default);
$border-radius: global-tokens.$radius-full;
$border-radius-square: global-tokens.$radius-200;
$background-color: var(--#{globals.$prefix}color-background-secondary);

$sizes: (
    xsmall: (
        width: global-tokens.$space-900,
        height: global-tokens.$space-900,
        typography: global-tokens.$body-xsmall-bold,
    ),
    small: (
        width: global-tokens.$space-1000,
        height: global-tokens.$space-1000,
        typography: global-tokens.$body-small-bold,
    ),
    medium: (
        width: global-tokens.$space-1100,
        height: global-tokens.$space-1100,
        typography: global-tokens.$body-medium-bold,
    ),
    large: (
        width: global-tokens.$space-1200,
        height: global-tokens.$space-1200,
        typography: global-tokens.$body-large-bold,
    ),
    xlarge: (
        width: global-tokens.$space-1400,
        height: global-tokens.$space-1400,
        typography: global-tokens.$body-xlarge-bold,
    ),
);
