{{#> layout/base package="Spirit Web React" }}

  {{#*inline "scripts"}}
  <script src="/packages/web-react/src/index.ts" type="module"></script>
  {{/inline}}

  {{> header package="Web React" }}

  <main class="bg-primary py-1100 py-tablet-1600">
    <div class="Container">

      {{> web-react/tabs }}

      {{> @partial-block }}

    </div>
  </main>

{{/layout/base }}
