{{#> layout/base package="Web React" packageUrl="/packages/web-react/" title=title}}

  {{#*inline "scripts"}}
    <script src="/packages/web-react/src/index.ts" type="module"></script>
  {{/inline}}

  {{> header}}
  {{> cover}}

  <main class="py-1100">
    <div class="Container">

      {{> @partial-block }}

    </div>
  </main>

  {{> footer}}

{{/layout/base }}
