{{#> layout/base package="Web React" packageUrl="/packages/web-react/" title=title}}

  {{#*inline "scripts"}}
    <script src="/packages/web-react/src/index.ts" type="module"></script>
  {{/inline}}

  {{> header}}

  <main id="skiplink-main-content">

      {{> cover}}

      {{> @partial-block }}

  </main>

  {{> footer}}

{{/layout/base }}
