@use '@tokens' as tokens;

@forward '../../../components/Button/theme' with (
    $padding-x: 24px,
    $padding-y: 0,
    $border-radius: 0,
    $line-height: 40px,

    $secondary-default-color: #0049ac,
    $secondary-default-background: #fff,
    $secondary-default-border-color: #a6a9ae,
    $secondary-hover-color: #1b6494,
    $secondary-hover-background: #fff,
    $secondary-hover-border-color: #1b6494,
    $secondary-active-color: #1b6494,
    $secondary-active-background: #fff,
    $secondary-active-border-color: #1b6494,

    $tertiary-default-color: #e8e8e8,
    $tertiary-default-background: transparent,
    $tertiary-default-border-color: #e8e8e8,
    $tertiary-hover-color: #fff,
    $tertiary-hover-background: transparent,
    $tertiary-hover-border-color: tokens.$brand-primary,
    $tertiary-active-color: #fff,
    $tertiary-active-background: transparent,
    $tertiary-active-border-color: tokens.$brand-primary,
);
