# Build files
**/dist
**/build
**/.build
packages/**/types/*
packages/**/esm/*
packages/**/cjs/*
packages/**/umd/*
static/assets/icons/react

**/cache

# Ignoring html files because Prettier prefers closing slash on the end of the tag
# @See: https://github.com/lmc-eu/spirit-design-system/pull/77/files#r764183332
**/*.html

# Ignoring js files because they are already formatted by ESLint (which is using Prettier plugin)
**/*.js

# Code coverage
**/coverage
**/coverage/**
**/.coverage
**/.coverage/**

# Handlebars partials are not supported by Prettier
packages/**/*.hbs
*.hbs

# PHP files
**/vendor
**/vendor/**
*.php

# Twig files
*.twig

# Narwal NX files (cache etc.)
.nx
/.nx/cache

# Ignore codemods test outputs, because we compare them with generated code which we cannot format
packages/codemods/src/transforms/**/*.output.tsx

# Yarn Modern
# @see: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/plugins
.yarn/releases
.yarn/*.gz

# Lock Files
*.lock

# Makefiles
Makefile
makefile

# Images
*.png

# Ignore File
.*ignore

# Husky.js Files
.husky/*

# Shell Scripts
*.sh

# Favicon
*.ico

# GitHub
CODEOWNERS

# Unformatted fixtures
**/{fixtures}/**/unformatted*
**/__fixtures__/unformatted*

# tokens exporter generated cjs
exporters/tokens/generated/**/*.cjs

# exporter proprietary files
*.pr

# Docker
Dockerfile

# Node version
.nvmrc
