<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Logger/Logger.php</file>
            <file>src/SpiritWebTwigBundle.php</file>
        </exclude>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="90"/>
        </report>
    </coverage>
    <php>
        <!-- E_ALL = 30719 -->
        <ini name="error_reporting" value="30719"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <!-- Tests defined by directory are run in serial mode. Mind the order! -->
            <!-- Solves the problem of AbstractComponentSnapshotTest vs ComponentTest where Twig namespace differs from each other -->
            <!-- @see: https://stackoverflow.com/questions/10228/run-phpunit-tests-in-certain-order -->
            <directory suffix="Test.php">docs/components/**/__tests__/</directory>
            <directory suffix="Test.php">src/Resources/components/**/__tests__/</directory>
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>
</phpunit>
