@use '../../theme/form-fields' as form-fields-theme;
@use '../../tools/accessibility';
@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

.FileUploaderAttachment {
    @include typography.generate(theme.$attachment-typography);

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: theme.$attachment-column-gap;
    align-items: center;
    padding: theme.$attachment-padding;
    color: theme.$attachment-color;
    border: theme.$attachment-border;
    border-radius: theme.$attachment-border-radius;
    background-color: theme.$attachment-background;
}

.FileUploaderAttachment__remove {
    @include reset.button();
    @include accessibility.min-tap-target($size: theme.$attachment-remove-button-size);

    color: inherit;

    &:focus-visible {
        outline: 0;
        box-shadow: form-fields-theme.$input-focus-shadow;
    }
}
