@use '@tokens' as tokens;

$input-drop-zone-padding: tokens.$space-700;
$input-drop-zone-column-gap: tokens.$space-700;
$input-drop-zone-border: tokens.$border-width-200 solid tokens.$form-field-border-default;
$input-drop-zone-draggable-border: tokens.$border-width-200 dashed tokens.$form-field-border-default;
$input-drop-zone-dragging-border: tokens.$border-width-200 dashed tokens.$form-field-border-selected;
$input-drop-zone-border-color-hover: tokens.$form-field-border-hover;
$input-drop-zone-border-color-active: tokens.$form-field-border-active;
$input-drop-zone-border-radius: tokens.$radius-300;
$input-drop-zone-background: tokens.$background-interactive-default;
$input-drop-zone-background-hover: tokens.$background-interactive-hover;
$input-drop-zone-background-active: tokens.$background-interactive-active;
$input-drop-zone-label-typography: tokens.$body-medium-regular;
$input-drop-zone-label-color: tokens.$text-primary;
$input-drop-zone-icon-color: tokens.$action-link-primary-default;

$list-row-gap: tokens.$space-700;

$attachment-column-gap: tokens.$space-700;
$attachment-padding: tokens.$space-700;
$attachment-typography: tokens.$body-medium-semibold;
$attachment-color: tokens.$text-primary;
$attachment-border: tokens.$border-width-100 solid tokens.$border-basic;
$attachment-border-radius: tokens.$radius-300;
$attachment-background: tokens.$background-primary;
$attachment-image-border: tokens.$border-width-100 solid tokens.$border-basic;
$attachment-image-border-radius: tokens.$radius-200;
$attachment-tap-target-size: tokens.$space-1100;
