.text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-truncate-multiline {
    // stylelint-disable-next-line value-no-vendor-prefix -- We need the old flexbox syntax to make the trick work.
    display: -webkit-box;
    -webkit-line-clamp: var(--text-truncate-lines, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
