@use '@tokens' as tokens;

$spacing: tokens.$space-300;

$label-typography: tokens.$body-small-text-regular;
$label-color-default: tokens.$text-secondary-default;
$label-color-disabled: tokens.$text-secondary-disabled;
$label-required-color: tokens.$emotion-danger-default;

$input-padding-x: tokens.$space-400;
$input-padding-y: tokens.$space-400;
$input-typography: tokens.$body-medium-text-regular;
$input-color-default: tokens.$text-primary-default;
$input-color-disabled: tokens.$text-primary-disabled;
$input-border-width: tokens.$border-width-100;
$input-border-style: tokens.$border-style-100;
$input-border-color-default: tokens.$border-main-default;
$input-border-color-hover: tokens.$border-main-hover;
$input-border-color-focus: tokens.$border-focus-default;
$input-border-color-disabled: tokens.$border-main-disabled;
$input-border-color-success: tokens.$emotion-success-default;
$input-border-color-warning: tokens.$emotion-warning-default;
$input-border-color-error: tokens.$emotion-danger-default;
$input-border-radius: tokens.$radius-100;
$input-background: tokens.$background-basic;
$input-placeholder-color-default: tokens.$text-secondary-default;
$input-placeholder-color-disabled: tokens.$text-secondary-disabled;

$message-typography: tokens.$body-medium-text-regular;
$message-color-default: tokens.$text-secondary-default;
$message-color-disabled: tokens.$text-secondary-disabled;
$message-color-success: tokens.$emotion-success-default;
$message-color-warning: tokens.$emotion-warning-default;
$message-color-error: tokens.$emotion-danger-default;

$theme: (
    spacing: $spacing,
    label-typography: $label-typography,
    label-color-default: $label-color-default,
    label-color-disabled: $label-color-disabled,
    label-required-color: $label-required-color,
    input-padding-x: $input-padding-x,
    input-padding-y: $input-padding-y,
    input-typography: $input-typography,
    input-color-default: $input-color-default,
    input-color-disabled: $input-color-disabled,
    input-border-width: $input-border-width,
    input-border-style: $input-border-style,
    input-border-color-default: $input-border-color-default,
    input-border-color-hover: $input-border-color-hover,
    input-border-color-focus: $input-border-color-focus,
    input-border-color-disabled: $input-border-color-disabled,
    input-border-color-success: $input-border-color-success,
    input-border-color-warning: $input-border-color-warning,
    input-border-color-error: $input-border-color-error,
    input-border-radius: $input-border-radius,
    input-background: $input-background,
    input-placeholder-color-default: $input-placeholder-color-default,
    input-placeholder-color-disabled: $input-placeholder-color-disabled,
    message-typography: $message-typography,
    message-color-default: $message-color-default,
    message-color-disabled: $message-color-disabled,
    message-color-success: $message-color-success,
    message-color-warning: $message-color-warning,
    message-color-error: $message-color-error,
);

$variants: (success, warning, error);
