{% extends 'layout/plain.html.twig' %}

{% block content %}

    <section class="docs-Section">
        <h2 class="docs-Heading">Default</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectDefault.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Required with Placeholder</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectRequiredWithPlaceholder.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Hidden Label</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectHiddenLabel.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Placeholder</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectPlaceholder.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Helper Text</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectHelperText.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Disabled</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectDisabled.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Validation State with Validation Text</h2>

        <div class="docs-FormFieldGrid">
            {% include '@components/Select/stories/SelectValidation.twig' %}
        </div>
    </section>

    <section class="docs-Section">
        <h2 class="docs-Heading">Fluid</h2>

        {% include '@components/Select/stories/SelectFluid.twig' %}
    </section>

{% endblock %}
