@use '@global' as global-tokens;
@use '../../settings/globals';

$gap: global-tokens.$space-500;
$icon-color-default: var(--#{globals.$prefix}color-selected-content-basic);
$icon-color-disabled: var(--#{globals.$prefix}color-disabled-content);
