@use 'sass:map';
@use 'theme' as theme;
@use '../../tools/breakpoint';

.EmptyState {
    display: grid;
    justify-content: center;
    text-align: center;
}

.EmptyState__section {
    display: grid;
    width: 100%;
    max-width: 400px;
}
