<DropdownWrapper>
    <Button
        data-spirit-toggle="dropdown"
        data-spirit-target="#dropdown-various-items"
    >
        Button as anchor
    </Button>
    <Dropdown id="dropdown-various-items">
        <Item elementType="a" href="#" label="Plain text" />
        <Item elementType="a" href="#" iconName="info" label="Item with icon" />
        <Checkbox id="checkbox-item" name="checkbox-item" label="Item with checkbox" isItem />
        <Radio id="radio-item" name="radio-item" label="Item with checkbox" isItem isChecked />
    </Dropdown>
</DropdownWrapper>
