<DropdownWrapper>
    <Button
        data-spirit-toggle="dropdown"
        data-spirit-target="#dropdown-full-width-mode-mobile"
    >
        Finibus quis imperdiet, semper imperdiet aliquam
    </Button>
    <Dropdown id="dropdown-full-width-mode-mobile" fullWidthMode="mobile-only" placement="top-start">
        <Item elementType="a" href="#" iconName="info" label="Information" />
        <Item elementType="a" href="#" iconName="link" label="Bibendum aliquam, fusce integer sit amet congue non nulla aliquet enim" />
        <Item elementType="a" href="#" iconName="profile" label="Profile" />
        <Item elementType="a" href="#" iconName="help" label="Help" />
    </Dropdown>
</DropdownWrapper>
