@use 'sass:list';
@use '@tokens' as tokens;

$size: small, medium, large;
$size-extended: list.join($size, (xsmall, xlarge));
$action-colors: primary, secondary, tertiary, inverted;
$action-link-colors: primary, secondary, inverted;
$emotion-colors: success, informative, warning, danger;
$text-colors: primary, secondary, primary-inverted, secondary-inverted;
