@use '@global-tokens' as global-tokens;

$_coefficient: 1; // Tweak this to adjust the duration of all transitions during development.

$duration-100: $_coefficient * 0.125s;
$duration-200: $_coefficient * 0.25s;
$duration-300: $_coefficient * 0.5s;
$duration-400: $_coefficient * 0.75s;
$duration-500: $_coefficient * 1s;
$duration-600: $_coefficient * 1.25s;

$timing-eased-out: ease-out;
$timing-eased-in-out: ease-in-out;
$timing-eased-in-out-fast: cubic-bezier(0.4, 0, 0.2, 1);

$scale-ratio-small-objects: 0.95;
$scale-ratio-large-objects: 0.975;

$shift-distance-medium: global-tokens.$space-700;
