<section class="docs-Section">

    <h2 class="docs-Heading">Default</h2>

    <p>
        <Link href="#">
            Link
        </Link>
    </p>

    <p>
        <Link
            href="#"
            color="primary"
            isUnderlined
        >
            Primary Underlined Link
        </Link>
    </p>

    <p>
        <Link
            href="#"
            color="primary"
            isDisabled
        >
            Primary Disabled Link
        </Link>
    </p>

    <p>
        <Link href="https://www.example.com/" target="_blank" title="Warning">
            ⚠️
        </Link>
    </p>

</section>
