// 1. Use custom properties to prevent inheritance issues.
// 2. Remove whitespace from children, for example icons.

@use '@tokens' as tokens;
@use '../../tools/accessibility';

$_tap-target-size: 40px;

.accessibility-hidden {
    @include accessibility.hide-text();
}

.accessibility-tap-target {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: max($_tap-target-size, 100%);
        height: max($_tap-target-size, 100%);
        translate: -50% -50%;
    }
}

// 1.
[aria-expanded='true'] {
    --#{tokens.$css-variable-prefix}accessibility-expanded-open-display: initial;
    --#{tokens.$css-variable-prefix}accessibility-expanded-closed-display: none;
}

[aria-expanded='false'] {
    --#{tokens.$css-variable-prefix}accessibility-expanded-open-display: none;
    --#{tokens.$css-variable-prefix}accessibility-expanded-closed-display: initial;
}

[aria-expanded] .accessibility-open {
    display: var(--#{tokens.$css-variable-prefix}accessibility-expanded-open-display);
}

[aria-expanded] .accessibility-closed {
    display: var(--#{tokens.$css-variable-prefix}accessibility-expanded-closed-display);
}

// 1.
[aria-checked='true'] {
    --#{tokens.$css-variable-prefix}accessibility-checked-checked-display: inline-flex; // 2.
    --#{tokens.$css-variable-prefix}accessibility-checked-unchecked-display: none;
}

[aria-checked='false'] {
    --#{tokens.$css-variable-prefix}accessibility-checked-checked-display: none;
    --#{tokens.$css-variable-prefix}accessibility-checked-unchecked-display: inline-flex; // 2.
}

[aria-checked] .accessibility-checked {
    display: var(--#{tokens.$css-variable-prefix}accessibility-checked-checked-display);
}

[aria-checked] .accessibility-unchecked {
    display: var(--#{tokens.$css-variable-prefix}accessibility-checked-unchecked-display);
}
