<section class="docs-Section">

    <h3 class="docs-Heading">Stacked Blocks with Inner and Outer Dividers and Vertical Spacing</h3>

    <Stack elementType="ul" hasSpacing hasIntermediateDividers hasStartDivider hasEndDivider>
        {% for i in 1..3 %}
            <li>
                <div class="docs-Box">
                    Block {{ i }}
                </div>
            </li>
        {% endfor %}
    </Stack>

</section>
