@use 'theme';
@use 'tools';
@use '../../tools/typography';

.Alert {
    @include typography.generate(theme.$typography);

    width: 100%;
    padding: theme.$space-inner theme.$space-inner theme.$space-inner
        (theme.$space-inner + theme.$icon-width + theme.$space-icon);
    margin-right: theme.$space-icon;
    background-position: theme.$space-inner theme.$space-inner;
    background-repeat: no-repeat;
    border-radius: theme.$border-radius;
}

.Alert strong {
    font-weight: theme.$emphasis-font-weight;
}

@each $variant, $variables in theme.$variants {
    @include tools.variant($variant, $variables);
}
