@use 'theme';
@use '../../tools/dictionaries';
@use '../../tools/typography';

.Alert {
    @include typography.generate(theme.$typography);

    display: grid;
    grid-template-columns: auto auto;
    gap: theme.$gap;
    justify-content: flex-start;
    width: 100%;
    padding: theme.$padding;
    border: theme.$border-width theme.$border-style var(--alert-color);
    border-radius: theme.$border-radius;
}

.Alert strong {
    font-weight: theme.$emphasis-font-weight;
}

.Alert--center {
    grid-template-columns: auto fit-content(#{theme.$content-max-width});
    justify-content: center;
}

@include dictionaries.generate-colors('Alert', theme.$color-dictionary, theme.$color-dictionary-config);
@include dictionaries.generate-colors(
    'Alert',
    theme.$color-dictionary,
    theme.$color-dictionary-config,
    theme.$link-color-dictionary-states,
    null,
    'alert-link',
    ' :where(a)' // select all <a> elements inside .Alert with low specificity
);
