@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$typography: tokens.$body-medium-text-regular;

$gap: tokens.$space-600;
$padding: tokens.$space-600;
$border-radius: tokens.$radius-200;
$border-style: tokens.$border-style-100;
$border-width: tokens.$border-width-100;

$content-max-width: 640px;

$emphasis-font-weight: map.get(tokens.$body-medium-text-bold, 'mobile', 'font-weight');

$color-dictionary: dictionaries.$emotion-colors;

$color-dictionary-config: (
    color: 'default',
    background-color: 'background',
);

$link-color-dictionary-states: (
    '&:hover, &:focus': (
        color: 'hover',
    ),
    '&:active': (
        color: 'active',
    ),
);
