@use 'sass:map';
@use '@tokens' as tokens;

$typography: tokens.$body-medium-text-regular;

$gap: tokens.$space-600;
$padding: tokens.$space-600;
$border-radius: tokens.$radius-200;

$content-max-width: 640px;

$emphasis-font-weight: map.get(tokens.$body-medium-text-bold, 'mobile', 'font-weight');

$variants: (
    success: (
        color: tokens.$emotion-success-default,
        background-color: tokens.$emotion-success-background,
    ),
    danger: (
        color: tokens.$emotion-danger-default,
        background-color: tokens.$emotion-danger-background,
    ),
    informative: (
        color: tokens.$emotion-informative-default,
        background-color: tokens.$emotion-informative-background,
    ),
);
