@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$typography: tokens.$body-medium-regular;

$gap: tokens.$space-700;
$padding: tokens.$space-700;
$border-radius: tokens.$radius-300;
$border-style: solid;
$border-width: tokens.$border-width-100;

$content-max-width: 800px;

$color-dictionary: (
    emotion: dictionaries.$emotion-colors,
);

$color-dictionary-config: (
    color: 'content-basic',
    border-color: 'border-basic',
    background-color: 'background-subtle',
);
