@use '@global-tokens' as global-tokens;
@use '../../settings/dictionaries';

$breakpoints: global-tokens.$breakpoints;
$offset: global-tokens.$space-500;
$padding: global-tokens.$space-700;
$border-radius: global-tokens.$radius-300;
$background: var(--#{global-tokens.$token-prefix}color-background-primary);
$shadow: global-tokens.$shadow-200;
$placement-dictionary: dictionaries.$placement;
