@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$breakpoints: tokens.$breakpoints;
$offset: tokens.$space-400;
$padding: tokens.$space-600;
$border-radius: tokens.$radius-200;
$background: tokens.$background-basic;
$shadow: tokens.$shadow-200;
$placement-dictionary: dictionaries.$placement;
