@use 'theme';
@use '../../tools/dictionaries';
@use '../../tools/typography';

.Pill {
    @include typography.generate(theme.$typography);

    display: inline-block;
    min-width: 1rem;
    height: 1rem;
    padding: theme.$padding-y theme.$padding-x;
    text-align: center;
    border-radius: theme.$border-radius;
}

@include dictionaries.generate-colors(
    theme.$color-dictionary,
    (
        text: 'color',
        default: 'background-color',
    ),
    'Pill'
);
