@use '@tokens' as tokens;

$typography: tokens.$body-xsmall-text-bold;
$padding-x: tokens.$space-300;
$padding-y: tokens.$space-0;
$border-radius: tokens.$radius-300;

$selected: (
    default-color: tokens.$text-primary-inverted-default,
    default-background: tokens.$action-selected-default,
);

$danger: (
    default-color: tokens.$text-primary-inverted-default,
    default-background: tokens.$emotion-danger-default,
);

$informative: (
    default-color: tokens.$text-primary-inverted-default,
    default-background: tokens.$emotion-informative-default,
);

$success: (
    default-color: tokens.$text-primary-inverted-default,
    default-background: tokens.$emotion-success-default,
);

$warning: (
    default-color: tokens.$text-primary-inverted-default,
    default-background: tokens.$emotion-warning-default,
);

$variants: (
    selected: $selected,
    danger: $danger,
    informative: $informative,
    success: $success,
    warning: $warning,
);
