@use 'sass:list';
@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$typography: tokens.$body-xsmall-bold;
$padding-x: tokens.$space-300;
$padding-y: tokens.$space-0;
$border-radius: tokens.$radius-400;

$color-dictionary: (
    emotion: dictionaries.$emotion-colors,
    neutral: neutral,
);

$color-dictionary-config: (
    color: 'content-subtle',
    background-color: 'background-basic',
);

$color-selected-dictionary: (
    selected: selected,
);

$color-selected-dictionary-config: (
    color: 'content-subtle',
    background-color: 'default',
);
