@use 'sass:list';
@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$typography: tokens.$body-xsmall-text-bold;
$padding-x: tokens.$space-300;
$padding-y: tokens.$space-0;
$border-radius: tokens.$radius-300;

$_pill-colors: selected, unselected;

$color-dictionary: list.join(list.join(dictionaries.$emotion-colors, dictionaries.$action-colors), $_pill-colors);

$color-dictionary-config: (
    color: tokens.$text-primary-inverted-default,
    background-color: 'default',
);

$color-dictionary-overrides: (
    tertiary: (
        color: tokens.$text-primary-default,
    ),
    inverted: (
        color: tokens.$text-primary-default,
    ),
);
