{% extends 'layout/base.html.twig' %}


{% block body %}

  {% block header %}{% include 'partials/header.html.twig' %}{% endblock %}

  <main class="py-1100 py-tablet-1600">
    <div class="Container">

      {% include 'partials/tabs.html.twig' %}

      {% block content %}{% endblock %}

    </div>
  </main>
{% endblock %}
