{{#> layout/base package="Form Validations" packageUrl="/packages/form-validations/" title=title}}

  {{> header}}
  {{> cover}}

  <main id="skiplink-main-content">
    <div class="Container">

      {{> @partial-block}}

    </div>
  </main>

  {{> footer}}

{{/layout/base}}
