{{#> layout/base package="Form Validations" packageUrl="/packages/form-validations/" title=title}}

  {{> header}}

  <main id="skiplink-main-content">
    
    {{> cover}}

    {{> @partial-block}}
  
  </main>

  {{> footer}}

{{/layout/base}}
