@use '../../tools/typography';
@use 'theme';

// TODO Separate subcomponents?
.Card__eyebrow {
    @include typography.generate(theme.$eyebrow-typography);

    margin-bottom: theme.$eyebrow-margin-bottom;
    color: theme.$eyebrow-color;
}

.Card__heading {
    @include typography.generate(theme.$heading-typography);

    color: theme.$heading-color;

    &:not(:last-child) {
        margin-bottom: theme.$heading-margin-bottom;
    }
}
