// 1. Restore interactions for individual actions.

@use '../../tools/dictionaries';
@use 'theme';
@use 'tools';

.CardActions {
    @include tools.card-content-element();
    @include tools.add-spacing();

    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    grid-area: footer;
    gap: theme.$actions-gap;
    pointer-events: none;
}

// stylelint-disable-next-line selector-max-universal -- 1.
.CardActions > * {
    pointer-events: auto;
}

@include dictionaries.generate-alignments(
    $class-name: 'CardActions',
    $dictionary-values: theme.$actions-alignment-dictionary,
    $axis: 'x'
);
