// 1. Get ready for card link overlay.
// 2. If there is a capped CardMedia in a boxed vertical card, replace card padding with empty grid columns.

@use '../../tools/typography';
@use 'theme';

.Card {
    @include typography.generate(theme.$typography);

    position: relative; // 1.
    display: grid;
    color: theme.$color;
}

.Card--vertical {
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'media'
        'body'
        'actions';
}

.Card--boxed {
    border: theme.$border-width theme.$border-style theme.$border-color;
    border-radius: theme.$border-radius;
    background-color: theme.$background-color;

    &:has(.CardLink) {
        @media (hover: hover) {
            transition: box-shadow theme.$transition-duration theme.$transition-timing;

            &:hover {
                box-shadow: theme.$box-shadow-hover;
            }
        }
    }

    &:not(:has(.CardMedia--expanded)) {
        padding: theme.$padding;
    }
}

.Card--boxed.Card--vertical {
    &:has(.CardMedia--expanded) {
        grid-template-columns: theme.$gap 1fr theme.$gap; // 2.
        grid-template-rows: theme.$gap auto 1fr auto;
        grid-template-areas:
            'media media media'
            'media media media'
            '. body .'
            '. actions .';
    }

    &:has(.CardMedia:not(:only-child)) {
        padding-bottom: theme.$padding;
    }
}
