@use '@tokens' as tokens;
@use '../../settings/dictionaries';
@use '../../settings/transitions';

$gap: tokens.$space-900;
$gap-dense: tokens.$space-700;

$padding: tokens.$space-900;

$typography: tokens.$body-medium-regular;

$border-width: tokens.$border-width-100;
$border-style: solid;
$border-color: tokens.$border-basic;
$border-radius: tokens.$radius-300;

$background-color: tokens.$background-primary;
$color: tokens.$text-secondary;
$box-shadow-state-hover: tokens.$shadow-100;

$transition-duration: transitions.$duration-100;
$transition-timing: transitions.$timing-eased-in-out;

$media-border-radius: tokens.$radius-300;
$media-sizes: (
    auto: (
        size: auto,
    ),
    small: (
        size: 140px,
    ),
    medium: (
        size: 216px,
    ),
    large: (
        size: 280px,
    ),
);

$eyebrow-typography: tokens.$body-small-semibold;
$eyebrow-color: tokens.$text-tertiary;
$eyebrow-margin-bottom: tokens.$space-300;

$title-typography: tokens.$body-large-regular;
$title-heading-typography: tokens.$heading-small-semibold;
$title-color: tokens.$text-primary;
$title-margin-bottom: tokens.$space-500;

$footer-alignment-dictionary: dictionaries.$alignments-x;
$footer-gap: tokens.$space-700;
