@use '@global' as global-tokens;
@use '../../settings/globals';

$border-width: global-tokens.$border-width-100;
$border-style: solid;
$border-color: var(--#{globals.$prefix}color-border-secondary-default);
