@use 'theme';
@use 'tools';

.Container {
    width: 100%;
    max-width: theme.$container-max-width;
    margin-inline: auto;
    box-sizing: border-box;

    @include tools.paddings(theme.$container-paddings, theme.$container-breakpoints);
}
