<section class="docs-Section">
    <h2 class="docs-Heading">Select Fluid</h2>

    <div class="docs-FormFieldGrid">
        <Select id="select-fluid" name="select-fluid" label="Input label" isFluid>
            <option value="" selected>Placeholder</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <optgroup label="Sub options">
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </optgroup>
        </Select>
    </div>
</section>

