@use 'sass:map';
@use '@themes' as themes;
@use '../tools/themes' as themes-tools;

$isDefaultTheme: true;

@each $key, $value in themes.$themes {
    $theme-colors: map.get($value, 'colors');
    $theme-gradients: map.get($value, 'gradients');
    $theme-shadows: map.get($value, 'shadows');
    $selector: if($isDefaultTheme, ':root, .#{$key}', '.#{$key}');

    #{$selector} {
        @include themes-tools.generate-css-variables($theme-colors, 'color');
        @include themes-tools.generate-css-variables($theme-gradients, 'gradient');
        @include themes-tools.generate-css-variables($theme-shadows, 'shadow');
    }

    $isDefaultTheme: false;
}
