{{#> web/layout/default page="helpers"}}

  {{#> section title="Helpers"}}

    {{#> boxList}}

      {{#each @helpers as |helper|}}
      <li>
        <a href="{{helper.name}}/" class="docs-TileLink">{{helper.title}}</a>
      </li>
      {{/each}}

    {{/boxList}}

  {{/section}}

{{/web/layout/default}}
