{{#> web/layout/default page="helpers" title="Helpers"}}

  {{> web/tabs}}

  {{#> cardList}}
    {{#each @helpers as |helper|}}
      <li class="d-grid">
        <a href="{{helper.name}}/" class="docs-Card text-truncate">{{helper.title}}</a>
      </li>
    {{/each}}
  {{/cardList}}

{{/web/layout/default}}
