{{#> web/layout/default page="icons"}}

  {{#> section title="Icons"}}

    {{#> tileList}}

      {{#each @icons as |icon|}}
        <li class="mb-700">
          <svg width="24" height="24">
            <use xlink:href="/assets/icons/svg/sprite.svg#{{icon}}"/>
          </svg>
          <p class="typography-body-3-bold mt-600">{{icon}}</p>
        </li>
      {{/each}}

    {{/tileList}}

  {{/section}}

{{/web/layout/default}}
