{{#> web/layout/default page="icons" }}

  {{#> section title="Icons" }}

    {{#> tileList}}

      {{#each @icons as |icon|}}
        <li class="mb-600">
          <svg width="24" height="24">
            <use xlink:href="/assets/icons/svg/sprite.svg#{{icon}}"/>
          </svg>
          <p class="typography-body-medium-text-bold mt-500">{{icon}}</p>
        </li>
      {{/each}}

    {{/tileList}}

  {{/section}}

{{/web/layout/default }}
