{{#> web/layout/default page="icons" title="Icons"}}

  {{> web/tabs}}

  <ul class="Grid Grid--cols-2 Grid--tablet--cols-4 Grid--desktop--cols-6 text-center my-1300">
    {{#each @icons as |icon|}}
      <li class="mb-700">
        <svg width="24" height="24">
          <use xlink:href="/assets/icons/svg/sprite.svg#{{icon}}"/>
        </svg>
        <p class="typography-body-medium-bold mt-600">{{icon}}</p>
      </li>
    {{/each}}
  </ul>

{{/web/layout/default}}
