<div class="breakout-container">

  <div class="ScrollView ScrollView--horizontal mb-800 mb-tablet-1100" data-spirit-toggle="scrollView" data-spirit-direction="vertical">
    <div class="ScrollView__viewport" data-spirit-element="viewport">
      <div class="ScrollView__content" data-spirit-element="content">

        <ul class="Tabs mb-800 mx-auto" role="tablist">
          <li class="Tabs__item">
            <a href="/packages/web/" class="Tabs__link{{#if (eq page 'components')}} is-selected" aria-selected="true{{/if}}">Components</a>
          </li>
          <li class="Tabs__item">
            <a href="/packages/web/src/icons/" class="Tabs__link{{#if (eq page 'icons')}} is-selected" aria-selected="true{{/if}}">Icons</a>
          </li>
          <li class="Tabs__item">
            <a href="/packages/web/src/scss/helpers/" class="Tabs__link {{#if (eq page 'helpers')}} is-selected" aria-selected="true{{/if}}">Helpers</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="ScrollView__overflowDecorators ScrollView__overflowDecorators--shadows" aria-hidden="true"></div>
  </div>

</div>
