<ul class="Tabs mb-1100" role="tablist">
  <li class="Tabs__item">
    <a href="/packages/web/" class="Tabs__link{{#if (eq page 'components')}} is-selected" aria-selected="true{{/if}}">Components</a>
  </li>
  <li class="Tabs__item">
    <a href="/packages/web/src/icons/" class="Tabs__link{{#if (eq page 'icons')}} is-selected" aria-selected="true{{/if}}">Icons</a>
  </li>
  <li class="Tabs__item">
    <a href="/packages/web/src/scss/helpers/" class="Tabs__link {{#if (eq page 'helpers')}} is-selected" aria-selected="true{{/if}}">Helpers</a>
  </li>
</ul>
