.jobs-Button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: calc(8px - 1px) calc(24px - 1px);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.jobs-Button:hover, .jobs-Button:focus {
  text-decoration: none;
}
.jobs-Button:disabled, .jobs-Button.jobs-Button--disabled {
  cursor: default;
  pointer-events: none;
}

.jobs-Button__icon {
  font-size: 1.5em;
}

.jobs-Button--square {
  width: calc((1em * ) + (calc(8px - 1px) * 2));
  padding-left: 0;
  padding-right: 0;
}

.jobs-Button--block {
  display: block;
  width: 100%;
}

.jobs-Button--primary {
  color: #fff;
  background-color: #f48225;
  border-color: #f48225;
}
.jobs-Button--primary:hover, .jobs-Button--primary:focus {
  color: #fff;
  background-color: #ed720c;
  border-color: #ed720c;
}
.jobs-Button--primary:active {
  color: #fff;
  background-color: #0b3a46;
  border-color: #0b3a46;
}
.jobs-Button--primary:disabled, .jobs-Button--primary.jobs-Button--disabled {
  color: #fff;
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--secondary {
  color: #171717;
  background-color: transparent;
  border-color: #a0a0a0;
}
.jobs-Button--secondary:hover, .jobs-Button--secondary:focus {
  color: #171717;
  background-color: transparent;
  border-color: #737373;
}
.jobs-Button--secondary:active {
  color: #171717;
  background-color: transparent;
  border-color: #c4c4c4;
}
.jobs-Button--secondary:disabled, .jobs-Button--secondary.jobs-Button--disabled {
  color: #d6d6d6;
  background-color: transparent;
  border-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--tertiary {
  color: #171717;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}
.jobs-Button--tertiary:hover, .jobs-Button--tertiary:focus {
  color: #171717;
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}
.jobs-Button--tertiary:active {
  color: #171717;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.jobs-Button--tertiary:disabled, .jobs-Button--tertiary.jobs-Button--disabled {
  color: #fff;
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--inverted {
  color: #fff;
  background-color: transparent;
  border-color: #e9e9e9;
}
.jobs-Button--inverted:hover, .jobs-Button--inverted:focus {
  color: #fff;
  background-color: transparent;
  border-color: #dbdbdb;
}
.jobs-Button--inverted:active {
  color: #fff;
  background-color: transparent;
  border-color: #d4d4d4;
}
.jobs-Button--inverted:disabled, .jobs-Button--inverted.jobs-Button--disabled {
  color: #737373;
  background-color: transparent;
  border-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--danger {
  color: #fff;
  background-color: #db0000;
  border-color: #db0000;
}
.jobs-Button--danger:hover, .jobs-Button--danger:focus {
  color: #fff;
  background-color: #c95771;
  border-color: #c95771;
}
.jobs-Button--danger:active {
  color: #fff;
  background-color: #af4c62;
  border-color: #af4c62;
}
.jobs-Button--danger:disabled, .jobs-Button--danger.jobs-Button--disabled {
  color: #fff;
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.jobs-Container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  box-sizing: border-box;
  padding-inline: 16px;
}
@media (min-width: 768px) {
  .jobs-Container {
    padding-inline: 32px;
  }
}
@media (min-width: 1280px) {
  .jobs-Container {
    padding-inline: 32px;
  }
}

.jobs-Grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 16px;
}
@media (min-width: 768px) {
  .jobs-Grid {
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .jobs-Grid {
    gap: 32px;
  }
}

.jobs-Grid--cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.jobs-Grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.jobs-Grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.jobs-Grid--cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.jobs-Grid--cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.jobs-Grid--cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 768px) {
  .jobs-Grid--tablet--cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .jobs-Grid--tablet--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .jobs-Grid--tablet--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .jobs-Grid--tablet--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .jobs-Grid--tablet--cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .jobs-Grid--tablet--cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 1280px) {
  .jobs-Grid--desktop--cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .jobs-Grid--desktop--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .jobs-Grid--desktop--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .jobs-Grid--desktop--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .jobs-Grid--desktop--cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .jobs-Grid--desktop--cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
.jobs-Grid--narrow {
  grid-template-columns: repeat(12, 1fr);
}

.jobs-Grid--narrow > * {
  grid-column: span 12;
}
@media (min-width: 768px) {
  .jobs-Grid--narrow > * {
    grid-column: 3/span 8;
  }
}
@media (min-width: 1280px) {
  .jobs-Grid--narrow > * {
    grid-column: 4/span 6;
  }
}

.jobs-Stack {
  display: grid;
  gap: 16px;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.jobs-Tag {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  padding: 8px 8px;
  text-align: center;
  border-radius: 4px;
}
.jobs-Tag--default-light {
  color: #171717;
  background-color: #f7f7f7;
}

.jobs-Tag--default-dark {
  color: #fff;
  background-color: #171717;
}

.jobs-Tag--informative-light {
  color: #379bf6;
  background-color: #ebf5ff;
}

.jobs-Tag--informative-dark {
  color: #fff;
  background-color: #379bf6;
}

.jobs-Tag--success-light {
  color: #2faa7e;
  background-color: #e8f8f2;
}

.jobs-Tag--success-dark {
  color: #fff;
  background-color: #2faa7e;
}

.jobs-Tag--warning-light {
  color: #ff9900;
  background-color: #fff6ea;
}

.jobs-Tag--warning-dark {
  color: #fff;
  background-color: #ff9900;
}

.jobs-Tag--danger-light {
  color: #db0000;
  background-color: #fff2f2;
}

.jobs-Tag--danger-dark {
  color: #fff;
  background-color: #db0000;
}

.jobs-TextField {
  max-width: 100%;
}

.jobs-TextField__label {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  margin-bottom: 4px;
  color: #8d9c9f;
}
.jobs-TextField__label--hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.jobs-TextField__label--required::after {
  content: "*";
  color: #db0000;
}

.jobs-TextField__input {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  max-width: 100%;
  padding: 8px 8px;
  color: #171717;
  background: #fff;
  border: 1px solid #dcdada;
  border-radius: 4px;
  box-sizing: border-box;
}
.jobs-TextField__input::placeholder {
  color: #8d9c9f;
  opacity: 1;
}

.jobs-TextField:hover > .jobs-TextField__input,
.jobs-TextField__input:hover {
  border-color: #d1d1d1;
}

.jobs-TextField:focus-within,
.jobs-TextField:focus-within:hover,
.jobs-TextField > .jobs-TextField__input:focus {
  border-color: #61b3ff;
  outline: 0;
}

.jobs-TextField__message {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 4px;
  color: #8d9c9f;
}
.jobs-TextField--error > .jobs-TextField__input,
.jobs-TextField--error:hover > .jobs-TextField__input,
.jobs-TextField--error > .jobs-TextField__input:focus {
  border-color: #db0000;
}

.jobs-TextField--error > .jobs-TextField__message {
  color: #db0000;
}

.jobs-TextField--disabled > .jobs-TextField__label {
  color: #d6d6d6;
}

.jobs-TextField > .jobs-TextField__input:disabled,
.jobs-TextField:hover > .jobs-TextField__input:disabled,
.jobs-TextField--disabled > .jobs-TextField__input {
  color: #d6d6d6;
  border-color: #f4f4f4;
}
.jobs-TextField > .jobs-TextField__input:disabled::placeholder,
.jobs-TextField:hover > .jobs-TextField__input:disabled::placeholder,
.jobs-TextField--disabled > .jobs-TextField__input::placeholder {
  color: #d6d6d6;
}

.jobs-TextField--disabled > .jobs-TextField__message {
  color: #d6d6d6;
}

/*# sourceMappingURL=jobs.css.map */