.jobs-Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-family: Open Sans, helvetica, roboto, arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
}
.jobs-Button:hover, .jobs-Button:focus {
  text-decoration: none;
}
.jobs-Button:disabled {
  cursor: default;
  pointer-events: none;
}

.jobs-Button__icon {
  font-size: 1.5em;
}

.jobs-Button--square {
  width: calc((1em * 1.5) + (0.5rem * 2));
  padding-left: 0;
  padding-right: 0;
}

.jobs-Button--block {
  display: block;
  width: 100%;
}

.jobs-Button--primary {
  color: #fff;
  background-color: #1b6494;
  border-color: #1b6494;
}
.jobs-Button--primary:hover, .jobs-Button--primary:focus {
  color: #fff;
  background-color: #1b6494;
  border-color: #1b6494;
}
.jobs-Button--primary:active {
  color: #fff;
  background-color: #0b3a46;
  border-color: #0b3a46;
}
.jobs-Button--primary:disabled {
  color: #fff;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--secondary {
  color: #1b6494;
  background-color: transparent;
  border-color: #29616f;
}
.jobs-Button--secondary:hover, .jobs-Button--secondary:focus {
  color: #1b6494;
  background-color: transparent;
  border-color: #1b5260;
}
.jobs-Button--secondary:active {
  color: #0b3a46;
  background-color: transparent;
  border-color: #0b3a46;
}
.jobs-Button--secondary:disabled {
  color: #c4c4c4;
  background-color: transparent;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--tertiary {
  color: #90a2a7;
  background-color: transparent;
  border-color: #e9e9e9;
}
.jobs-Button--tertiary:hover, .jobs-Button--tertiary:focus {
  color: #849499;
  background-color: transparent;
  border-color: #dbdbdb;
}
.jobs-Button--tertiary:active {
  color: #6e7b80;
  background-color: transparent;
  border-color: #d4d4d4;
}
.jobs-Button--tertiary:disabled {
  color: #c4c4c4;
  background-color: transparent;
  border-color: #f4f4f4;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--informative {
  color: #fff;
  background-color: #0049ac;
  border-color: #0049ac;
}
.jobs-Button--informative:hover, .jobs-Button--informative:focus {
  color: #fff;
  background-color: #85c1e1;
  border-color: #85c1e1;
}
.jobs-Button--informative:active {
  color: #fff;
  background-color: #78a9c5;
  border-color: #78a9c5;
}
.jobs-Button--informative:disabled {
  color: #fff;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--success {
  color: #fff;
  background-color: #00a527;
  border-color: #00a527;
}
.jobs-Button--success:hover, .jobs-Button--success:focus {
  color: #fff;
  background-color: #9ebf40;
  border-color: #9ebf40;
}
.jobs-Button--success:active {
  color: #fff;
  background-color: #8fad3a;
  border-color: #8fad3a;
}
.jobs-Button--success:disabled {
  color: #fff;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--warning {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.jobs-Button--warning:hover, .jobs-Button--warning:focus {
  color: #fff;
  background-color: #dfbb5f;
  border-color: #dfbb5f;
}
.jobs-Button--warning:active {
  color: #fff;
  background-color: #c29132;
  border-color: #c29132;
}
.jobs-Button--warning:disabled {
  color: #fff;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Button--danger {
  color: #fff;
  background-color: #d40014;
  border-color: #d40014;
}
.jobs-Button--danger:hover, .jobs-Button--danger:focus {
  color: #fff;
  background-color: #c95771;
  border-color: #c95771;
}
.jobs-Button--danger:active {
  color: #fff;
  background-color: #af4c62;
  border-color: #af4c62;
}
.jobs-Button--danger:disabled {
  color: #fff;
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  cursor: default;
  pointer-events: none;
}

.jobs-Tag {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-family: Open Sans, helvetica, roboto, arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
  border-radius: 0;
}

.jobs-Tag--default-light {
  color: #000;
  background-color: #f4f4f4;
}

.jobs-Tag--default-dark {
  color: #fff;
  background-color: #19325a;
}

.jobs-Tag--informative-light {
  color: #0049ac;
  background-color: #e6edf7;
}

.jobs-Tag--informative-dark {
  color: #fff;
  background-color: #0049ac;
}

.jobs-Tag--success-light {
  color: #00a527;
  background-color: #e7f6f1;
}

.jobs-Tag--success-dark {
  color: #fff;
  background-color: #00a527;
}

.jobs-Tag--warning-light {
  color: #ff9900;
  background-color: #fff5e6;
}

.jobs-Tag--warning-dark {
  color: #fff;
  background-color: #ff9900;
}

.jobs-Tag--danger-light {
  color: #d40014;
  background-color: #fbe6e8;
}

.jobs-Tag--danger-dark {
  color: #fff;
  background-color: #d40014;
}

/*# sourceMappingURL=jobs.css.map */