@use '@tokens' as tokens;
@use '../../tools/responsive-properties';
@use 'theme';

// @deprecated We are deprecating attribute `[style*='#{tokens.$css-variable-prefix}icon-size']` selector.
// We will remove this attribute selector in the next major version.
.Icon[style*='#{tokens.$css-variable-prefix}icon-size'] {
    @include responsive-properties.create-cascade(
        $property: 'width',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: 'fit-content'
    );
    @include responsive-properties.create-cascade(
        $property: 'height',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: 'fit-content'
    );
}
