@use '@tokens' as tokens;
@use 'tools';

$background-default: tokens.$background-primary;
$border-default: tokens.$border-basic;
$breakpoints: tokens.$breakpoints;
$dualtone-color-variants: tools.generate-dualtone-color-variants();
