@use 'sass:map';
@use '../../tools/dictionaries';
@use '../../tools/typography';
@use 'theme';

.Tag {
    @include typography.generate(map.get(theme.$sizes, medium, typography));

    display: inline-block;
    text-align: center;
    border-radius: theme.$border-radius;
}

@include dictionaries.generate-sizes('Tag', theme.$sizes);

@include dictionaries.generate-colors(
    'Tag',
    theme.$color-dictionary,
    theme.$color-dictionary-config,
    null,
    theme.$color-dictionary-overrides
);

@include dictionaries.generate-colors(
    'Tag--subtle.Tag',
    theme.$color-dictionary,
    theme.$subtle-color-dictionary-config,
    null,
    theme.$subtle-color-dictionary-overrides,
    'tag-subtle'
);

// @deprecated Will be removed in the next major version.
@include dictionaries.generate-colors(
    'Tag--light.Tag',
    theme.$color-dictionary,
    theme.$subtle-color-dictionary-config,
    null,
    theme.$subtle-color-dictionary-overrides,
    'tag-light'
);

.Tag--subtle.Tag--xsmall,
// @deprecated Will be removed in the next major version.
.Tag--light.Tag--xsmall {
    background-color: transparent;
}
