@use 'sass:list';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$_tag-colors: neutral;

$color-dictionary: list.join(dictionaries.$emotion-colors, $_tag-colors);

$color-dictionary-config: (
    color: tokens.$text-primary-inverted-default,
    background-color: 'default',
);

$color-dictionary-overrides: (
    neutral: (
        background-color: tokens.$background-inverted,
    ),
);

$subtle-color-dictionary-config: (
    color: 'default',
    background-color: 'background',
);

$subtle-color-dictionary-overrides: (
    neutral: (
        color: tokens.$text-primary-default,
        background-color: tokens.$background-cover,
    ),
);

$border-radius: tokens.$radius-100;

$sizes: (
    xsmall: (
        padding-x: tokens.$space-300,
        padding-y: tokens.$space-0,
        typography: tokens.$body-xsmall-text-bold,
    ),
    small: (
        padding-x: tokens.$space-400,
        padding-y: tokens.$space-200,
        typography: tokens.$body-small-text-regular,
    ),
    medium: (
        padding-x: tokens.$space-400,
        padding-y: tokens.$space-300,
        typography: tokens.$body-medium-text-regular,
    ),
    large: (
        padding-x: tokens.$space-500,
        padding-y: tokens.$space-400,
        typography: tokens.$body-large-text-regular,
    ),
    xlarge: (
        padding-x: tokens.$space-600,
        padding-y: tokens.$space-400,
        typography: tokens.$body-xlarge-text-regular,
    ),
);
