@use '../../tools/typography';
@use '@tokens' as tokens;
@use 'theme';

.Drawer {
    --#{tokens.$css-variable-prefix}drawer-translate-x: 0%;

    @include typography.generate(theme.$drawer-typography);

    all: unset;
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    border: none;
    background-color: theme.$drawer-backdrop-background-color;
    visibility: hidden;

    &::backdrop {
        background-color: transparent;
    }

    @media (prefers-reduced-motion: no-preference) {
        /* stylelint-disable declaration-property-value-disallowed-list -- allow display and overlay to be transitioned */
        transition:
            display theme.$drawer-transition-duration allow-discrete,
            overlay theme.$drawer-transition-duration allow-discrete,
            visibility theme.$drawer-transition-duration,
            opacity theme.$drawer-transition-duration;
        /* stylelint-enable declaration-property-value-disallowed-list */
    }
}

.Drawer--left {
    --#{tokens.$css-variable-prefix}drawer-translate-x: -100%;

    justify-content: start;
}

.Drawer--right {
    --#{tokens.$css-variable-prefix}drawer-translate-x: 100%;

    justify-content: end;
}

.Drawer[open] {
    --#{tokens.$css-variable-prefix}drawer-translate-x: 0%;

    visibility: visible;
}

@starting-style {
    .Drawer--left[open] {
        --#{tokens.$css-variable-prefix}drawer-translate-x: -100%;
    }

    .Drawer--right[open] {
        --#{tokens.$css-variable-prefix}drawer-translate-x: 100%;
    }

    .Drawer[open] {
        --#{tokens.$css-variable-prefix}drawer-translate-x: 0%;

        visibility: hidden;
    }
}
