@use '../../tools/accessibility';
@use '../../tools/reset';
@use 'theme';

.DrawerCloseButton {
    @include accessibility.min-tap-target(theme.$drawer-close-button-size);

    align-self: flex-end;
    margin-inline-end: theme.$drawer-close-button-padding-x;
    margin-block-start: theme.$drawer-close-button-padding-y;
}
