@use '@tokens' as tokens;
@use '../../settings/transitions';

$breakpoints: tokens.$breakpoints;
$padding-x: tokens.$space-900;
$padding-x-tablet: tokens.$space-1400;
$padding-y: tokens.$space-700;
$typography: tokens.$body-medium-regular;
$transition-duration: transitions.$duration-200;
$transition-scale-ratio: transitions.$scale-ratio-large-objects;
$transition-shift-distance: transitions.$shift-distance-medium;

$backdrop-background-color: tokens.$background-backdrop;

$common-padding-x: tokens.$space-900;
$common-padding-x-tablet: tokens.$space-1000;

// DrawerPanel
$panel-width: 375px;
$panel-height: auto;
$panel-max-height: none;
$panel-text-color: tokens.$text-primary;
$panel-border-radius: tokens.$radius-300;
$panel-background-color: tokens.$background-primary;
$panel-shadow: tokens.$shadow-300;
