// Copied from light theme
$gradient-background-basic: linear-gradient(var(--gradient-angle, 90deg), #fff 0%, #fff0 100%) !default;

$gradients: (
    background-basic: $gradient-background-basic,
) !default;
