<FieldGroup id="field-group-with-children">
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>

<!-- Render with hidden label -->
<FieldGroup
    id="field-group-hidden-label"
    isLabelHidden
    label="Label"
>
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>

<!-- Render in danger state -->
<FieldGroup
    id="field-group-validation-danger"
    validationState="danger"
>
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>

<!-- Render with allowed HTML attributes -->
<FieldGroup
    form="my-form-id"
    id="field-group-with-allowed-html-attributes"
    name="myFieldGroupName"
>
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>

<!-- Render with UNSAFE props -->
<FieldGroup
    id="field-group-with-unsafe-props"
    UNSAFE_helperText="<span>UNSAFE helper text</span>"
    UNSAFE_label="<span>UNSAFE label text</span>"
    UNSAFE_validationText="<span>UNSAFE validation text</span>"
    validationState="danger"
>
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>

<!-- Render with all props -->
<FieldGroup
    helperText="Helper text"
    id="field-group-validation-success"
    isDisabled
    isFluid
    isLabelHidden
    isRequired
    label="Label"
    UNSAFE_helperText="<span>UNSAFE helper text</span>"
    UNSAFE_label="<span>UNSAFE label text</span>"
    UNSAFE_validationText="<span>UNSAFE validation text</span>"
    validationState="success"
    validationText="Validation text"
>
    <div>Item 1</div>
    <div>Item 2</div>
    <div>Item 3</div>
</FieldGroup>
