@use '@tokens' as tokens;

$color: tokens.$text-primary;
$border-width: tokens.$border-width-100;
$border-style: solid;
$border-color: tokens.$border-basic;
$border-radius: tokens.$radius-full;
$border-radius-square: tokens.$radius-200;
$background-color: tokens.$background-primary;

$sizes: (
    xsmall: (
        width: tokens.$space-900,
        height: tokens.$space-900,
        typography: tokens.$body-xsmall-bold,
    ),
    small: (
        width: tokens.$space-1000,
        height: tokens.$space-1000,
        typography: tokens.$body-small-bold,
    ),
    medium: (
        width: tokens.$space-1100,
        height: tokens.$space-1100,
        typography: tokens.$body-medium-bold,
    ),
    large: (
        width: tokens.$space-1200,
        height: tokens.$space-1200,
        typography: tokens.$body-large-bold,
    ),
    xlarge: (
        width: tokens.$space-1400,
        height: tokens.$space-1400,
        typography: tokens.$body-xlarge-bold,
    ),
);
