@use 'sass:map';
@use 'theme';

.Collapse {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    // &.is-collapsed{}
}

span.Collapse {
    display: inline-block;
}

// .Collapse__content {}
