@use 'sass:map';
@use '../../tools/breakpoint';
@use 'theme';

.Collapse {
    position: relative;
    overflow: hidden;
    height: 0;
    transition-property: height;
    transition-timing-function: theme.$collapse-transition-timing;
    transition-duration: theme.$collapse-transition-duration;

    @each $breakpoint-name, $breakpoint-value in theme.$breakpoints {
        &[data-breakpoint='#{$breakpoint-name}'] {
            @include breakpoint.up(map.get(theme.$breakpoints, $breakpoint-name)) {
                height: auto !important;
            }
        }
    }
}
