@use '@tokens' as tokens;
@use '../../settings/transitions';

$breakpoints: tokens.$breakpoints;
$collapse-transition-timing: transitions.$timing-eased-in-out-fast;
$collapse-transition-duration: transitions.$duration-200;
