@use '@global' as global-tokens;
@use '../../settings/transitions';

$breakpoints: global-tokens.$breakpoints;
$collapse-transition-timing: transitions.$timing-eased-in-out-fast;
$collapse-transition-duration: transitions.$duration-200;
