// 1. To use CSS subgrid, the number of grid rows must be explicitly set. We use a default value of 100 rows which
//    should be enough for most use cases. Since there is a zero row gap by default, empty grid rows automatically
//    collapse.
//
// 2. Number of grid rows and columns, column and row gaps, and item rows are customizable via custom properties.
//
//    a) Columns, rows, and item rows are assigned manually so we can use the `repeat()` function and the `span`
//       keyword.
//    b) Column gap and row gap are applied directly as CSS declarations by the `create-cascade()` mixin.
//
// 3. Force subgrid on direct descendants. Only effective when the descendant's `display` is set to `grid`.
//
// 4. Place the descendants in the Matrix layout and make them inherit its grid rows.
//
// 5. Trigger repaint to fix PricingPlan header rows randomly collapsing in a single-column Matrix in Safari.
//    Source: https://www.flowradar.com/answer/causing-css-grid-elements-display-incorrectly-safari-fix-safari-desktop-ipad
//
//    ℹ️ Alternative solution: detecting the number of columns with a style query
//
//    Since the Matrix column count is controlled by custom properties, we could turn off subgrid for Matrix children
//    based on a style query which is supported in Safari (but not in all baseline browsers) as of July 2025:
//
//    ```
//    @container style(--spirit-matrix-columns-internal: 1) {
//       .Matrix > * {
//         grid-template-rows: <BUT WHAT NOW?> !important;
//       }
//    }
//    ```
//
//    We don't use this approach because it would lead to mixing component styles: it either requires forcing a number
//    of rows of Matrix children from outside, or reading a custom property of Matrix in the PricingPlan component.

@use '@tokens' as tokens;
@use '../../tools/reset';
@use '../../tools/responsive-properties';
@use 'theme';

$_default-rows: 100; // 1.

.Matrix {
    @include reset.list();

    // 2.a
    @include responsive-properties.create-cascade(
        $property: null,
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}matrix-columns',
        $breakpoints: theme.$breakpoints,
        $fallback-value: 3
    );
    @include responsive-properties.create-cascade(
        $property: null,
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}matrix-rows',
        $breakpoints: theme.$breakpoints,
        $fallback-value: $_default-rows
    );
    @include responsive-properties.create-cascade(
        $property: null,
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}matrix-item-rows',
        $breakpoints: theme.$breakpoints,
        $fallback-value: $_default-rows
    );

    // 2.b
    @include responsive-properties.create-cascade(
        $property: 'column-gap',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}matrix-spacing-x',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$default-column-gap
    );
    @include responsive-properties.create-cascade(
        $property: 'row-gap',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}matrix-spacing-y',
        $breakpoints: theme.$breakpoints,
        $fallback-value: 0
    );

    display: grid;
    grid-template-columns: repeat(var(--#{tokens.$css-variable-prefix}matrix-columns-internal), 1fr); // 2.a
    grid-template-rows: repeat(var(--#{tokens.$css-variable-prefix}matrix-rows-internal), auto); // 2.a
    will-change: transform; // 5.
}

// stylelint-disable-next-line selector-max-universal -- 3.
.Matrix > * {
    // stylelint-disable-next-line declaration-no-important -- 3.
    grid-template-rows: subgrid !important; // 3.
    grid-row: span var(--#{tokens.$css-variable-prefix}matrix-item-rows-internal); // 2.a, 4.
}
