// 1. The default numbers of grid rows and columns and the column gap are customizable via custom properties.
// 2. Force subgrid on direct descendants.
// 3. Make the descendants span the entire Matrix layout and thus inherit all of its grid rows.

@use '@tokens' as tokens;
@use 'theme';

.Matrix {
    display: grid;
    grid-template-columns: repeat(var(--#{tokens.$css-variable-prefix}matrix-columns, 3), 1fr); // 1.
    grid-template-rows: repeat(var(--#{tokens.$css-variable-prefix}matrix-rows, 100), auto); // 1.
    column-gap: var(--#{tokens.$css-variable-prefix}matrix-column-gap, theme.$column-gap);
}

// stylelint-disable selector-max-universal, declaration-no-important -- 2.
.Matrix > * {
    grid-template-rows: subgrid !important; // 2.
    grid-row: 1 / -1; // 3.
}
// stylelint-enable
