@use 'sass:map';
@use 'theme';
@use '../../theme/form-fields' as form-fields-theme;
@use '../../tools/form-fields' as form-fields-tools;
@use '../../tools/svg';

$_field-name: 'CheckboxField';

.CheckboxField {
    @include form-fields-tools.inline-field-root();
}

.CheckboxField__text {
    margin-left: form-fields-theme.$spacing;
}

.CheckboxField__label {
    @include form-fields-tools.inline-field-label();
}

.CheckboxField__label--hidden {
    @include form-fields-tools.label-hidden();
}

.CheckboxField__label--required::after {
    @include form-fields-tools.label-required();
}

.CheckboxField__input {
    @include form-fields-tools.inline-field-input();

    flex-shrink: 0;
    width: theme.$input-width;
    height: theme.$input-width;
    margin: theme.$input-margin;
    border-radius: theme.$input-border-radius;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:checked {
        color: form-fields-theme.$inline-field-input-color-checked;
        background-image: svg.escape(theme.$input-checked-mark);
        background-color: form-fields-theme.$inline-field-input-color-checked;
    }

    &:indeterminate {
        color: form-fields-theme.$inline-field-input-color-checked;
        background-image: svg.escape(theme.$input-indeterminate-mark);
        background-color: form-fields-theme.$inline-field-input-color-checked;
    }
}

.CheckboxField__message,
.CheckboxField > .CheckboxField__text > [data-element='validator_message'] {
    @include form-fields-tools.message();
}

.CheckboxField__helperText {
    @include form-fields-tools.helper-text();
}

@include form-fields-tools.input-field-validation-states($_field-name);

.CheckboxField--disabled {
    @include form-fields-tools.inline-field-root-disabled();
}

.CheckboxField--disabled .CheckboxField__label {
    @include form-fields-tools.label-disabled();
}

.CheckboxField--disabled .CheckboxField__message {
    @include form-fields-tools.message-disabled();
}

.CheckboxField--disabled .CheckboxField__helperText {
    @include form-fields-tools.helper-text-disabled();
}

.CheckboxField--disabled > .CheckboxField__input,
.CheckboxField > .CheckboxField__input:disabled {
    @include form-fields-tools.input-disabled();
}

.CheckboxField--disabled > .CheckboxField__input:checked,
.CheckboxField--disabled > .CheckboxField__input:indeterminate,
.CheckboxField > .CheckboxField__input:disabled:checked,
.CheckboxField > .CheckboxField__input:disabled:indeterminate {
    background-color: form-fields-theme.$input-color-disabled;
}

.CheckboxField--item {
    @include form-fields-tools.item();
}

.CheckboxField--item.CheckboxField--disabled {
    @include form-fields-tools.item-disabled();
}

// stylelint-disable-next-line selector-max-class, selector-max-compound-selectors, selector-max-specificity -- We need to override the default styles for the label in Item.
.CheckboxField--item .CheckboxField__input:checked ~ .CheckboxField__text > .CheckboxField__label {
    @include form-fields-tools.item-label-checked();
}

.CheckboxField--item .CheckboxField__message {
    @include form-fields-tools.item-message();
}

.CheckboxField--item .CheckboxField__helperText {
    @include form-fields-tools.item-helper-text();
}

.CheckboxField--item:hover .CheckboxField__message,
.CheckboxField--item:active .CheckboxField__message,
.CheckboxField--item:hover .CheckboxField__helperText,
.CheckboxField--item:active .CheckboxField__helperText {
    color: inherit;
}
