// 1. JS version, it's used, when there is need for more items then $max-items
// 2. In JS version, there is toggle of opacity because of transition effect on initialization (active item is not always the last one)

@use '@tokens' as tokens;
@use '../../tools/accessibility';
@use '../../tools/typography';
@use 'theme';
@use 'tools';

.SegmentedControl {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    column-gap: theme.$gap;
    align-items: center;
    padding: theme.$padding;
    margin-bottom: 0;
    border: theme.$border-default;
    border-radius: theme.$border-radius;

    @media (prefers-reduced-motion: no-preference) {
        &:has([type='radio']) {
            transition: theme.$transition;
        }

        &:has([type='checkbox']) {
            transition: theme.$transition-checkbox;
        }
    }
}

.SegmentedControl--stretch {
    justify-items: stretch;
    width: 100%;
}

.SegmentedControl__label {
    @include typography.generate(theme.$item-label-typography);

    position: relative;
    z-index: 2;
    display: flex;
    grid-row: 1;
    column-gap: theme.$item-gap;
    align-items: center;
    justify-content: center;
    height: theme.$item-height;
    padding-inline: theme.$item-padding-y;
    padding-block: theme.$item-padding-x;
    border: theme.$item-border-default;
    border-radius: theme.$item-border-radius;
    user-select: none;
    cursor: pointer;
    transition: inherit;

    @media (hover: hover) {
        .SegmentedControl__input:not(:checked, :disabled) + &:hover {
            background-color: theme.$item-background-hover;
        }
    }

    &::after {
        @include tools.generate-before-control();

        transition: inherit;
    }

    &:last-of-type {
        z-index: 1;
    }
}

.SegmentedControl__label > svg {
    flex-shrink: 0;
}

.SegmentedControl__input {
    @include accessibility.hide-text();

    &:focus-visible + .SegmentedControl__label {
        @include tools.outline();
    }

    &:disabled + .SegmentedControl__label {
        cursor: not-allowed;
    }
}

@include tools.generate-segmented-control-variant('filled', theme.$variant-filled-config);
@include tools.generate-segmented-control-variant('outlined', theme.$variant-outlined-config);
@include tools.generate-segmented-control-transform(theme.$max-items);

// 1.
// stylelint-disable-next-line selector-max-specificity
[data-spirit-toggle] [type='radio'] + .SegmentedControl__label::after {
    opacity: 0; // 2.
    transform: translateX(var(--#{tokens.$css-variable-prefix}segmented-control-highlight-x-pos, 0));
}

// stylelint-disable-next-line selector-max-specificity,selector-max-class
[data-spirit-toggle].is-initialized [type='radio'] + .SegmentedControl__label:last-of-type::after {
    opacity: 1; // 2.
}
