@use '@tokens' as tokens;
@use '../../settings/transitions';
@use '../../settings/cursors';

$padding: calc(#{tokens.$space-400} - #{tokens.$border-width-100});
$gap: tokens.$space-400;
$border-default: tokens.$border-width-100 solid transparent;
$border-radius: tokens.$radius-full;
$transition-radio:
    transform transitions.$duration-200 transitions.$timing-eased-in-out,
    color transitions.$duration-100 transitions.$timing-eased-in-out,
    background-color transitions.$duration-200 transitions.$timing-eased-in-out;
$transition-checkbox:
    color transitions.$duration-200 transitions.$timing-eased-in-out,
    border-color transitions.$duration-200 transitions.$timing-eased-in-out,
    background-color transitions.$duration-200 transitions.$timing-eased-in-out;
$max-items: 5;
$focus-ring: tokens.$focus-ring;

// Item
$item-height: 40px;
$item-padding-x: calc(#{tokens.$space-600} - #{tokens.$border-width-100});
$item-padding-y: tokens.$space-700;
$item-border-radius: tokens.$radius-full;
$item-label-typography: tokens.$body-small-semibold;
$item-gap: tokens.$space-400;
$item-background-hover: tokens.$background-interactive-state-hover;
$item-border-width: tokens.$border-width-100;
$item-border-default: $item-border-width solid transparent;
$item-outline-width: tokens.$border-width-100;
$item-disabled-cursor: cursors.$disabled;
$item-min-width: ($item-padding-y * 2 + 20px); // width of the icon and padding
$item-position-variable: #{tokens.$css-variable-prefix}segmented-control-highlight-pos;

$variant-outlined-config: (
    color: tokens.$text-primary,
    background-color: tokens.$background-secondary,
    border-color: tokens.$border-basic,
    item-color-active: tokens.$selected-content-basic,
    item-color-disabled: tokens.$disabled-content,
    item-background-color-active: tokens.$selected-content-subtle,
    item-border-color-active: tokens.$border-interactive-state-selected,
    item-box-shadow-active: tokens.$shadow-200,
);

$variant-filled-config: (
    color: tokens.$text-secondary,
    background-color: tokens.$background-primary,
    border-color: tokens.$border-basic,
    item-color-active: tokens.$selected-content-subtle,
    item-color-disabled: tokens.$disabled-content,
    item-background-color-active: tokens.$selected-state-default,
    item-border-color-active: tokens.$border-interactive-state-selected,
);
