@use 'sass:map';
@use 'theme';

@mixin generate-segmented-control-variant($variant, $config) {
    .SegmentedControl--#{$variant} {
        color: map.get($config, 'color');
        border-color: map.get($config, 'border-color');
        background-color: map.get($config, 'background-color');
    }

    .SegmentedControl--#{$variant}
        .SegmentedControl__input[type='radio']:last-of-type
        + .SegmentedControl__label::after,
    .SegmentedControl--#{$variant} .SegmentedControl__input[type='checkbox']:checked + .SegmentedControl__label::after {
        border-color: map.get($config, 'item-border-color-active');
        background-color: map.get($config, 'item-background-color-active');

        @if map.has-key($config, 'item-box-shadow-active') {
            box-shadow: map.get($config, 'item-box-shadow-active');
        }
    }

    .SegmentedControl--#{$variant} .SegmentedControl__input:checked + .SegmentedControl__label {
        color: map.get($config, 'item-color-active');
    }

    .SegmentedControl--#{$variant}.SegmentedControl__input:disabled + .SegmentedControl__label {
        color: theme.$item-color-disabled;
    }
}

@mixin generate-segmented-control-transform($max-items) {
    @for $i from 1 through $max-items {
        .SegmentedControl__input[type='radio']:nth-last-of-type(#{$i + 1}):checked
            ~ .SegmentedControl__label:last-of-type::after {
            transform: translateX(calc($i * -100% - #{$i * theme.$gap}));
        }
    }
}

@mixin generate-before-control() {
    content: '';
    position: absolute;
    z-index: -1;
    border: theme.$item-border-default;
    border-radius: theme.$item-border-radius;
    inset: -1 * theme.$item-border-width;
    pointer-events: none;
}

@mixin outline() {
    outline: Highlight auto theme.$item-outline-width;
    outline: -webkit-focus-ring-color auto theme.$item-outline-width;
}
