<HeaderMobileActions dialogId="my-menu" />

<!-- Render with all props -->
<HeaderMobileActions
    dialogId="my-menu"
    menuToggleLabel="Open menu"
>
    <span>custom content</span>
</HeaderMobileActions>
