<Stack elementType="ul" hasBottomDivider hasMiddleDividers hasTopDivider hasSpacing>
    <li>
        <div>List item 1</div>
    </li>
    <li>
        <div>List item 1</div>
    </li>
    <li>
        <div>List item 1</div>
    </li>
</Stack>
