@use 'sass:map';
@use '../../theme/form-fields' as form-fields-theme;

$input-size-config: map.deep-merge(
    form-fields-theme.$box-field-size-config,
    (
        small: (
            height: 64px,
        ),
        medium: (
            height: 80px,
        ),
        large: (
            height: 96px,
        ),
    )
);
