@use '@tokens' as tokens;
@use '../../settings/transitions';

$padding: tokens.$space-500;
$row-gap: tokens.$space-700;
$transition-duration: transitions.$duration-100;
$transition-timing: transitions.$timing-eased-out;

$track-height: tokens.$space-300;
$track-border-radius: tokens.$radius-100;
$track-background: tokens.$border-interactive-default;
$track-background-hover: tokens.$border-interactive-hover;
$track-background-active: tokens.$border-interactive-active;
$track-background-disabled: tokens.$disabled-background;
$track-lower-background: tokens.$selected-default;
$track-lower-background-hover: tokens.$selected-default;
$track-lower-background-active: tokens.$selected-default;
$track-lower-background-disabled: tokens.$disabled-foreground;

$thumb-width: tokens.$space-900;
$thumb-height: tokens.$space-1100;
$thumb-border-width: tokens.$border-width-200;
$thumb-border-width-disabled: tokens.$border-width-100;
$thumb-border-style: solid;
$thumb-border-color: tokens.$form-field-border-default;
$thumb-border-color-hover: tokens.$form-field-border-hover;
$thumb-border-color-active: tokens.$selected-default;
$thumb-border-color-disabled: tokens.$disabled-foreground;
$thumb-border-radius: tokens.$radius-200;
$thumb-background-color: tokens.$form-field-default;
$thumb-background-color-hover: tokens.$form-field-hover;
$thumb-background-color-active: tokens.$form-field-active;
$thumb-background-color-disabled: tokens.$disabled-background;
$thumb-background-image: var(--#{tokens.$token-prefix}slider-thumb-background-image-url);
$thumb-background-image-disabled: var(--#{tokens.$token-prefix}slider-thumb-disabled-background-image-url);
$thumb-background-size: tokens.$space-500 tokens.$space-700;
$thumb-box-shadow: tokens.$shadow-100;
$thumb-box-shadow-hover: tokens.$shadow-100;
$thumb-box-shadow-active: tokens.$shadow-200;
$thumb-box-shadow-disabled: none;
$thumb-box-shadow-focus: tokens.$focus;
