@use '@global' as global-tokens;
@use '../../settings/globals';
@use '../../settings/transitions';

$padding: global-tokens.$space-500;
$row-gap: global-tokens.$space-700;
$transition-duration: transitions.$duration-100;
$transition-timing: transitions.$timing-eased-out;

$track-height: global-tokens.$space-300;
$track-border-radius: global-tokens.$radius-100;
$track-background: var(--#{globals.$prefix}color-border-interactive-default);
$track-background-hover: var(--#{globals.$prefix}color-border-interactive-hover);
$track-background-active: var(--#{globals.$prefix}color-border-interactive-active);
$track-background-disabled: var(--#{globals.$prefix}color-disabled-background);
$track-lower-background: var(--#{globals.$prefix}color-selected-default);
$track-lower-background-hover: var(--#{globals.$prefix}color-selected-default);
$track-lower-background-active: var(--#{globals.$prefix}color-selected-default);
$track-lower-background-disabled: var(--#{globals.$prefix}color-disabled-foreground);

$thumb-width: global-tokens.$space-900;
$thumb-height: global-tokens.$space-1100;
$thumb-border-width: global-tokens.$border-width-200;
$thumb-border-width-disabled: global-tokens.$border-width-100;
$thumb-border-style: solid;
$thumb-border-color: var(--#{globals.$prefix}color-form-field-border-default);
$thumb-border-color-hover: var(--#{globals.$prefix}color-form-field-border-hover);
$thumb-border-color-active: var(--#{globals.$prefix}color-selected-default);
$thumb-border-color-disabled: var(--#{globals.$prefix}color-disabled-foreground);
$thumb-border-radius: global-tokens.$radius-200;
$thumb-background-color: var(--#{globals.$prefix}color-form-field-default);
$thumb-background-color-hover: var(--#{globals.$prefix}color-form-field-hover);
$thumb-background-color-active: var(--#{globals.$prefix}color-form-field-active);
$thumb-background-color-disabled: var(--#{globals.$prefix}color-disabled-background);
$thumb-background-image: var(--#{globals.$prefix}slider-thumb-background-image-url);
$thumb-background-image-disabled: var(--#{globals.$prefix}slider-thumb-disabled-background-image-url);
$thumb-background-size: global-tokens.$space-500 global-tokens.$space-700;
$thumb-box-shadow: global-tokens.$shadow-100;
$thumb-box-shadow-hover: global-tokens.$shadow-100;
$thumb-box-shadow-active: global-tokens.$shadow-200;
$thumb-box-shadow-disabled: none;
$thumb-box-shadow-focus: global-tokens.$focus-ring;
