<ul class="Tabs mb-1400" role="tablist">
  <li class="Tabs__item">
    <a href="/packages/web-react/" class="Tabs__link{{#if (eq page 'components')}} is-selected" aria-selected="true{{/if}}">Components</a>
  </li>
  <li class="Tabs__item">
    <a href="/packages/web-react/src/icons/" class="Tabs__link{{#if (eq page 'icons')}} is-selected" aria-selected="true{{/if}}">Icons</a>
  </li>
</ul>
