<p>
  Saves data to local storage.
</p>

<TooltipWrapper>
  <Button id="my-dismissible-button" aria-describedby="my-dismissible-tooltip2">I have a tooltip 😎</Button>
  <Tooltip id="my-dismissible-tooltip2" placement="right" isDismissible UNSAFE_className="is-hidden">
      Close me
  </Tooltip>
</TooltipWrapper>

{{ encore_entry_script_tags('tooltipDismissibleViaJS') }}
