<TooltipWrapper UNSAFE_className="d-inline-block">
    <Button
        id="button-example-hover"
        aria-describedby="tooltip-example-hover"
        data-spirit-toggle="tooltip"
        data-spirit-target="#tooltip-example-hover"
    >
        I have a tooltip 😎
    </Button>
    <TooltipPopover
        id="tooltip-example-hover"
        placement="right"
    >
        Hello there! <br />
        <a href="#" class="link-inverted">Click me</a>
    </Tooltip>
</TooltipWrapper>
