<TooltipWrapper UNSAFE_className="spirit-feature-tooltip-enable-data-placement d-inline-block">
    <Button
        id="button-example-hover"
        aria-describedby="tooltip-example-hover"
        data-spirit-toggle="tooltip"
        data-spirit-target="#tooltip-example-hover"
    >
        I have a tooltip 😎
    </Button>
    <Tooltip
        id="tooltip-example-hover"
        UNSAFE_className="is-hidden"
        placement="right"
        enableHover="true"
    >
        Hello there! <br />
        <a href="#">Click me</a>
    </Tooltip>
</TooltipWrapper>
