<div>
  Hover or click on the icon to view the tooltip
  <Tooltip UNSAFE_className="d-inline-block">
        <Icon
          id="button-example-with-icon"
          name="info"
          boxSize="16"
          aria-describedby="tooltip-example-with-icon"
          data-spirit-toggle="tooltip"
          data-spirit-target="#tooltip-example-with-icon"
      />
      <TooltipPopover
          id="tooltip-example-with-icon"
          placement="right"
          flipFallbackPlacements="top-start, top-bottom, left"
          isDismissible
      >
          Close me
      </TooltipPopover>
  </Tooltip>
</div>
