{# API #}
{%- set props = props | default([]) -%}
{%- set _class = props.class | default(null) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'TooltipWrapper' -%}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _class ] -%}
{%- set _allowedAttributes = [
    'style'
] -%}

<div
    {{ mainProps(props, _allowedAttributes) }}
    {{ classProp(_classNames) }}
>
    {% block content %}{% endblock %}
</div>
