@use 'theme';
@use '@tokens' as tokens;
@use '../../tools/dictionaries';

.PartnerLogo {
    --#{tokens.$css-variable-prefix}partner-logo-padding: 0;

    display: inline-block;
    max-width: 100%;
    height: fit-content;
    border-radius: theme.$border-radius;
    background: theme.$background-color;
}

.PartnerLogo > img,
.PartnerLogo > svg {
    width: auto;
    max-width: 100%;
    height: var(--#{tokens.$css-variable-prefix}partner-logo-image-height);
}

@include dictionaries.generate-sizes($class-name: 'PartnerLogo', $sizes: theme.$sizes);

.PartnerLogo--safeArea {
    padding: var(--#{tokens.$css-variable-prefix}partner-logo-padding);
}
