@use '@global-tokens' as global-tokens;

$background-color: var(--#{global-tokens.$token-prefix}color-background-primary);
$border-radius: global-tokens.$radius-200;
$sizes: (
    small: (
        image-height: 32px,
        padding: global-tokens.$space-500,
    ),
    medium: (
        image-height: 48px,
        padding: global-tokens.$space-500,
    ),
    large: (
        image-height: 60px,
        padding: global-tokens.$space-600,
    ),
);
