<header class='bg-inverted text-secondary-inverted py-1000 py-tablet-1100'>
  <div class='Container'>

    <h1 class='typography-heading-xlarge-text'>Spirit Design System</h1>
    <h2 class='typography-heading-medium-text text-secondary-inverted-disabled mb-900'>Development Preview</h2>

    <div class='d-grid d-tablet-block'>
      <a
        href='https://github.com/lmc-eu/spirit-design-system'
        class='Button Button--inverted Button--large mb-400 mb-tablet-0 mr-tablet-400'
      >
        GitHub Project
      </a>
      <a href='https://spirit.supernova-docs.io/spirit/' class='Button Button--inverted Button--large'>
        Spirit Docs →
      </a>
    </div>

  </div>
</header>
