<header class="UNSTABLE_Header theme-light-on-brand{{#unless (eq page 'components')}} hide-from-visual-tests{{/unless}}{{#if (eq page 'homepage')}} UNSTABLE_Header--bottomDivider{{/if}}">
  <div class="Container Container--fluid">
    <div
      class="Flex Flex--row Flex--noWrap Flex--alignmentXLeft Flex--alignmentYStretch"
      style="--flex-spacing-x: var(--spirit-space-1000);"
    >
      <a href="/" class="UNSTABLE_HeaderLogo" aria-label="Spirit Development Preview">
        {{> web/assets/spiritLogo }}
      </a>

      <!-- Desktop Main Navigation: start -->
      <nav class="Navigation Navigation--horizontal d-none d-desktop-flex" aria-label="Main Navigation">
        <ul>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="/packages/web/"
              class="NavigationAction NavigationAction--pill  {{# if (eq package 'Web')}}NavigationAction--selected{{/if}}"
              {{# if (eq package 'Web')}}aria-current="page"{{/if}}
            >
              Web
            </a>
          </li>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="/packages/web-react/"
              class="NavigationAction NavigationAction--pill {{# if (eq package 'Web React')}}NavigationAction--selected{{/if}}"
              {{# if (eq package 'Web React')}}aria-current="page"{{/if}}
            >
              Web React
            </a>
          </li>
          {{!-- Hide link to the Twig implementation in production. Twig demo app only runs on localhost, we don't deploy it anywhere. --}}
          {{!-- For the same reason, we don't include the link in the visual tests. --}}
          {{#if @is_development}}
          <li class="NavigationItem NavigationItem--alignmentYCenter hide-from-visual-tests">
            <a
              href="https://localhost:4443"
              class="NavigationAction NavigationAction--pill"
            >
              Web Twig
            </a>
          </li>
          {{/if}}
        </ul>
      </nav>
      <!-- Desktop Main Navigation: end -->

      <!-- Desktop Secondary Navigation: start -->
      <nav class="Navigation Navigation--horizontal ml-auto" aria-label="Secondary Navigation">
        <ul>
         <li class="NavigationItem NavigationItem--alignmentYCenter d-desktop-none">
          <button
            type="button"
            class="Button Button--secondary Button--medium Button--symmetrical"
            data-spirit-toggle="offcanvas"
            data-spirit-target="#off-canvas-navigation"
            aria-controls="off-canvas-navigation"
            aria-expanded="false"
          >
            <svg class="Icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/assets/icons/svg/sprite.svg#hamburger" />
            </svg>
            <span class="accessibility-hidden">Menu</span>
          </button>
         </li>
         <li class="NavigationItem NavigationItem--alignmentYCenter d-none d-desktop-flex">
           {{> themeSwitcher isLabelHidden=true id="select-theme"}}
         </li>
        </ul>
      </nav>
      <!-- Desktop Secondary Navigation: end -->
    </div>
  </div>
</header>

<!-- Drawer: start -->
<dialog id="off-canvas-navigation" class="Drawer Drawer--right" aria-label="Menu">
  <div class="DrawerPanel">
    <div class="DrawerPanel__content">

      <!-- DrawerCloseButton: start -->
      <button
        type="button"
        class="Button Button--tertiary Button--medium Button--symmetrical DrawerCloseButton"
        data-spirit-dismiss="off-canvas-navigation"
        data-spirit-target="#off-canvas-navigation"
        aria-controls="off-canvas-navigation"
        aria-expanded="false"
      >
        <svg class="Icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/assets/icons/svg/sprite.svg#close" />
        </svg>
        <span class="accessibility-hidden">Close</span>
      </button>
      <!-- DrawerCloseButton: end -->

      <div class="Stack Stack--hasSpacing my-900" style="--stack-spacing: var(--spirit-space-1200)">
        <!-- Drawer Main Navigation: start -->
        <nav class="Navigation Navigation--vertical" aria-label="Main Navigation">
          <ul>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="/packages/web/" class="NavigationAction NavigationAction--pill {{# if (eq package 'Web')}}NavigationAction--selected{{/if}}" {{# if (eq package 'Web')}}aria-current="page"{{/if}}>Web</a>
            </li>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="/packages/web-react/" class="NavigationAction NavigationAction--pill {{# if (eq package 'Web React')}}NavigationAction--selected{{/if}}" {{# if (eq package 'Web React')}}aria-current="page"{{/if}}>Web React</a>
            </li>
            {{!-- Hide link to the Twig implementation in production. Twig demo app only runs on localhost, we don't deploy it anywhere. --}}
            {{#if @is_development}}
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="https://localhost:4443" class="NavigationAction NavigationAction--pill">Web Twig</a>
            </li>
            {{/if}}
          </ul>
        </nav>
        <!-- Drawer Main Navigation: end -->

        <!-- Drawer Secondary Navigation: start -->
        <nav class="Navigation Navigation--vertical" aria-label="Secondary Navigation">
          <ul>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              {{> themeSwitcher isLabelHidden=false id="theme-select-drawer"}}
            </li>
          </ul>
        </nav>
        <!-- Drawer Secondary Navigation: end -->
      </div>

    </div>
  </div>
</dialog>
<!-- Drawer: end -->
