{{#> layout/base package="Spirit" }}

  {{#*inline "scripts"}}
  {{/inline}}

  {{> header package="" }}

  <main class="py-900 py-tablet-1200">
    <div class="Container">

      {{> @partial-block }}

    </div>
  </main>

{{/layout/base }}
