{{#> layout/base package=package}}

  {{#*inline "scripts"}}
  {{/inline}}

  {{#with package as |pkgName|}}
    {{> header package=pkgName}}
  {{else}}
    {{> header package=""}}
  {{/with}}

  <main class="bg-primary py-1100 py-tablet-1600">
    <div class="Container">

      {{> @partial-block}}

    </div>
  </main>

{{/layout/base}}
