@use '../settings/cursors';

@mixin button() {
    appearance: none;
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    font: inherit;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    cursor: cursors.$buttons;
}

@mixin list() {
    &:is(ul, ol) {
        padding-inline-start: 0;
        margin-block: 0;
        list-style: none;
    }
}
