// 1.The default theme will be applied to the :root element.
//   As in Figma we make the first theme the default one.
// 2. Set the default text color in each theme.

@use '../settings/globals';
@use 'string' as string-tools;
@use 'svg';
@use 'tokens' as tokens-tools;

@mixin generate($themes) {
    // 1.
    $is-default-theme: true;

    @each $key, $value in $themes {
        $selector: if($is-default-theme, ':root, .#{globals.$prefix}#{$key}', '.#{globals.$prefix}#{$key}');

        #{$selector} {
            @each $token-type-key, $token-type-value in $value {
                $token-type-name: string-tools.singularize($token-type-key);

                @include tokens-tools.generate-css-variables(
                    $token-type-value,
                    '#{globals.$prefix}#{$token-type-name}'
                );
            }
        }

        // 2.
        :where(#{$selector}) {
            color: var(--#{globals.$prefix}color-text-primary);
        }

        $is-default-theme: false;
    }
}
