$spin-duration: 1s;
$spin-easing: linear;

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animation-spin-clockwise {
    animation: spin $spin-duration $spin-easing infinite;
}
