@use 'sass:map';
@use '../settings/cursors';
@use '../settings/links' as links-settings;
@use '../tools/links';

@include links.variants('.link', links-settings.$variants, (default, hover, active, disabled));

.link-disabled {
    cursor: cursors.$disabled;
}

// Allows link underline everywhere, except for headings default state
.link-underlined,
[class*='typography-heading'] a:hover,
[class*='typography-heading'] a:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.1875em;
}

.link-stretched {
    @include links.stretch();
}

// All links in headings behave the same
[class*='typography-heading'] a {
    text-decoration: none;
}

// Only links in headings have visited state
[class*='typography-heading'] :visited {
    color: map.get(links-settings.$variants, primary, visited);
}

@include links.variants('[class*="typography-heading"] .link', links-settings.$variants, visited);
