// 1. In order to be transitioned, the visibility of the dialog is controlled through `opacity` and `visibility`
//    properties instead of the default `display`.
// 2. Use a `::before` pseudo-element instead of `::backdrop` to make fading possible.
// 3. Clip overflow during transition on mobile screens.
// 4. Restore text selection after `all: unset`.
// 5. For alignments other than `top`, prefer the `bottom` CSS property to enable smooth transitions between the uniform
//    and docked variants (see `_ModalDialog.scss`).

@use 'sass:map';
@use '../../tools/breakpoint';
@use 'theme';

.Modal {
    --modal-scale: #{theme.$transition-scale-ratio};
    --modal-translate-x: -50%;

    all: unset;
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex; // 1.
    overflow: hidden; // 3.
    visibility: hidden; // 1.
    opacity: 0; // 1.
    pointer-events: none; // 1.
    overscroll-behavior: contain;

    // 2.
    &::backdrop {
        background-color: transparent;
    }

    // 2.
    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -2;
        background-color: theme.$backdrop-background-color;
        visibility: hidden;
        opacity: 0;
    }

    @media (prefers-reduced-motion: no-preference) {
        transition-property: visibility, opacity;
        transition-duration: theme.$transition-duration;

        // 2.
        &::before {
            transition: inherit;
        }
    }
}

// 5.
.Modal--center,
.Modal:not(.Modal--top, .Modal--bottom) {
    --modal-top: auto;
    --modal-bottom: 50%;
    --modal-translate-y: 50%;
    --modal-transform-origin: center center;
}

.Modal--top {
    --modal-top: #{theme.$padding-y};
    --modal-bottom: auto;
    --modal-translate-y: #{-1 * theme.$transition-shift-distance};
    --modal-transform-origin: top center;
}

.Modal--bottom {
    --modal-top: auto;
    --modal-bottom: #{theme.$padding-y};
    --modal-translate-y: #{theme.$transition-shift-distance};
    --modal-transform-origin: bottom center;
}

.Modal[open] {
    --modal-scale: 1;
    --modal-translate-y: 0;

    visibility: visible;
    opacity: 1;
    user-select: text; // 4.
    pointer-events: auto;

    // 2.
    &::before {
        visibility: visible;
        opacity: 1;
    }
}

.Modal--center[open],
.Modal[open]:not(.Modal--top, .Modal--bottom) {
    --modal-translate-y: 50%;
}
