// 1. In order to be transitioned, the visibility of the dialog is controlled through `opacity` and `visibility`
//    properties instead of the default `display`.
// 2. Use a `::before` pseudo-element instead of `::backdrop` to make fading possible.
// 3. Clip overflow during transition on mobile screens.
// 4. Restore text selection after `all: unset`.

@use 'sass:map';
@use '../../tools/breakpoint';
@use 'theme';

.Modal {
    --modal-scale: #{theme.$transition-scale-ratio};
    --modal-translate-x: -50%;
    --modal-translate-y: #{theme.$transition-shift-distance};

    all: unset;
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex; // 1.
    overflow: hidden; // 3.
    visibility: hidden; // 1.
    opacity: 0; // 1.
    pointer-events: none; // 1.

    // 2.
    &::backdrop {
        background-color: transparent;
    }

    // 2.
    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -2;
        background-color: theme.$backdrop-background-color;
        visibility: hidden;
        opacity: 0;
    }

    @include breakpoint.up(map.get(theme.$breakpoints, tablet)) {
        --modal-translate-y: 50%;
    }

    @media (prefers-reduced-motion: no-preference) {
        transition-property: visibility, opacity;
        transition-duration: theme.$transition-duration;

        // 2.
        &::before {
            transition: inherit;
        }
    }
}

.Modal[open] {
    --modal-scale: 1;
    --modal-translate-y: 0;

    visibility: visible;
    opacity: 1;
    user-select: text; // 4.
    pointer-events: auto;

    // 2.
    &::before {
        visibility: visible;
        opacity: 1;
    }

    @include breakpoint.up(map.get(theme.$breakpoints, tablet)) {
        --modal-translate-y: 50%;
    }
}
