@use '@tokens' as tokens;

$typography: tokens.$body-medium-text-regular;
$breakpoints: tokens.$breakpoints;

$modal-padding: tokens.$space-600;
$modal-padding-tablet: tokens.$space-1100;

$dialog-max-width-tablet: 640px;
$dialog-max-width-desktop: 680px;

$content-padding: tokens.$space-700;
$content-padding-tablet: tokens.$space-800;
$content-border-radius: tokens.$radius-200;
$content-background-color: tokens.$background-basic;
$content-shadow: tokens.$shadow-300;

$header-spacing: tokens.$space-600;
$footer-spacing: tokens.$space-600;
$footer-gap: tokens.$space-400;

$backdrop-background-color: tokens.$background-backdrop;
