@use '@tokens' as tokens;

$typography: tokens.$body-medium-text-regular;
$breakpoints: tokens.$breakpoints;

$modal-padding: tokens.$space-600;
$modal-padding-tablet: tokens.$space-1100;

$dialog-max-width-tablet: 640px;
$dialog-max-width-desktop: 680px;

$content-padding: tokens.$space-700;
$content-padding-tablet: tokens.$space-800;
$content-border-radius: tokens.$radius-200;
$content-background-color: tokens.$background-basic;
$content-shadow: tokens.$shadow-300;

$header-spacing: tokens.$space-600;

$backdrop-background-color: tokens.$background-backdrop;

$icon-size: tokens.$space-700;
$icon-close: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18.3007 5.70997C17.9107 5.31997 17.2807 5.31997 16.8907 5.70997L12.0007 10.59L7.1107 5.69997C6.7207 5.30997 6.0907 5.30997 5.7007 5.69997C5.3107 6.08997 5.3107 6.71997 5.7007 7.10997L10.5907 12L5.7007 16.89C5.3107 17.28 5.3107 17.91 5.7007 18.3C6.0907 18.69 6.7207 18.69 7.1107 18.3L12.0007 13.41L16.8907 18.3C17.2807 18.69 17.9107 18.69 18.3007 18.3C18.6907 17.91 18.6907 17.28 18.3007 16.89L13.4107 12L18.3007 7.10997C18.6807 6.72997 18.6807 6.08997 18.3007 5.70997Z" fill="#{tokens.$text-primary-default}"/></svg>');
