$white: #fff !default;
$gray-100: #f4f4f4 !default;
$gray-200: #ebeaea !default;
$gray-300: #e9e9e9 !default;
$gray-400: #dbdbdb !default;
$gray-500: #d4d4d4 !default;
$gray-600: #c4c4c4 !default;
$gray-700: #737373 !default;
$black: #000 !default;

$brand-100: #f0f4f5 !default;
$brand-150: #a7bcc2 !default;
$brand-200: #90a2a7 !default;
$brand-250: #849499 !default;
$brand-300: #77a6c0 !default;
$brand-350: #6e7b80 !default;
$brand-400: #678fa6 !default;
$brand-450: #61b3ff !default;
$brand-500: #57798c !default;
$brand-550: #132930 !default;
$brand-600: #091417 !default;

$info-200: #ebf3f8 !default;
$info-400: #90cff1 !default;
$info-600: #85c1e1 !default;
$info-800: #78a9c5 !default;

$success-200: #f2f5e7 !default;
$success-400: #b7d16d !default;
$success-600: #9ebf40 !default;
$success-800: #8fad3a !default;

$warning-200: #f8f2e4 !default;
$warning-400: #f1d07c !default;
$warning-600: #dfbb5f !default;
$warning-800: #c29132 !default;

$danger-200: #fcf1f4 !default;
$danger-400: #db5f7b !default;
$danger-600: #c95771 !default;
$danger-800: #af4c62 !default;

// Brand
$brand-primary: $brand-550 !default;
$brand-secondary: $brand-300 !default;

$brand-colors: (
    primary: $brand-primary,
    secondary: $brand-secondary,
) !default;

// Background
$background-basic: $white !default;
$background-cover: $brand-100 !default;
$background-inverted: $brand-primary !default;

$background-colors: (
    basic: $background-basic,
    cover: $background-cover,
    inverted: $background-inverted,
) !default;

// Text
$text-primary-default: $brand-primary !default;
$text-primary-disabled: $gray-600 !default;
$text-secondary-default: $brand-200 !default;
$text-secondary-disabled: $gray-600 !default;
$text-primary-inverted-default: $white !default;
$text-primary-inverted-disabled: $gray-700 !default;
$text-secondary-inverted-default: $gray-300 !default;
$text-secondary-inverted-disabled: $gray-700 !default;

$text-colors: (
    primary-default: $text-primary-default,
    primary-disabled: $text-primary-disabled,
    secondary-default: $text-secondary-default,
    secondary-disabled: $text-secondary-disabled,
    primary-inverted-default: $text-primary-inverted-default,
    primary-inverted-disabled: $text-primary-inverted-disabled,
    secondary-inverted-default: $text-secondary-inverted-default,
    secondary-inverted-disabled: $text-secondary-inverted-disabled,
) !default;

// Action
$action-primary-default: $brand-secondary !default;
$action-primary-hover: $brand-400 !default;
$action-primary-active: $brand-500 !default;
$action-primary-disabled: $gray-200 !default;
$action-secondary-default: $brand-primary !default;
$action-secondary-hover: $brand-600 !default;
$action-secondary-active: $black !default;
$action-secondary-disabled: $gray-200 !default;
$action-link-primary-default: $action-primary-default !default;
$action-link-primary-hover: $action-primary-hover !default;
$action-link-primary-active: $action-primary-active !default;
$action-link-primary-disabled: $gray-600 !default;
$action-link-primary-visited: $brand-150 !default;
$action-link-secondary-default: $brand-200 !default;
$action-link-secondary-hover: $brand-250 !default;
$action-link-secondary-active: $brand-350 !default;
$action-link-secondary-disabled: $gray-600 !default;
$action-link-secondary-visited: $brand-150 !default;

$action-colors: (
    primary-default: $action-primary-default,
    primary-hover: $action-primary-hover,
    primary-active: $action-primary-active,
    primary-disabled: $action-primary-disabled,
    secondary-default: $action-secondary-default,
    secondary-hover: $action-secondary-hover,
    secondary-active: $action-secondary-active,
    secondary-disabled: $action-secondary-disabled,
    link-primary-default: $action-link-primary-default,
    link-primary-hover: $action-link-primary-hover,
    link-primary-active: $action-link-primary-active,
    link-primary-disabled: $action-link-primary-disabled,
    link-primary-visited: $action-link-primary-visited,
    link-secondary-default: $action-link-secondary-default,
    link-secondary-hover: $action-link-secondary-hover,
    link-secondary-active: $action-link-secondary-active,
    link-secondary-disabled: $action-link-secondary-disabled,
    link-secondary-visited: $action-link-secondary-visited,
);

// Emotion
$emotion-info-default: $info-400 !default;
$emotion-info-hover: $info-600 !default;
$emotion-info-active: $info-800 !default;
$emotion-info-disabled: $gray-200 !default;
$emotion-info-background: $info-200 !default;
$emotion-success-default: $success-400 !default;
$emotion-success-hover: $success-600 !default;
$emotion-success-active: $success-800 !default;
$emotion-success-disabled: $gray-200 !default;
$emotion-success-background: $success-200 !default;
$emotion-warning-default: $warning-400 !default;
$emotion-warning-hover: $warning-600 !default;
$emotion-warning-active: $warning-800 !default;
$emotion-warning-disabled: $gray-200 !default;
$emotion-warning-background: $warning-200 !default;
$emotion-danger-default: $danger-400 !default;
$emotion-danger-hover: $danger-600 !default;
$emotion-danger-active: $danger-800 !default;
$emotion-danger-disabled: $gray-200 !default;
$emotion-danger-background: $danger-200 !default;

$emotion-colors: (
    info-default: $emotion-info-default,
    info-hover: $emotion-info-hover,
    info-active: $emotion-info-active,
    info-disabled: $emotion-info-disabled,
    info-background: $emotion-info-background,
    success-default: $emotion-success-default,
    success-hover: $emotion-success-hover,
    success-active: $emotion-success-active,
    success-disabled: $emotion-success-disabled,
    success-background: $emotion-success-background,
    warning-default: $emotion-warning-default,
    warning-hover: $emotion-warning-hover,
    warning-active: $emotion-warning-active,
    warning-disabled: $emotion-warning-disabled,
    warning-background: $emotion-warning-background,
    danger-default: $emotion-danger-default,
    danger-hover: $emotion-danger-hover,
    danger-active: $emotion-danger-active,
    danger-disabled: $emotion-danger-disabled,
    danger-background: $emotion-danger-background,
);

// Border
$border-main-default: $gray-200 !default;
$border-main-hover: $gray-400 !default;
$border-main-active: $gray-500 !default;
$border-main-selected: $brand-secondary !default;
$border-main-disabled: $gray-100 !default;
$border-focus-default: $brand-450 !default;

$border-colors: (
    main-default: $border-main-default,
    main-hover: $border-main-hover,
    main-active: $border-main-active,
    main-selected: $border-main-selected,
    main-disabled: $border-main-disabled,
    focus-default: $border-focus-default,
);
