$space-0: 0;
$space-1: 0.0625rem;
$space-2: 0.125rem;
$space-3: 0.25rem;
$space-4: 0.5rem;
$space-5: 0.75rem;
$space-6: 1rem;
$space-7: 1.5rem;
$space-8: 2rem;
$space-9: 2.5rem;
$space-10: 3rem;
$space-11: 3.5rem;
$space-12: 4rem;
$space-13: 5rem;

$spaces: (
    0: $space-0,
    1: $space-1,
    2: $space-2,
    3: $space-3,
    4: $space-4,
    5: $space-5,
    6: $space-6,
    7: $space-7,
    8: $space-8,
    9: $space-9,
    10: $space-10,
    11: $space-11,
    12: $space-12,
    13: $space-13,
);
