$space-0: 0;
$space-1: 1px;
$space-2: 2px;
$space-3: 4px;
$space-4: 8px;
$space-5: 12px;
$space-6: 16px;
$space-7: 24px;
$space-8: 32px;
$space-9: 40px;
$space-10: 48px;
$space-11: 56px;
$space-12: 64px;
$space-13: 80px;

$spaces: (
    0: $space-0,
    1: $space-1,
    2: $space-2,
    3: $space-3,
    4: $space-4,
    5: $space-5,
    6: $space-6,
    7: $space-7,
    8: $space-8,
    9: $space-9,
    10: $space-10,
    11: $space-11,
    12: $space-12,
    13: $space-13,
);
