// Font Family
$font-family-default: 'Inter' !default;

// Line Height
$line-height-default: 1.5 !default;
$line-height-heading: 1.2 !default;

// Font Size
$font-size-1: 0.625rem !default; // 10px
$font-size-2: 0.75rem !default; // 12px
$font-size-3: 0.875rem !default; // 14px
$font-size-4: 1rem !default; // 16px
$font-size-5: 1.125rem !default; // 18px
$font-size-6: 1.25rem !default; // 20px
$font-size-7: 1.5rem !default; // 24px
$font-size-8: 2rem !default; // 32px
$font-size-9: 2.5rem !default; // 40px
$font-size-10: 3rem !default; // 48px
$font-size-11: 3.5rem !default; // 56px
$font-size-12: 4rem !default; // 64px

$font-size-root: null !default;
$font-size-base: $font-size-4 !default;

$heading-xsmall-mobile: $font-size-4 !default;
$heading-xsmall-tablet: $font-size-6 !default;
$heading-xsmall-desktop: $font-size-6 !default;
$heading-small-mobile: $font-size-5 !default;
$heading-small-tablet: $font-size-7 !default;
$heading-small-desktop: $font-size-7 !default;
$heading-medium-mobile: $font-size-6 !default;
$heading-medium-tablet: $font-size-8 !default;
$heading-medium-desktop: $font-size-8 !default;
$heading-large-mobile: $font-size-8 !default;
$heading-large-tablet: $font-size-10 !default;
$heading-large-desktop: $font-size-10 !default;
$heading-xlarge-mobile: $font-size-10 !default;
$heading-xlarge-tablet: $font-size-12 !default;
$heading-xlarge-desktop: $font-size-12 !default;

$body-text-small: $font-size-3 !default;
$body-text-medium: $font-size-4 !default;
$body-text-large: $font-size-5 !default;

$caption-xsmall: $font-size-1 !default;
$caption-small: $font-size-2 !default;
$caption-medium: $font-size-3 !default;
$caption-large: $font-size-4 !default;

// Font Weight
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
