@use 'theme';
@use 'tools';
@use '../../tools/typography';

.Tag {
    @include typography.generate(theme.$typography);

    display: inline-block;
    padding: theme.$padding-y theme.$padding-x;
    text-align: center;
    border-radius: theme.$border-radius;
}

@each $variant, $variables in theme.$variants {
    @include tools.variant($variant, $variables);
}
