@use '@tokens' as tokens;

$breakpoints: tokens.$breakpoints;
$item-padding-x: tokens.$space-600;
$link-padding-y: tokens.$space-400;
$link-color: tokens.$text-primary-default;
$spacing-fallback: tokens.$space-700;
$item-typography: tokens.$body-medium-text-regular;
$item-selected-typography: tokens.$body-medium-text-bold;
$item-selected-underline-background: tokens.$action-selected-default;
$item-selected-underline-border-radius: tokens.$radius-100;
