{{#> layout/base package="Web" packageUrl="/packages/web/" title=title}}

  {{> header}}

  <main id="skiplink-main-content">

      {{> cover}}

      {{> @partial-block}}

  </main>

  {{> footer}}

{{/layout/base}}
