{{#> layout/base package="Spirit Web"}}

  {{> header package="Web"}}

  {{#*inline "scripts"}}
  <script src="/packages/web/src/js/index.esm.ts" type="module"></script>
  {{/inline}}

  <main class="bg-primary py-1100 py-tablet-1600">
    <div class="Container">

      {{> web/tabs}}

      {{> @partial-block}}

    </div>
  </main>

{{/layout/base}}
