{{#> layout/base package="Web" packageUrl="/packages/web/" title=title}}

  {{> header}}
  {{> cover}}

  <main class="py-1000">

      {{> @partial-block}}

  </main>

  {{> footer}}

{{/layout/base}}
