{% extends 'layout/default.html.twig' %}

{% block content %}

    <section class="docs-Section">

        <h2 class="typography-heading-medium-text text-secondary-disabled mb-700 mb-tablet-900">Icons</h2>

        <ul class="Grid Grid--cols-2 Grid--tablet--cols-4 Grid--desktop--cols-6 list-unstyled text-center my-1000">

            {% for icon in icons %}
                <li class="mb-600">
                    <Icon name={{ icon }} />

                    <h3 class="mt-500">{{ icon }}</h3>
                </li>
            {% endfor %}

        </ul>

    </section>

{% endblock %}
