{% extends 'layout/default.html.twig' %}

{% block content %}

    <DocsSection title="Icons">

        <Grid elementType="ul" cols="{{ { mobile: 2, tablet: 4, desktop: 6 } }}" UNSAFE_className="text-center my-1000 list-unstyled">

            {% for icon in icons %}
                <li class="mb-600">
                    <Icon name={{ icon }} />

                    <Text marginTop="space-500" emphasis="bold">{{ icon }}</Text>
                </li>
            {% endfor %}

        </Grid>

    </DocsSection>

{% endblock %}
