services:
  web-twig-demo-php:
    build:
      context: .
      dockerfile: 'Dockerfile'
      target: app_php
      args:
        SYMFONY_VERSION: ${SYMFONY_VERSION:-}
        STABILITY: ${STABILITY:-stable}
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s

  web-twig-demo-server:
    build:
      context: .
      target: app_caddy
    depends_on:
      - web-twig-demo-php
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost, caddy:80}
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - server_data:/data
      - server_config:/config
    ports:
      # HTTP
      # - target: 80
      #   published: ${HTTP_PORT:-8880}
      #   protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-4443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-4443}
        protocol: udp

volumes:
  php_socket:
  server_data:
  server_config:
