version: '3.4'

# Development environment override
services:
  web-twig-demo-php:
    container_name: web-twig-demo-php
    build:
      target: app_php_dev
    volumes:
      - ./../:/srv/spirit-web-twig-demo/:delegated
      - ./../../../packages/web-twig:/srv/spirit-web-twig-bundle/:delegated
      - ./../../../packages/icons/dist/svg/:/srv/spirit-web-twig-bundle/static/:delegated
      - ./../docker/php/conf.d/app.dev.ini:/usr/local/etc/php/conf.d/app.dev.ini:ro
      # If you develop on Mac or Windows you can remove the vendor/ directory
      #  from the bind-mount for better performance by enabling the next line:
      - /srv/spirit-web-twig-demo/vendor
    environment:
      # See https://xdebug.org/docs/all_settings#mode
      XDEBUG_MODE: '${XDEBUG_MODE:-off}'
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway

  web-twig-demo-encore:
    container_name: web-twig-demo-encore
    command: 'sh -c "yarn && yarn watch"'
    image: node:20-alpine
    # ports:
    #   - '${DEV_SERVER_PORT:-8080}:8080'
    volumes:
      - ./../:/srv/spirit-web-twig-demo/:delegated
      - ./../../../packages/web:/srv/spirit-web/:delegated
      - ./../../../packages/demo:/srv/spirit-demo/:delegated
      - ./../../../packages/form-validations:/srv/spirit-form-validations/:delegated
      # If you develop on Mac or Windows you can remove the node_modules/ directory
      #  from the bind-mount for better performance by enabling the next line:
      - /srv/spirit-web-twig-demo/node_modules
    working_dir: /srv/spirit-web-twig-demo

  web-twig-demo-server:
    container_name: web-twig-demo-server
    command: ['caddy', 'run', '--config', '/etc/caddy/Caddyfile', '--adapter', 'caddyfile', '--watch']
    volumes:
      - ./../public:/srv/spirit-web-twig-demo/public:ro
      - ./../docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
