@use '@tokens' as tokens;
@use '../../tools/responsive-properties';
@use '../../tools/typography';
@use 'theme';

.TimelineMarker {
    @include typography.generate(theme.$timeline-marker-typography);
    @include responsive-properties.create-cascade(
        $property: 'width',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-marker-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$timeline-marker-size
    );
    @include responsive-properties.create-cascade(
        $property: 'height',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-marker-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$timeline-marker-size
    );

    display: flex;
    grid-area: marker;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-block: theme.$timeline-marker-margin;
}

.TimelineMarker .Icon {
    @include responsive-properties.create-cascade(
        $property: 'width',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$timeline-icon-size
    );
    @include responsive-properties.create-cascade(
        $property: 'height',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$timeline-icon-size
    );
}

.TimelineMarker--dot,
.TimelineMarker--number {
    border: theme.$timeline-marker-border;
    border-radius: theme.$timeline-marker-radius;
}

.TimelineMarker--dot {
    position: relative;
    color: theme.$timeline-marker-dot-color;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: theme.$timeline-marker-dot-radius;
        background-color: currentcolor;
        @include responsive-properties.create-cascade(
            $property: 'width',
            $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-dot-size',
            $breakpoints: theme.$breakpoints,
            $fallback-value: theme.$timeline-marker-dot-size
        );
        @include responsive-properties.create-cascade(
            $property: 'height',
            $input-custom-property-base-name: '#{tokens.$css-variable-prefix}timeline-dot-size',
            $breakpoints: theme.$breakpoints,
            $fallback-value: theme.$timeline-marker-dot-size
        );
    }
}
