@forward '../../../default/scss/colors' with (
    $brand-primary: #f90,
    $brand-secondary: #19325a,
    $background-basic: #fff,
    $background-cover: #f4f4f4,
    $background-inverted: #19325a,
    $text-primary-default: #000,
    $text-primary-inverted-default: #fff,
    $action-primary-default: #f90,
    $action-primary-hover: #eb8c00,
    $emotion-info-default: #0049ac,
    $emotion-info-background: #e6edf7,
    $emotion-success-default: #00a527,
    $emotion-success-background: #e7f6f1,
    $emotion-warning-default: #ff9900,
    $emotion-warning-background: #fff5e6,
    $emotion-danger-default: #d40014,
    $emotion-danger-background: #fbe6e8,
);
@forward '../../../default/scss/radii';
@forward '../../../default/scss/shadows';
@forward '../../../default/scss/spacing';
@forward '../../../default/scss/typography' with (
    $font-family-default: #{'Open Sans', helvetica, roboto, arial, sans-serif},
    $font-size-3: 13px,
    $font-size-4: 15px,
);
