// 1. Clip the loading spinner to fix button flickering during spinner animation.
// 2. Mobile breakpoint does not have an infix and we do not need asymmetrical classes for it, because the
//    default is already asymmetrical.

@use 'sass:map';
@use 'sass:string';
@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/breakpoint';
@use '../../tools/dictionaries';
@use '../../tools/responsive-properties';
@use '../../tools/typography';
@use 'theme';
@use 'tools';

$_component-name: 'Button';

.Button {
    --#{tokens.$css-variable-prefix}icon-size: var(--#{tokens.$css-variable-prefix}button-icon-size);

    @include tools.responsive-border-radius();
    @include typography.from-css-variables($infix: string.to-lower-case($_component-name));
    @include responsive-properties.create-cascade(
        $property: 'column-gap',
        $input-custom-property-base-name: 'button-spacing',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$column-gap
    );

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--#{tokens.$css-variable-prefix}button-height);
    padding-inline: var(--#{tokens.$css-variable-prefix}button-padding-x);
    padding-block: var(--#{tokens.$css-variable-prefix}button-padding-y);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: var(--#{tokens.$css-variable-prefix}button-color);
    border-width: theme.$border-width;
    border-style: theme.$border-style;
    border-color: var(--#{tokens.$css-variable-prefix}button-border-color);
    border-start-start-radius: var(
        --#{tokens.$css-variable-prefix}button-border-start-start-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-start-end-radius: var(
        --#{tokens.$css-variable-prefix}button-border-start-end-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-end-start-radius: var(
        --#{tokens.$css-variable-prefix}button-border-end-start-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-end-end-radius: var(
        --#{tokens.$css-variable-prefix}button-border-end-end-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    background-color: var(--#{tokens.$css-variable-prefix}button-background-color);
    user-select: none;
    cursor: cursors.$buttons;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: var(--#{tokens.$css-variable-prefix}button-color);
    }

    &:hover {
        background-color: var(--#{tokens.$css-variable-prefix}button-background-color-state-hover);
    }

    &:active {
        background-color: var(--#{tokens.$css-variable-prefix}button-background-color-state-active);
    }

    &:is(:disabled, .is-disabled, .Button--disabled) {
        pointer-events: none;
        cursor: cursors.$disabled;
    }
}

@include dictionaries.generate-colors(
    $class-name: $_component-name,
    $dictionary-values: theme.$color-component-button-dictionary,
    $config: theme.$color-action-button-config
);
@include dictionaries.generate-colors(
    $class-name: $_component-name,
    $dictionary-values: theme.$color-emotion-dictionary,
    $config: theme.$color-emotion-config
);
@include dictionaries.generate-sizes(
    $class-name: $_component-name,
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

// @deprecated The `block` modifier will be removed in the next major version.
// Migration: delete 'Button--block' class
// @see https://jira.almacareer.tech/browse/DS-1897
.Button--block {
    display: block;
    width: 100%;
}

@each $breakpoint-name, $breakpoint-value in theme.$breakpoints {
    $infix: breakpoint.get-modifier('infix', $breakpoint-name, $breakpoint-value);

    @include breakpoint.up($breakpoint-value) {
        .Button--#{$infix}symmetrical {
            flex: none;
            aspect-ratio: 1;
            padding-inline: 0;
        }

        // 2.
        @if $infix != '' {
            .Button--#{$infix}asymmetrical {
                flex: auto;
                aspect-ratio: auto;
                padding-inline: var(--#{tokens.$css-variable-prefix}button-padding-x);
            }
        }
    }
}

.Button:is(:disabled, .is-disabled, .Button--disabled):not(.Button--loading) {
    --#{tokens.$css-variable-prefix}button-color: #{theme.$disabled-color};
    --#{tokens.$css-variable-prefix}button-border-color: #{theme.$disabled-border-color};
    --#{tokens.$css-variable-prefix}button-background-color: #{theme.$disabled-background-color};
}

// We need to override the default disabled styles for plain buttons, because we want them to be still plain.
.Button--plain:is(:disabled, .is-disabled, .Button--disabled):not(.Button--loading) {
    --#{tokens.$css-variable-prefix}button-border-color: transparent;
    --#{tokens.$css-variable-prefix}button-background-color: transparent;
}

.Button.Button--loading {
    position: relative;
    overflow: hidden; // 1.
    color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: transparent;
    }
}

.Button--loading > svg:last-child {
    --animation-spin-translate: -50%, -50%;

    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--#{tokens.$css-variable-prefix}button-color);
    transform: translate(-50%, -50%);
}
