@use 'sass:map';
@use '@tokens' as tokens;
@use '../../tools/breakpoint';

@mixin square($breakpoints, $typography, $padding-y, $border-width) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @if map.has-key($typography, $breakpoint-name, line-height) {
            @include breakpoint.up($breakpoint-value) {
                width: calc(
                    (1em * #{map.get($typography, $breakpoint-name, line-height)}) + (#{$padding-y} * 2) +
                        (#{$border-width} * 2)
                );
            }
        }
    }
}

@mixin variant($variant, $variables) {
    .Button--#{$variant} {
        color: map.get($variables, default-color);
        background-color: map.get($variables, default-background);
        border-color: map.get($variables, default-border-color);

        &:hover,
        &:focus {
            color: map.get($variables, hover-color);
            background-color: map.get($variables, hover-background);
            border-color: map.get($variables, hover-border-color);
        }

        &:active {
            color: map.get($variables, active-color);
            background-color: map.get($variables, active-background);
            border-color: map.get($variables, active-border-color);
        }

        &:disabled,
        &.is-disabled,
        &.Button--disabled {
            color: map.get($variables, disabled-color);
            background-color: map.get($variables, disabled-background);
            border-color: map.get($variables, disabled-border-color);
            cursor: default;
            pointer-events: none;
        }
    }
}
