.docs-TileLink {
    display: block;
    padding: 1rem;
    border: 2px solid #e9e9e9;
    border-radius: 8px;
    font-size: 1.125rem; /* Based on the `body-large-text-regular` style. */
    font-weight: 600;
    line-height: 1.55;
}

.docs-TileLink:hover,
.docs-TileLink:focus {
    border-color: #dbdbdb;
}

.docs-TileLink:active {
    border-color: #d4d4d4;
}

.docs-Heading {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.75rem;
    align-items: baseline;
    margin-bottom: 1.5rem;
    font-size: 1.125rem; /* Based on the `heading-small-text` style. */
    font-weight: 700;
    line-height: 1.2;
}

.docs-Stack {
    display: grid;
    row-gap: 1rem;
}

.docs-Stack--start {
    justify-items: start;
}

.docs-Stack--stretch {
    justify-items: stretch;
}

.docs-Box {
    min-height: 2rem;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    background: #0b1c21;
}

.docs-Box--small {
    font-size: 0.75rem;
    text-align: center;
    white-space: normal;
}

.docs-Placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 1.5rem;
    text-align: center;
    gap: 2rem;
    border: 1px dashed #3eac98;
    background: #fff;
}

.docs-Placeholder__text {
    display: flex;
    flex-direction: column;
    color: #3eac98;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .docs-TileLink {
        padding: 1.5rem;
    }

    .docs-Heading {
        font-size: 1.5rem;
    }

    .docs-Box--small {
        font-size: 0.875rem;
    }
}

@media (min-width: 1280px) {
    .docs-Box--small {
        font-size: 1rem;
    }
}
