// 1. We don't want to add inline padding to nested NavigationItems

@use '../../tools/dictionaries';
@use 'theme';

@include dictionaries.generate-alignments(
    $class-name: 'NavigationItem',
    $dictionary-values: theme.$item-alignment-dictionary,
    $axis: 'y'
);

.NavigationItem:has(.NavigationAction--box) {
    align-items: stretch;
}

.Navigation--horizontal .NavigationItem {
    display: flex;
}

.Navigation--vertical .NavigationItem {
    display: grid;

    // stylelint-disable-next-line selector-max-class, selector-max-specificity -- 1.
    &:not(& .NavigationItem) {
        padding-inline: theme.$vertical-item-padding-x;
    }
}
