@use '@tokens' as tokens;
@use '../../tools/reset';
@use 'theme';

.Navigation,
.Navigation > ul {
    display: flex;
}

.Navigation:has(.NavigationAction) {
    height: var(--#{tokens.$css-variable-prefix}navigation-height, theme.$height);
}

.Navigation:not(:has(.NavigationAction)),
.Navigation:not(:has(.NavigationAction)) > ul {
    gap: theme.$spacing;
}

.Navigation > ul {
    @include reset.list();
}
