// 1. We need to set the top border too, otherwise the content won't be aligned properly.

@use '@tokens' as tokens;
@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

.NavigationLink:where(button) {
    @include reset.button();
}

.NavigationLink {
    @include typography.generate(theme.$link-typography);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: theme.$link-spacing;
    color: theme.$link-color-state-default;
    border-top: theme.$link-border-bottom-width theme.$link-border-bottom-style transparent; // 1.
    border-bottom: theme.$link-border-bottom-width theme.$link-border-bottom-style
        theme.$link-border-bottom-color-state-default;
    background-color: theme.$link-background-color-state-default;

    @media (hover: hover) {
        &:hover {
            text-decoration: none;
            color: theme.$link-color-state-hover;
            border-bottom-color: theme.$link-border-bottom-color-state-hover;
            background-color: theme.$link-background-color-state-hover;
        }
    }

    &:active {
        text-decoration: none;
        color: theme.$link-color-state-active;
        border-bottom-color: theme.$link-border-bottom-color-state-active;
        background-color: theme.$link-background-color-state-active;
    }
}

.NavigationLink--selected {
    color: theme.$link-color-state-selected;
    border-bottom-color: theme.$link-border-bottom-color-selected-state-default;
    background-color: theme.$link-background-color-state-selected;

    @media (hover: hover) {
        &:hover {
            border-bottom-color: theme.$link-border-bottom-color-selected-state-hover;
        }
    }

    &:active {
        border-bottom-color: theme.$link-border-bottom-color-selected-state-active;
    }
}

.NavigationLink--disabled {
    color: theme.$link-color-state-disabled;
    pointer-events: none;
}
