// ⚠️ Remove the `dist/` part from paths below when copy-and-pasting the code to your project.
$font-family: #{'Open Sans', helvetica, roboto, arial, sans-serif};

@forward '@lmc-eu/spirit-design-tokens/dist/scss/borders';
@forward '@lmc-eu/spirit-design-tokens/dist/scss/breakpoints';
@forward '@lmc-eu/spirit-design-tokens/dist/scss/colors' with (
    $brand-primary: #f90,
    $brand-secondary: #19325a,
    $background-basic: #fff,
    $background-cover: #f4f4f4,
    $background-inverted: #19325a,
    $text-primary-default: #000,
    $text-primary-inverted-default: #fff,
    $action-primary-default: #1b6494,
    $action-primary-hover: #1b6494,
    $emotion-informative-default: #0049ac,
    $emotion-informative-background: #e6edf7,
    $emotion-success-default: #00a527,
    $emotion-success-background: #e7f6f1,
    $emotion-warning-default: #ff9900,
    $emotion-warning-background: #fff5e6,
    $emotion-danger-default: #d40014,
    $emotion-danger-background: #fbe6e8
);
@forward '@lmc-eu/spirit-design-tokens/dist/scss/layout';
@forward '@lmc-eu/spirit-design-tokens/dist/scss/radii' with (
    $radius-1: 0,
    $radius-2: 0,
    $radius-3: 0
);
@forward '@lmc-eu/spirit-design-tokens/dist/scss/shadows';
@forward '@lmc-eu/spirit-design-tokens/dist/scss/spacing';
@forward '@lmc-eu/spirit-design-tokens/dist/scss/typography' with (
    $font-family-default: $font-family,
    $font-size-3: 13px,
    $font-size-4: 15px
);
