@use 'theme';
@use 'tools';

.Backdrop {
    @include tools.create-cover($position: fixed, $right: 100%, $left: auto);

    width: 100vw;
    background-color: theme.$backdrop-background-color;
    z-index: -2;
}

.Backdrop.is-open {
    @include tools.show-cover();
}
