@use 'theme';

.PricingPlanFooter {
    grid-row-start: -1;
    padding-inline: theme.$padding-x;
    padding-block: theme.$footer-padding-top theme.$footer-padding-bottom;
    text-align: center;
    border-top: theme.$border-width solid theme.$border-color;
}
