@use 'sass:string';
@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/dictionaries';
@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

$_component-name: 'ControlButton';

.ControlButton {
    --#{tokens.$css-variable-prefix}icon-size: var(--#{tokens.$css-variable-prefix}control-button-icon-size);

    @include reset.button();
    @include typography.from-css-variables($infix: string.to-lower-case($_component-name));

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--#{tokens.$css-variable-prefix}control-button-height);
    padding-inline: var(--#{tokens.$css-variable-prefix}control-button-padding-x);
    padding-block: var(--#{tokens.$css-variable-prefix}control-button-padding-y);
    border-radius: theme.$border-radius;
    user-select: none;
    cursor: cursors.$buttons;

    &:is(:disabled, .is-disabled, .ControlButton--disabled) {
        pointer-events: none;
        cursor: cursors.$disabled;
    }
}

@include dictionaries.generate-sizes(
    $class-name: $_component-name,
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

.ControlButton--symmetrical {
    flex: none;
    aspect-ratio: 1;
    padding-inline: 0;
}
