// 1. Mobile breakpoint does not have an infix and we do not need asymmetrical classes for it, because the
//    default is already asymmetrical.

@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/breakpoint';
@use '../../tools/dictionaries';
@use '../../tools/reset';
@use '../../tools/responsive-properties';
@use '../../tools/string' as spirit-string;
@use '../../tools/typography';
@use 'theme';

$_component-name: 'ControlButton';
$_component-name-infix: spirit-string.convert-pascal-case-to-kebab-case($_component-name);

.ControlButton {
    --#{tokens.$css-variable-prefix}icon-size: var(--#{tokens.$css-variable-prefix}#{$_component-name-infix}-icon-size);

    @include reset.button();
    @include typography.from-css-variables($infix: $_component-name-infix);
    @include responsive-properties.create-cascade(
        $property: 'column-gap',
        $input-custom-property-base-name: 'control-button-spacing',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$column-gap
    );

    height: var(--#{tokens.$css-variable-prefix}#{$_component-name-infix}-height);
    padding-inline: var(--#{tokens.$css-variable-prefix}#{$_component-name-infix}-padding-x);
    padding-block: var(--#{tokens.$css-variable-prefix}#{$_component-name-infix}-padding-y);
    border: theme.$border-width theme.$border-style transparent;
    border-radius: theme.$border-radius;
    user-select: none;
    cursor: cursors.$buttons;

    &:is(:disabled, .is-disabled, .ControlButton--disabled) {
        pointer-events: none;
        cursor: cursors.$disabled;
    }
}

.ControlButton--hasBackground {
    background-color: var(--#{tokens.$css-variable-prefix}local-background-color);
}

@include dictionaries.generate-sizes(
    $class-name: $_component-name,
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

@each $breakpoint-name, $breakpoint-value in theme.$breakpoints {
    $infix: breakpoint.get-modifier('infix', $breakpoint-name, $breakpoint-value);

    @include breakpoint.up($breakpoint-value) {
        .ControlButton--#{$infix}symmetrical {
            flex: none;
            aspect-ratio: 1;
            padding-inline: 0;
        }

        // 1.
        @if $infix != '' {
            .ControlButton--#{$infix}asymmetrical {
                flex: auto;
                aspect-ratio: auto;
                padding-inline: var(--#{tokens.$css-variable-prefix}#{$_component-name-infix}-padding-x);
            }
        }
    }
}
