@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$breakpoints: tokens.$breakpoints;

$border-width: tokens.$border-width-100;
$border-style: solid;
$border-radius: tokens.$radius-full;
$column-gap: tokens.$space-400;

$size-dictionary: dictionaries.$size;

$size-config: (
    small: (
        height: 24px,
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: 16px,
    ),
    medium: (
        height: 32px,
        padding-x: calc(#{tokens.$space-700} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: 16px,
    ),
    large: (
        height: 40px,
        padding-x: calc(#{tokens.$space-900} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-medium-regular,
        icon-size: 20px,
    ),
);
