@use 'theme';
@use 'tools';

.Container {
    width: 100%;
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;

    @include tools.paddings(theme.$container-paddings, theme.$container-breakpoints);
}

.Container:not(.Container--fluid) {
    max-width: theme.$container-max-width;
}
