@use '@tokens' as tokens;
@use '../../tools/dictionaries';
@use 'theme';
@use 'tools';

.Container {
    width: 100%;
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;

    @include tools.paddings(theme.$container-paddings, theme.$container-breakpoints);
}

@include dictionaries.generate-sizes('Container', theme.$container-sizes);

.Container:not(.Container--fluid) {
    max-width: var(--#{tokens.$css-variable-prefix}container-max-width, theme.$container-max-width);
}
