@use '@tokens' as tokens;
@use '../../tools/dictionaries';
@use 'theme';
@use 'tools';

.Container {
    @include tools.paddings(theme.$container-paddings, theme.$container-breakpoints);

    width: 100%;
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;
}

@include dictionaries.generate-sizes(
    $class-name: 'Container',
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

.Container:not(.Container--fluid) {
    max-width: var(--#{tokens.$css-variable-prefix}container-max-width, #{theme.$container-max-width});
}
