@use 'sass:map';
@use '@tokens' as tokens;
@use 'tools';

$container-max-width: tools.get-variable-if-exists('xlarge', true);
$container-paddings: map.get(tokens.$containers, padding);
$container-breakpoints: tokens.$breakpoints;

$container-sizes: (
    xsmall: tools.get-variable-if-exists('xsmall'),
    small: tools.get-variable-if-exists('small'),
    medium: tools.get-variable-if-exists('medium'),
    large: tools.get-variable-if-exists('large'),
    xlarge: tools.get-variable-if-exists('xlarge'),
);
