@use '@global' as global-tokens;

$container-max-width: global-tokens.$container-max-width;
$container-paddings: global-tokens.$container-paddings;
$container-breakpoints: global-tokens.$breakpoints;
