@use 'sass:map';
@use '@tokens' as tokens;
@use '../../tools/tokens' as helpers;
@use 'tools';

$container-max-width: helpers.get-variable-if-exists('container-xlarge-max-width', tokens.$container-max-width);
$container-paddings: map.get(tokens.$containers, padding);
$container-breakpoints: tokens.$breakpoints;

$container-sizes: (
    xsmall: tools.get-size('xsmall', $container-max-width),
    small: tools.get-size('small', $container-max-width),
    medium: tools.get-size('medium', $container-max-width),
    large: tools.get-size('large', $container-max-width),
    xlarge: tools.get-size('xlarge', $container-max-width),
);
