@use '@global' as global-tokens;
@use '../../settings/globals';
@use '../../settings/transitions';

$border-width: global-tokens.$border-width-100;
$border-style: solid;
$border-color: var(--#{globals.$prefix}color-border-basic);

$start-shadow-size: global-tokens.$space-700;
$start-shadow-initial-offset: -1 * transitions.$shift-distance-medium;
$start-shadow-background: global-tokens.$gradient-basic-overlay;

$end-shadow-size: global-tokens.$space-700;
$end-shadow-initial-offset: -1 * transitions.$shift-distance-medium;
$end-shadow-background: global-tokens.$gradient-basic-overlay;
