@use 'sass:map';
@use '../../tools/breakpoint';
@use 'theme';
@use 'tools';

.Grid {
    display: grid;
    grid-template-columns: repeat(theme.$grid-columns, 1fr);
    width: 100%;

    @include tools.gutters(theme.$grid-gutters, theme.$breakpoints);
}

@include tools.equal-columns(theme.$grid-equal-columns, theme.$breakpoints);

@include tools.item(theme.$breakpoints);
