@use 'sass:map';
@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$alignment-x-dictionary: dictionaries.$alignments-x-extended;
$alignment-y-dictionary: dictionaries.$alignments-y-extended;

$breakpoints: tokens.$breakpoints;

$grid-columns: tokens.$grid-columns;
$grid-spacings: map.get(tokens.$grids, spacing);
$grid-equal-columns: 1, 2, 3, 4, 5, 6, 12;
