@use '@global' as global-tokens;

$breakpoints: global-tokens.$breakpoints;

$grid-columns: global-tokens.$grid-columns;
$grid-gutters: global-tokens.$grid-gutters;
$grid-equal-columns: 1, 2, 3, 4, 5, 6, 12;
