@use 'sass:map';
@use '@global-tokens' as global-tokens;
@use '../../settings/dictionaries';

$alignments-x: (
    stretch: stretch,
    left: start,
    center: center,
    right: end,
);
$alignments-y: (
    stretch: stretch,
    top: start,
    center: center,
    bottom: end,
);

$breakpoints: global-tokens.$breakpoints;

$grid-columns: global-tokens.$grid-columns;
$grid-spacings: map.get(global-tokens.$grids, spacing);
$grid-equal-columns: 1, 2, 3, 4, 5, 6, 12;
