// 1. Match the size of a small ControlButton.

@use '@tokens' as tokens;
@use '../../settings/dictionaries';
@use '../../settings/transitions';

$max-width: 288px;
$typography: tokens.$body-medium-regular;
$padding: tokens.$space-600 tokens.$space-700;
$gap: tokens.$space-600;
$border-radius: tokens.$radius-300;
$color: tokens.$neutral-content-subtle;
$background-color: tokens.$neutral-background-basic;
$box-shadow: tokens.$shadow-400;
$transition-duration: transitions.$duration-200;
$transition-scale-ratio: transitions.$scale-ratio-small-objects;

$arrow-shape: var(--#{tokens.$css-variable-prefix}tooltip-arrow-background-image-url);
$arrow-width: 13px;
$arrow-height: 8px;
$arrow-corner-offset: tokens.$space-600;

$close-button-size: tokens.$space-900; // 1.

$placement-dictionary: dictionaries.$placement;
