@use 'theme';

%hidden {
    --tooltip-scale: #{theme.$transition-scale-ratio};

    visibility: hidden;
    opacity: 0;
}

%visible {
    --tooltip-scale: 1;

    visibility: visible;
    opacity: 1;
}
