// 1. Although it seems pointless, having the arrow as a standalone HTML element has a purpose: the arrow can be
//    precisely positioned in sticky tooltips, e.g. with Floating UI:
//    https://floating-ui.com
// 2. Reset positioning for controlled variant.
// 3. Shift Tooltip so there is space for the arrow between Tooltip and reference element.

@use 'sass:math';
@use '../../tools/placement';
@use '../../tools/reset';
@use '../../tools/svg';
@use '../../tools/typography';
@use 'theme';
@use 'tools';

.Tooltip {
    @include placement.child();
    @include typography.generate(theme.$typography);

    width: max-content;
    max-width: theme.$max-width;
    padding: theme.$padding;
    text-align: left;
    white-space: normal;
    word-break: normal;
    color: theme.$color;
    border-radius: theme.$border-radius;
    background-color: theme.$background-color;
    box-shadow: theme.$box-shadow;
    word-wrap: break-word;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: opacity, visibility, transform;
        transition-duration: theme.$transition-duration;
    }
}

// 1.
.Tooltip__arrow {
    position: absolute;
    width: theme.$arrow-width;
    height: theme.$arrow-height;
    background-image: svg.escape(theme.$arrow-shape);
    transform-origin: center bottom;
}

.Tooltip__close {
    @include reset.button();

    width: theme.$close-button-size;
    height: theme.$close-button-size;
    color: theme.$color;
}

.Tooltip--dismissible {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: theme.$gap;
    align-items: center;
    max-width: calc(#{theme.$max-width} + #{theme.$gap} + #{theme.$close-button-size});
}

// Sides
.Tooltip--top {
    @include placement.top-center($offset: theme.$arrow-height, $scale: var(--tooltip-scale, 1));
}

.Tooltip--bottom {
    @include placement.bottom-center($offset: theme.$arrow-height, $scale: var(--tooltip-scale, 1));
}

.Tooltip--left {
    @include placement.left-center($offset: theme.$arrow-height, $scale: var(--tooltip-scale, 1));
}

.Tooltip--right {
    @include placement.right-center($offset: theme.$arrow-height, $scale: var(--tooltip-scale, 1));
}

// Arrows
.Tooltip--top > .Tooltip__arrow {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%) rotateZ(180deg);
}

.Tooltip--bottom > .Tooltip__arrow {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0) rotateZ(0);
}

.Tooltip--left > .Tooltip__arrow {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -100%) rotateZ(90deg);
}

.Tooltip--right > .Tooltip__arrow {
    top: 50%;
    right: 100%;
    transform: translate(50%, -100%) rotateZ(-90deg);
}

// Controlled visibility
.Tooltip.is-hidden {
    @extend %hidden;
}

.Tooltip.is-visible {
    @extend %visible;
}

// Controlled placement
.Tooltip[data-spirit-placement] {
    inset: unset; // 2.
}

// stylelint-disable scss/at-extend-no-missing-placeholder -- We know what we are doing here. (Do we?)
.Tooltip[data-spirit-placement='top'] {
    @extend .Tooltip--top;

    transform: translate(0, #{-1 * theme.$arrow-height}); // 3.
}

.Tooltip[data-spirit-placement='bottom'] {
    @extend .Tooltip--bottom;

    transform: translate(0, #{theme.$arrow-height}); // 3.
}

.Tooltip[data-spirit-placement='left'] {
    @extend .Tooltip--left;

    transform: translate(#{-1 * theme.$arrow-height}, 0); // 3.
}

.Tooltip[data-spirit-placement='right'] {
    @extend .Tooltip--right;

    transform: translate(#{theme.$arrow-height}, 0); // 3.
}
