@use '@tokens' as tokens;

$variants: (
    primary: (
        default: tokens.$action-link-primary-default,
        hover: tokens.$action-link-primary-hover,
        active: tokens.$action-link-primary-active,
        disabled: tokens.$action-link-primary-disabled,
        visited: tokens.$action-link-primary-visited,
    ),
    secondary: (
        default: tokens.$action-link-secondary-default,
        hover: tokens.$action-link-secondary-hover,
        active: tokens.$action-link-secondary-active,
        disabled: tokens.$action-link-secondary-disabled,
        visited: tokens.$action-link-secondary-visited,
    ),
    inverted: (
        default: tokens.$action-link-inverted-default,
        hover: tokens.$action-link-inverted-hover,
        active: tokens.$action-link-inverted-active,
        disabled: tokens.$action-link-inverted-disabled,
        visited: tokens.$action-link-inverted-visited,
    ),
);
