@use 'sass:map';
@use 'theme';
@use '../../settings/cursors';
@use '../../tools/accessibility';
@use '../../tools/reset';
@use '../../tools/svg';
@use '../../tools/typography';

.TextField {
    display: inline-block;
    width: theme.$width-default;
}

.TextField__label {
    @include typography.generate(theme.$label-typography);

    display: block;
    margin-bottom: theme.$spacing;
    color: theme.$label-color-default;
}

.TextField__label--hidden {
    @include accessibility.hide-text();
}

.TextField__label--required::after {
    content: '*';
    color: theme.$label-required-color;
}

.TextField__input {
    @include typography.generate(theme.$input-typography);

    display: block;
    width: 100%;
    padding: theme.$input-padding-y theme.$input-padding-x;
    color: theme.$input-color-default;
    background: theme.$input-background;
    border: theme.$input-border-width theme.$input-border-style theme.$input-border-color-default;
    border-radius: theme.$input-border-radius;

    &::placeholder {
        color: theme.$input-placeholder-color-default;
        opacity: 1;
    }

    &[type='email'],
    &[type='number'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'],
    &[type='url'] {
        appearance: none;
    }

    &[type='number'] {
        --arrows-width: #{theme.$input-number-arrows-width};
    }

    &[size] {
        width: calc(
            var(--width) + 2 * #{theme.$input-padding-x} + 2 * #{theme.$input-border-width} + var(--arrows-width, 0px)
        );
    }

    @each $size in theme.$input-size-characters {
        &[size='#{$size}'] {
            --width: #{$size}ch;
        }
    }
}

.TextField--fluid {
    width: 100%;
}

.TextField__passwordToggle {
    position: relative;
    display: flex;
}

.TextField__passwordToggle > .TextField__input {
    flex-grow: 1;
    padding-right: 0;
    border-color: transparent;
}

// We position the button next to the input and use pseudo-element for border styling.
// We do this because password managers place their icon buttons inside the password input.
.TextField__passwordToggle__button {
    @include reset.button();

    display: flex;
    justify-content: center;
    align-items: center;
    padding: theme.$input-password-toggle-padding;
    color: theme.$input-color-default;
    border-radius: theme.$input-border-radius;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: theme.$input-border-width theme.$input-border-style theme.$input-border-color-default;
        border-radius: theme.$input-border-radius;
        pointer-events: none;
    }
}

.TextField__passwordToggle__icon {
    pointer-events: none;
}

.TextField__passwordToggle__icon--hidden,
.TextField__passwordToggle__button[aria-pressed='true'] > .TextField__passwordToggle__icon--shown {
    display: block;
}

.TextField__passwordToggle__icon--shown,
.TextField__passwordToggle__button[aria-pressed='true'] > .TextField__passwordToggle__icon--hidden {
    display: none;
}

.TextField > .TextField__input:focus-visible,
.TextField > .TextField__passwordToggle > .TextField__input:focus-visible ~ .TextField__passwordToggle__button::before {
    border-color: theme.$input-border-color-focus;
    outline: 0;
    box-shadow: theme.$input-focus-shadow;
}

.TextField > .TextField__passwordToggle > .TextField__input:focus-visible,
.TextField__passwordToggle__button:focus-visible {
    outline: 0;
}

.TextField__passwordToggle__button:focus-visible::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: (2 * theme.$input-password-toggle-padding) + theme.$input-password-toggle-icon-size;
    height: 100%;
    border-radius: theme.$input-border-radius;
    box-shadow: theme.$input-focus-shadow;
    z-index: 1;
}

.TextField__message,
.TextField > [data-element='validator_message'] {
    @include typography.generate(theme.$message-typography);

    margin-top: theme.$spacing;
    color: theme.$message-color-default;
}

@each $variant-name, $variant-value in theme.$variants {
    :is(.TextField--#{$variant-name}, .TextField.has-#{$variant-name}) > .TextField__input,
    :is(.TextField--#{$variant-name}, .TextField.has-#{$variant-name})
        .TextField__passwordToggle
        > .TextField__input
        ~ .TextField__passwordToggle__button::before {
        border-color: map.get($variant-value, input-border-color);
    }

    :is(.TextField--#{$variant-name}, .TextField.has-#{$variant-name})
        > :is(.TextField__message, [data-element='validator_message']) {
        color: map.get($variant-value, message-color);
    }
}

.TextField--disabled > .TextField__label {
    color: theme.$label-color-disabled;
}

.TextField .TextField__input:disabled,
:is(.TextField--disabled, .TextField.is-disabled) .TextField__input {
    color: theme.$input-color-disabled;

    &::placeholder {
        color: theme.$input-placeholder-color-disabled;
    }
}

.TextField > .TextField__input:disabled,
:is(.TextField--disabled, .TextField.is-disabled) > .TextField__input,
.TextField .TextField__passwordToggle .TextField__input:disabled ~ .TextField__passwordToggle__button::before,
:is(.TextField--disabled, .TextField.is-disabled)
    .TextField__passwordToggle
    .TextField__passwordToggle__button::before {
    border-color: theme.$input-border-color-disabled;
}

.TextField .TextField__input:disabled ~ .TextField__passwordToggle__button,
:is(.TextField--disabled, .TextField.is-disabled) .TextField__passwordToggle__button {
    color: theme.$input-color-disabled;
    cursor: cursors.$disabled;
    pointer-events: none;
}

:is(.TextField--disabled, .TextField.is-disabled) > :is(.TextField__message, [data-element='validator_message']) {
    color: theme.$message-color-disabled;
}
