@use '@global' as global-tokens;
@use '../../settings/globals';

$input-number-arrows-width: 1.25rem;
$input-password-toggle-padding: global-tokens.$space-500;
$input-password-toggle-icon-size: global-tokens.$space-900;
$input-size-characters: (2, 3, 4);
