@use '@tokens' as tokens;

$spacing: tokens.$space-300;
$width-default: 18rem;

$label-typography: tokens.$body-small-text-regular;
$label-color-default: tokens.$text-secondary-default;
$label-color-disabled: tokens.$text-secondary-disabled;
$label-required-color: tokens.$emotion-danger-default;

$input-padding-x: tokens.$space-400;
$input-padding-y: tokens.$space-400;
$input-typography: tokens.$body-medium-text-regular;
$input-color-default: tokens.$text-primary-default;
$input-color-disabled: tokens.$text-primary-disabled;
$input-border-width: tokens.$border-width-100;
$input-border-style: tokens.$border-style-100;
$input-border-color-default: tokens.$border-primary-default;
$input-border-color-hover: tokens.$border-primary-hover;
$input-border-color-focus: tokens.$focus-default;
$input-border-color-disabled: tokens.$border-primary-disabled;
$input-border-color-success: tokens.$emotion-success-default;
$input-border-color-warning: tokens.$emotion-warning-default;
$input-border-color-error: tokens.$emotion-danger-default;
$input-border-radius: tokens.$radius-100;
$input-background: tokens.$background-basic;
$input-focus-shadow: tokens.$focus;
$input-placeholder-color-default: tokens.$text-secondary-default;
$input-placeholder-color-disabled: tokens.$text-secondary-disabled;

$input-password-toggle-padding: tokens.$space-400;
$input-password-toggle-icon-size: tokens.$space-700;
$input-password-toggle-icon-hidden-default: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5ZM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5Zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3Z" fill="#{$input-color-default}"/></svg>');
$input-password-toggle-icon-hidden-disabled: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5ZM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5Zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3Z" fill="#{$input-color-disabled}"/></svg>');
$input-password-toggle-icon-shown-default: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7ZM2 4.27l2.28 2.28.46.46A11.804 11.804 0 0 0 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27ZM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2Zm4.31-.78 3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01Z" fill="#{$input-color-default}"/></svg>');
$input-password-toggle-icon-shown-disabled: url('data:image/svg+xml,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7ZM2 4.27l2.28 2.28.46.46A11.804 11.804 0 0 0 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27ZM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2Zm4.31-.78 3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01Z" fill="#{$input-color-disabled}"/></svg>');

$message-typography: tokens.$body-medium-text-regular;
$message-color-default: tokens.$text-secondary-default;
$message-color-disabled: tokens.$text-secondary-disabled;
$message-color-success: tokens.$emotion-success-default;
$message-color-warning: tokens.$emotion-warning-default;
$message-color-error: tokens.$emotion-danger-default;

$variants: (
    success: (
        input-border-color: $input-border-color-success,
        message-color: $input-border-color-success,
    ),
    warning: (
        input-border-color: $input-border-color-warning,
        message-color: $input-border-color-warning,
    ),
    error: (
        input-border-color: $input-border-color-error,
        message-color: $input-border-color-error,
    ),
);
