@use 'sass:map';
@use '@tokens' as tokens;
@use '../../tools/typography';

@each $style-name, $style-value in tokens.$styles {
    .typography-#{$style-name} {
        @include typography.generate($style-value);
    }
}
