@use 'sass:map';
@use 'theme';
@use '../../tools/accessibility';
@use '../../tools/typography';

.TextField {
    max-width: 100%;
}

.TextField__label {
    @include typography.generate(theme.$label-typography);

    display: block;
    margin-bottom: theme.$spacing;
    color: theme.$label-color-default;
}

.TextField__label--hidden {
    @include accessibility.hide-text();
}

.TextField__label--required::after {
    content: '*';
    color: theme.$label-required-color;
}

.TextField__input {
    @include typography.generate(theme.$input-typography);

    display: block;
    max-width: 100%;
    padding: theme.$input-padding-y theme.$input-padding-x;
    color: theme.$input-color-default;
    background: theme.$input-background;
    border: theme.$input-border-width theme.$input-border-style theme.$input-border-color-default;
    border-radius: theme.$input-border-radius;

    &::placeholder {
        color: theme.$input-placeholder-color-default;
        opacity: 1;
    }
}

.TextField:hover > .TextField__input,
.TextField__input:hover {
    border-color: theme.$input-border-color-hover;
}

.TextField:focus-within,
.TextField:focus-within:hover,
.TextField > .TextField__input:focus {
    border-color: theme.$input-border-color-focus;
    outline: 0;
}

.TextField__message {
    @include typography.generate(theme.$message-typography);

    margin-top: theme.$spacing;
    color: theme.$message-color-default;
}

@each $variant-name, $variant-value in theme.$variants {
    .TextField--#{$variant-name} > .TextField__input,
    .TextField--#{$variant-name}:hover > .TextField__input,
    .TextField--#{$variant-name} > .TextField__input:focus {
        border-color: map.get($variant-value, input-border-color);
    }

    .TextField--#{$variant-name} > .TextField__message {
        color: map.get($variant-value, message-color);
    }
}

.TextField--disabled > .TextField__label {
    color: theme.$label-color-disabled;
}

.TextField > .TextField__input:disabled,
.TextField:hover > .TextField__input:disabled,
.TextField--disabled > .TextField__input {
    color: theme.$input-color-disabled;
    border-color: theme.$input-border-color-disabled;

    &::placeholder {
        color: theme.$input-placeholder-color-disabled;
    }
}

.TextField--disabled > .TextField__message {
    color: theme.$message-color-disabled;
}
