@mixin generate-color-samples($colors) {
  @each $key, $value in $colors {
    .color-sample--#{$key} {
      background-color: nth($value, 1);

      // Text color
      @if length($value) > 1 {
        color: nth($value, 2);
      }

      // Border
      @if length($value) > 2 {
        border: 1px solid nth($value, 3);
      }

      &::before {
        content: '#{nth($value, 1)}';
      }
    }
  }
}

