// Spirit documentation styles

// Spirit styles
@import "src/scss/spirit";

// Documentation styles
@import "src/scss/docs/mixins";

body {
  padding-bottom: 100px;
}

// Intro page
.intro {
  height: 100vh;
  display: flex;
  background-color: $brand-primary;
  overflow: hidden;

  &__title {
    display: none;
  }

  &__container {
    display: inherit;
    flex: auto;

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      filter: blur(20px);
      transform: scale(.95);
      animation: zoom 5s .5s forwards cubic-bezier(0.65, 0.26, 0.45, 0.74);
    }
  }
}

@keyframes zoom {
  0% {}
  70% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

// Components
.color-samples {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px calc(1.5em - 10px);

  > * {
    flex: none;
    width: calc(50% - 20px);
    margin: 10px;

    @media (min-width: 900px) {
      width: calc(25% - 20px);
    }

    > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.color-sample {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;

  &::before {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title {
    display: block;
    margin-bottom: .25em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include generate-color-samples($brand-colors);
@include generate-color-samples($background-colors);
@include generate-color-samples($text-colors);
@include generate-color-samples($action-colors);
@include generate-color-samples($emotion-colors);
@include generate-color-samples($border-colors);
@include generate-color-samples($icon-colors);

// Spacing
.space {
  background-color: $background-cover;
}

@each $key, $value in $spaces {
  .space-#{$key} {
    height: $value;
  }
}

// Utils
.columns {
  display: flex;
  flex-wrap: wrap;

  &--3 {
    > * {
      flex: auto;
    }
  }
}