<header class="UNSTABLE_Header UNSTABLE_Header--bottomDivider theme-light-on-brand hide-from-visual-tests">
  <Container isFluid>
    <div
      class="Flex Flex--row Flex--noWrap Flex--alignmentXLeft Flex--alignmentYStretch"
      style="--flex-spacing-x: var(--spirit-space-1000);"
    >
      <a href="/" class="UNSTABLE_HeaderLogo" aria-label="Spirit Development Preview">
        {% include 'assets/spiritLogo.svg.twig' %}
      </a>

      <!-- Desktop Main Navigation: start -->
      <nav class="Navigation Navigation--horizontal d-none d-desktop-flex" aria-label="Main Navigation">
        <ul>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="http://localhost:3456/packages/web/"
              class="NavigationAction NavigationAction--pill"
            >
              Web
            </a>
          </li>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="http://localhost:3456/packages/web-react/"
              class="NavigationAction NavigationAction--pill"
            >
              Web React
            </a>
          </li>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="https://localhost:4443"
              class="NavigationAction NavigationAction--pill NavigationAction--selected"
              aria-current="page"
            >
              Web Twig
            </a>
          </li>
          <li class="NavigationItem NavigationItem--alignmentYCenter">
            <a
              href="http://localhost:3456/packages/form-validations/"
              class="NavigationAction NavigationAction--pill"
            >
              Form Validations
            </a>
          </li>
        </ul>
      </nav>
      <!-- Desktop Main Navigation: end -->

      <!-- Desktop Secondary Navigation: start -->
      <nav class="Navigation Navigation--horizontal ml-auto" aria-label="Secondary Navigation">
        <ul>
          <li class="NavigationItem NavigationItem--alignmentYCenter d-desktop-none">
            <Button
              color="secondary"
              isSymmetrical
              size="medium"
              data-spirit-toggle="offcanvas"
              data-spirit-target="#off-canvas-navigation"
              aria-controls="off-canvas-navigation"
              aria-expanded="false"
            >
              <Icon name="hamburger" />
              <VisuallyHidden>Menu</VisuallyHidden>
            </Button>
          </li>
          <li class="NavigationItem NavigationItem--alignmentYCenter d-none d-desktop-flex">
            {% include "partials/themeSwitcher.html.twig" with { isLabelHidden: true, themes, id: 'select-theme' } only %}
          </li>
        </ul>
      </nav>
      <!-- Desktop Secondary Navigation: end -->

    </div>
  </Container>
</header>

<!-- Drawer Navigation: start -->
<dialog id="off-canvas-navigation" class="Drawer Drawer--right" aria-label="Menu">
  <div class="DrawerPanel">
    <div class="DrawerPanel__content">

      <!-- DrawerCloseButton: start -->
      <Button
        color="tertiary"
        size="medium"
        isSymmetrical
        UNSAFE_className="DrawerCloseButton"
        data-spirit-dismiss="off-canvas-navigation"
        data-spirit-target="#off-canvas-navigation"
        aria-controls="off-canvas-navigation"
        aria-expanded="false"
      >
        <Icon name="close" />
        <VisuallyHidden>Close</VisuallyHidden>
      </Button>
      <!-- DrawerCloseButton: end -->

      <div class="Stack Stack--hasSpacing my-900" style="--stack-spacing: var(--spirit-space-1200)">
        <!-- Drawer Main Navigation: start -->
        <nav class="Navigation Navigation--vertical" aria-label="Main Navigation">
          <ul>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="http://localhost:3456/packages/web/" class="NavigationAction NavigationAction--pill">Web</a>
            </li>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="http://localhost:3456/packages/web-react/" class="NavigationAction NavigationAction--pill">Web React</a>
            </li>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="https://localhost:4443" class="NavigationAction NavigationAction--pill NavigationAction--selected" aria-current="page">Web Twig</a>
            </li>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              <a href="http://localhost:3456/packages/form-validations/" class="NavigationAction NavigationAction--pill">Form Validations</a>
            </li>
          </ul>
        </nav>
        <!-- Drawer Main Navigation: end -->

        <!-- Drawer Secondary Navigation: start -->
        <nav class="Navigation Navigation--vertical" aria-label="Secondary Navigation">
          <ul>
            <li class="NavigationItem NavigationItem--alignmentYCenter">
              {% include "partials/themeSwitcher.html.twig" with { themes, id: 'select-theme-drawer' } only %}
            </li>
          </ul>
        </nav>
        <!-- Drawer Secondary Navigation: end -->
      </div>

    </div>
  </div>
</dialog>
<!-- Drawer Navigation: end -->
