<header class='spirit-theme-light-inverted bg-primary text-secondary py-1200 py-tablet-1400'>
  <div class="Container">

    <h1 class='typography-headline-1-bold'>Spirit Design System</h1>
    <h2 class='typography-headline-3-bold text-secondary mb-1000'>Web Twig — Development Preview</h2>

    <div class="d-grid d-tablet-block">
      <a href="https://github.com/lmc-eu/spirit-design-system" class="Button Button--inverted Button--large mb-400 mb-tablet-0 mr-tablet-400">
        GitHub Project
      </a>
      <a href="https://spirit.supernova-docs.io/spirit/" class="Button Button--inverted Button--large">
        Spirit Docs →
      </a>
    </div>

  </div>
</header>
