@use '@tokens' as tokens;

$height: 72px;
$border-width: tokens.$border-width-100;
$border-style: solid;
$border-color: tokens.$component-header-border;
$background-color: tokens.$component-header-background;
