// 1. In order to have the border be outside of the height of the header, we need to use `content-box`
//    for the box-sizing. The box-sizing is inherited by the children, so we need to reset it to `border-box`.

@use '@tokens' as tokens;
@use 'theme';

.UNSTABLE_Header {
    --#{tokens.$css-variable-prefix}header-height: #{theme.$height};
    --#{tokens.$css-variable-prefix}navigation-height: var(--#{tokens.$css-variable-prefix}header-height);

    flex: none;
    box-sizing: content-box; // 1.
    height: var(--#{tokens.$css-variable-prefix}header-height);
    border-bottom: theme.$border-width theme.$border-style theme.$border-color;
    background-color: theme.$background-color;
}

// stylelint-disable-next-line selector-max-universal -- 1.
.UNSTABLE_Header > * {
    box-sizing: border-box;
}
