@use 'sass:map';
@use '@tokens' as tokens;
@use '../../tools/breakpoint';
@use '../../tools/dictionaries';
@use '../../tools/reset';
@use '../../tools/responsive-properties';
@use 'theme';

.Box {
    padding-inline: var(--box-spacing-x-internal);
    padding-block: var(--box-spacing-y-internal);

    @include reset.list();
    @include responsive-properties.create-cascade(
        $property: 'padding-inline',
        $input-custom-property-base-name: 'box-spacing-x',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$default-spacing
    );
    @include responsive-properties.create-cascade(
        $property: 'padding-block',
        $input-custom-property-base-name: 'box-spacing-y',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$default-spacing
    );
}
