// Variables: Colors

$white: #ffffff !default;
$gray-100: #f8f7f7 !default;
$gray-200: #ebeaea !default;
$gray-300: #dbdbdb !default;
$gray-400: #c4c4c4 !default;
$gray-500: #90a2a7 !default;
$gray-600: #5a6a6e !default;
$gray-700: #404b4e !default;
$gray-800: #343a40 !default;
$gray-900: #091417 !default;
$black: #000000 !default;

$info-200: #ebf3f8 !default;
$info-400: #90cff1 !default;
$info-600: #85c1e1 !default;
$info-800: #78a9c5 !default;

$success-200: #f2f5e7 !default;
$success-400: #b7d16d !default;
$success-600: #9ebf40 !default;
$success-800: #8fad3a !default;

$warning-200: #f8f2e4 !default;
$warning-400: #f1d07c !default;
$warning-600: #dfbb5f !default;
$warning-800: #c29132 !default;

$danger-200: #fcf1f4 !default;
$danger-400: #db5f7b !default;
$danger-600: #c95771 !default;
$danger-800: #af4c62 !default;

// Brand
$brand-primary: #132930 !default;
$brand-secondary: #77a6c0 !default;

$brand-colors: (
  brand-primary: ($brand-primary, #fff),
  brand-secondary: ($brand-secondary, #fff),
);

// Text
$text-primary: $brand-primary !default;
$text-primary-inverted: $white !default;
$text-secondary: $gray-500 !default;
$text-secondary-inverted: #e9e9e9 !default;

$text-colors: (
  text-primary: ($text-primary, #fff),
  text-secondary: ($text-secondary, #fff),
  text-primary-inverted: ($text-primary-inverted, $text-primary, $gray-200),
  text-secondary-inverted: $text-secondary-inverted
);

// Background
$background-basic: $white !default;
$background-cover: #f0f4f5 !default;

$background-colors: (
  background-basic: ($background-basic, $text-primary, $gray-200),
  background-cover: $background-cover,
);

// Action
$action-primary-default: $brand-secondary !default;
$action-primary-hover: #678fa6 !default;
$action-primary-active: #57798c !default;
$action-primary-disabled: $gray-200 !default;
$action-secondary-default: $brand-primary !default;
$action-secondary-hover: $gray-900 !default;
$action-secondary-active: $black !default;
$action-secondary-disabled: $gray-200 !default;
$action-link-primary-default: $action-primary-default !default;
$action-link-primary-hover: $action-primary-hover !default;
$action-link-primary-active: $action-primary-active !default;
$action-link-primary-disabled: $action-primary-disabled !default;
$action-link-secondary-default: $gray-500 !default;
$action-link-secondary-hover: #849499 !default;
$action-link-secondary-active: #6e7b80 !default;
$action-link-secondary-disabled: #e2e2e2 !default;

$action-colors: (
  action-primary-default: ($action-primary-default, #fff),
  action-primary-hover: ($action-primary-hover, #fff),
  action-primary-active: ($action-primary-active, #fff),
  action-primary-disabled: $action-primary-disabled,
  action-secondary-default: ($action-secondary-default, #fff),
  action-secondary-hover: ($action-secondary-hover, #fff),
  action-secondary-active: ($action-secondary-active, #fff),
  action-secondary-disabled: $action-secondary-disabled,
  action-link-primary-default: ($action-link-primary-default, #fff),
  action-link-primary-hover: ($action-link-primary-hover, #fff),
  action-link-primary-active: ($action-link-primary-active, #fff),
  action-link-primary-disabled: $action-link-primary-disabled,
  action-link-secondary-default: ($action-link-secondary-default, #fff),
  action-link-secondary-hover: ($action-link-secondary-hover, #fff),
  action-link-secondary-active: ($action-link-secondary-active, #fff),
  action-link-secondary-disabled: $action-link-secondary-disabled
);

// Emotion
$emotion-info-default: $info-400 !default;
$emotion-info-hover: $info-600 !default;
$emotion-info-active: $info-800 !default;
$emotion-info-disabled: $gray-200 !default;
$emotion-info-background: $info-200 !default;
$emotion-success-default: $success-400 !default;
$emotion-success-hover: $success-600 !default;
$emotion-success-active: $success-800 !default;
$emotion-success-disabled: $gray-200 !default;
$emotion-success-background: $success-200 !default;
$emotion-warning-default: $warning-400 !default;
$emotion-warning-hover: $warning-600 !default;
$emotion-warning-active: $warning-800 !default;
$emotion-warning-disabled: $gray-200 !default;
$emotion-warning-background: $warning-200 !default;
$emotion-danger-default: $danger-400 !default;
$emotion-danger-hover: $danger-600 !default;
$emotion-danger-active: $danger-800 !default;
$emotion-danger-disabled: $gray-200 !default;
$emotion-danger-background: $danger-200 !default;

$emotion-colors: (
  emotion-info-default: ($emotion-info-default, #fff),
  emotion-info-hover: ($emotion-info-hover, #fff),
  emotion-info-active: ($emotion-info-active, #fff),
  emotion-info-disabled: $emotion-info-disabled,
  emotion-info-background: $emotion-info-background,
  emotion-success-default: ($emotion-success-default, #fff),
  emotion-success-hover: ($emotion-success-hover, #fff),
  emotion-success-active: ($emotion-success-active, #fff),
  emotion-success-disabled: $emotion-success-disabled,
  emotion-success-background: $emotion-success-background,
  emotion-warning-default: ($emotion-warning-default, #fff),
  emotion-warning-hover: ($emotion-warning-hover, #fff),
  emotion-warning-active: ($emotion-warning-active, #fff),
  emotion-warning-disabled: $emotion-warning-disabled,
  emotion-warning-background: $emotion-warning-background,
  emotion-danger-default: ($emotion-danger-default, #fff),
  emotion-danger-hover: ($emotion-danger-hover, #fff),
  emotion-danger-active: ($emotion-danger-active, #fff),
  emotion-danger-disabled: $emotion-danger-disabled,
  emotion-danger-background: $emotion-danger-background
);

// Border
$border-main-default: $gray-200 !default;
$border-main-hover: $gray-300 !default;
$border-main-active: #d4d4d4 !default;
$border-main-selected: $brand-secondary !default;
$border-main-disabled: #f4f4f4 !default;

$border-colors: (
  border-main-default: $border-main-default,
  border-main-hover: $border-main-hover,
  border-main-active: $border-main-active,
  border-main-selected: ($border-main-selected, #fff),
  border-main-disabled: $border-main-disabled
);

// Icon
$icon-primary-default: $action-primary-default !default;
$icon-primary-hover: $action-primary-hover !default;
$icon-primary-active: $action-primary-active !default;
$icon-info-default: $emotion-info-default !default;
$icon-info-hover: $emotion-info-hover !default;
$icon-info-active: $emotion-info-active !default;
$icon-success-default: $emotion-success-default !default;
$icon-success-hover: $emotion-success-hover !default;
$icon-success-active: $emotion-success-active !default;
$icon-warning-default: $emotion-warning-default !default;
$icon-warning-hover: $emotion-warning-hover !default;
$icon-warning-active: $emotion-warning-active !default;
$icon-danger-default: $emotion-danger-default !default;
$icon-danger-hover: $emotion-danger-hover !default;
$icon-danger-active: $emotion-danger-active !default;

$icon-colors: (
  icon-primary-default: ($icon-primary-default, #fff),
  icon-primary-hover: ($icon-primary-hover, #fff),
  icon-primary-active: ($icon-primary-active, #fff),
  icon-info-default: ($icon-info-default, #fff),
  icon-info-hover: ($icon-info-hover, #fff),
  icon-info-active: ($icon-info-active, #fff),
  icon-success-default: ($icon-success-default, #fff),
  icon-success-hover: ($icon-success-hover, #fff),
  icon-success-active: ($icon-success-active, #fff),
  icon-warning-default: ($icon-warning-default, #fff),
  icon-warning-hover: ($icon-warning-hover, #fff),
  icon-warning-active: ($icon-warning-active, #fff),
  icon-danger-default: ($icon-danger-default, #fff),
  icon-danger-hover: ($icon-danger-hover, #fff),
  icon-danger-active: ($icon-danger-active, #fff)
);
