// Manually created from Figma
$border-style-none: none !default;
$border-style-solid: solid !default;
$border-style-dashed: dashed !default;
$border-width-0: 0 !default;
$border-width-100: 1px !default;
$border-width-200: 2px !default;
