// Manually created from Figma
$container-max-width: 1280px !default;

$breakpoint-mobile: 0 !default;
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 1280px !default;

$container-padding-mobile: 16px !default;
$container-padding-tablet: 32px !default;
$container-padding-desktop: 32px !default;

$grid-columns: 12 !default;

$grid-gutter-mobile: 16px !default;
$grid-gutter-tablet: 32px !default;
$grid-gutter-desktop: 32px !default;

$containers: (
    max-width: $container-max-width,
) !default;

$grids: (
    columns: $grid-columns,
) !default;

$breakpoints: (
    mobile: $breakpoint-mobile,
    tablet: $breakpoint-tablet,
    desktop: $breakpoint-desktop,
) !default;

$container-paddings: (
    mobile: $container-padding-mobile,
    tablet: $container-padding-tablet,
    desktop: $container-padding-desktop,
) !default;

$grid-gutters: (
    mobile: $grid-gutter-mobile,
    tablet: $grid-gutter-tablet,
    desktop: $grid-gutter-desktop,
) !default;
