// Manually created from Figma
$headline-1-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-1-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
) !default;

$headline-1-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
) !default;

$headline-1-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 64px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-2-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-2-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
) !default;

$headline-2-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
) !default;

$headline-2-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 48px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-3-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-3-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
) !default;

$headline-3-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
) !default;

$headline-3-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 32px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-4-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-4-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
) !default;

$headline-4-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
) !default;

$headline-4-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 24px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-5-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$headline-5-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.2,
    ),
) !default;

$headline-5-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.2,
    ),
) !default;

$headline-5-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    tablet: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
    desktop: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.2,
    ),
) !default;

$body-1-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.6,
    ),
) !default;

$body-1-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.6,
    ),
) !default;

$body-1-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.6,
    ),
) !default;

$body-1-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 20px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.6,
    ),
) !default;

$body-2-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 18px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.55,
    ),
) !default;

$body-2-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 18px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.55,
    ),
) !default;

$body-2-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 18px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.55,
    ),
) !default;

$body-2-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 18px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.55,
    ),
) !default;

$body-3-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.5,
    ),
) !default;

$body-3-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.5,
    ),
) !default;

$body-3-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.5,
    ),
) !default;

$body-3-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 16px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.5,
    ),
) !default;

$body-4-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 14px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.42,
    ),
) !default;

$body-4-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 14px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.42,
    ),
) !default;

$body-4-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 14px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.42,
    ),
) !default;

$body-4-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 14px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.42,
    ),
) !default;

$body-5-regular: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 12px,
        font-style: normal,
        font-weight: 400,
        line-height: 1.32,
    ),
) !default;

$body-5-semibold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 12px,
        font-style: normal,
        font-weight: 600,
        line-height: 1.32,
    ),
) !default;

$body-5-bold: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 12px,
        font-style: normal,
        font-weight: 700,
        line-height: 1.32,
    ),
) !default;

$body-5-italic: (
    mobile: (
        font-family: "'Inter', sans-serif",
        font-size: 12px,
        font-style: italic,
        font-weight: 400,
        line-height: 1.32,
    ),
) !default;

$styles: (
    headline-1-regular: $headline-1-regular,
    headline-1-semibold: $headline-1-semibold,
    headline-1-bold: $headline-1-bold,
    headline-1-italic: $headline-1-italic,
    headline-2-regular: $headline-2-regular,
    headline-2-semibold: $headline-2-semibold,
    headline-2-bold: $headline-2-bold,
    headline-2-italic: $headline-2-italic,
    headline-3-regular: $headline-3-regular,
    headline-3-semibold: $headline-3-semibold,
    headline-3-bold: $headline-3-bold,
    headline-3-italic: $headline-3-italic,
    headline-4-regular: $headline-4-regular,
    headline-4-semibold: $headline-4-semibold,
    headline-4-bold: $headline-4-bold,
    headline-4-italic: $headline-4-italic,
    headline-5-regular: $headline-5-regular,
    headline-5-semibold: $headline-5-semibold,
    headline-5-bold: $headline-5-bold,
    headline-5-italic: $headline-5-italic,
    body-1-regular: $body-1-regular,
    body-1-semibold: $body-1-semibold,
    body-1-bold: $body-1-bold,
    body-1-italic: $body-1-italic,
    body-2-regular: $body-2-regular,
    body-2-semibold: $body-2-semibold,
    body-2-bold: $body-2-bold,
    body-2-italic: $body-2-italic,
    body-3-regular: $body-3-regular,
    body-3-semibold: $body-3-semibold,
    body-3-bold: $body-3-bold,
    body-3-italic: $body-3-italic,
    body-4-regular: $body-4-regular,
    body-4-semibold: $body-4-semibold,
    body-4-bold: $body-4-bold,
    body-4-italic: $body-4-italic,
    body-5-regular: $body-5-regular,
    body-5-semibold: $body-5-semibold,
    body-5-bold: $body-5-bold,
    body-5-italic: $body-5-italic,
) !default;
