@use 'sass:map';
@use 'sass:meta';
@use '@global' as global-tokens;
@use '../settings/utilities' as utilities-settings;
@use '../tools/breakpoint';
@use '../tools/utilities';

@each $breakpoint-name, $breakpoint-value in global-tokens.$breakpoints {
    @include breakpoint.up($breakpoint-value) {
        $infix: if($breakpoint-value == 0, '', '-#{$breakpoint-name}');

        @each $key, $utility in utilities-settings.$utilities {
            @if meta.type-of($utility) == 'map' and (map.get($utility, responsive) == true or $infix == '') {
                @include utilities.generate($utility, $infix);
            }
        }
    }
}
