@use 'sass:map';
@use 'sass:meta';
@use '@tokens' as tokens;
@use '../settings/utilities' as utilities-settings;
@use '../tools/breakpoint';
@use '../tools/utilities';

@each $breakpoint-name, $breakpoint-value in tokens.$breakpoints {
    @include breakpoint.up($breakpoint-value) {
        $infix: if($breakpoint-value == 0, '', '-#{$breakpoint-name}');

        @each $key, $utility in utilities-settings.$utilities {
            @if meta.type-of($utility) == 'map' and (map.get($utility, responsive) == true or $infix == '') {
                @include utilities.generate($utility, $infix);
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-value in tokens.$breakpoints {
    @include breakpoint.only($breakpoint-value) {
        @each $key, $utility in utilities-settings.$utilities-breakpoint-specific {
            @include utilities.generate($utility, '-only-#{$breakpoint-name}');
        }
    }
}

// @deprecated We are introducing this fallback until Firefox implements the `text-wrap: pretty` property.
// Migration: Once fixed in Firefox, remove this fallback.
// Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1960910
// Interop issue: https://github.com/web-platform-tests/interop/issues/1136
.text-wrap-pretty {
    @supports not (text-wrap: pretty) {
        // stylelint-disable-next-line declaration-no-important -- Utilities are always !important.
        text-wrap: balance !important;
    }
}
