{# API #}
{%- set props = props | default([]) -%}
{%- set _class = props.class | default(null) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'HeaderDialogText' -%}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _class ] -%}

<span {{ mainProps(props) }} {{ classProp(_classNames) }}>
    {% block content %}{% endblock %}
</span>
