{# API #}
{%- set props = props | default([]) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'HeaderDialogText' -%}

{# Miscellaneous #}
{%- set _styleProps = useStyleProps(props) -%}
{%- set _classNames = [ _rootClassName, _styleProps.className ] -%}

<span {{ mainProps(props) }} {{ styleProp(_styleProps) }} {{ classProp(_classNames) }}>
    {% block content %}{% endblock %}
</span>
