{# API #}
{%- set props = props | default([]) -%}
{%- set _isAtEnd = props.isAtEnd | default(false) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'HeaderDesktopActions' -%}
{%- set _rootAtEndClassName = _isAtEnd ? _spiritClassPrefix ~ 'HeaderDesktopActions--end' : null -%}

{# Miscellaneous #}
{%- set _styleProps = useStyleProps(props) -%}
{%- set _classNames = [ _rootClassName, _rootAtEndClassName, _styleProps.className ] -%}

<nav {{ mainProps(props) }} {{ styleProp(_styleProps) }} {{ classProp(_classNames) }}>
    {% block content %}{% endblock %}
</nav>
