// 1. Use `box-shadow` to ensure the state of the radio field is visible when printed.
// 2. Make sure the state of the radio field is accessible in forced-colors mode (e.g. Windows High Contrast Mode) where
//    our `box-shadow` indicator is removed.
//
// See: https://moderncss.dev/pure-css-custom-styled-radio-buttons/

@use 'theme';
@use '../../tools/accessibility';
@use '../../tools/typography';

.RadioField {
    display: inline-flex;
    margin-block: theme.$spacing;
}

.RadioField__input {
    appearance: none;
    display: grid;
    width: theme.$input-width;
    height: theme.$input-width;
    margin: theme.$input-margin;
    font: inherit;
    color: theme.$input-color-unchecked;
    border: theme.$input-outline-width solid theme.$input-color-unchecked;
    border-radius: theme.$input-border-radius;
    background-color: transparent;
    transform: translateY(-0.075em);
    place-content: center;

    &:checked {
        border-color: theme.$input-color-checked;
    }

    &:focus-visible {
        outline: 0;
        box-shadow: theme.$input-focus-shadow;
    }

    &::before {
        content: '';
        width: theme.$input-inner-dot-width;
        height: theme.$input-inner-dot-width;
        border-radius: theme.$input-border-radius;
        background-color: canvastext; // 2.
        box-shadow: theme.$input-box-shadow-before; // 1.
        transform: scale(0);
        transition: theme.$input-transition;
    }

    &:checked::before {
        transform: scale(1);
    }
}

// stylelint-disable no-descending-specificity, selector-max-specificity
.RadioField__label {
    display: inline-block;
    margin-left: theme.$label-margin;
    color: theme.$label-color-default;
    @include typography.generate(theme.$label-typography);
}

.RadioField__label--hidden {
    @include accessibility.hide-text();
}

.RadioField--disabled > .RadioField__label {
    color: theme.$label-color-disabled;
}

.RadioField > .RadioField__input:disabled,
.RadioField:hover > .RadioField__input:disabled,
.RadioField--disabled > .RadioField__input {
    border-color: theme.$input-color-disabled;

    &::before {
        box-shadow: theme.$input-box-shadow-disabled; // 1.
    }

    &:checked {
        border-color: theme.$input-color-disabled;
    }
}
