@use 'theme';
@use '../../tools/accessibility';
@use '../../tools/typography';

.RadioField {
    display: inline-flex;
    margin-block: theme.$spacing;
}

.RadioField__input {
    display: grid;
    width: theme.$input-width;
    height: theme.$input-width;
    margin: theme.$input-margin;
    font: inherit;
    color: theme.$input-color-unchecked;
    background-color: transparent;
    border: theme.$input-outline-width solid theme.$input-color-unchecked;
    border-radius: theme.$input-border-radius;
    appearance: none;
    transform: translateY(-0.075em);
    place-content: center;

    &:checked {
        border-color: theme.$input-color-checked;
    }

    &:focus-visible {
        outline: 0;
        box-shadow: theme.$input-focus-shadow;
    }

    &::before {
        content: '';
        width: theme.$input-inner-dot-width;
        height: theme.$input-inner-dot-width;
        border-radius: theme.$input-border-radius;
        transform: scale(0);
        transition: theme.$input-transition;
        box-shadow: theme.$input-box-shadow-before;
    }

    &:checked::before {
        transform: scale(1);
    }
}

.RadioField__label {
    display: inline-block;
    margin-left: theme.$label-margin;
    color: theme.$label-color-default;
    @include typography.generate(theme.$label-typography);

    &--hidden {
        @include accessibility.hide-text();
    }
}

.RadioField--disabled > .RadioField__label {
    color: theme.$label-color-disabled;
}

.RadioField > .RadioField__input:disabled,
.RadioField:hover > .RadioField__input:disabled,
.RadioField--disabled > .RadioField__input {
    border-color: theme.$input-color-disabled;

    &::before {
        box-shadow: theme.$input-box-shadow-disabled;
    }

    &:checked {
        border-color: theme.$input-color-disabled;
    }
}
