@use '@tokens' as tokens;
@use '../../theme/form-fields' as form-fields-theme;

$input-border-radius: 50%;
$input-size: 20px;
$input-margin: 2px;
$input-inner-dot-size: 10px;
$input-box-shadow-before: inset tokens.$space-600 tokens.$space-600 form-fields-theme.$inline-field-input-color-checked;
$input-box-shadow-disabled: inset tokens.$space-600 tokens.$space-600 form-fields-theme.$input-color-disabled;
$input-transition: 0.12s transform ease-in-out;
$input-focus-shadow: tokens.$focus;
