<div class="spirit-feature-modal-enable-uniform-dialog" style="display: contents"><!-- Set `display: contents` to enable parent stack layout. -->
    <Button data-spirit-toggle="modal" data-spirit-target="#example-uniform">
        Open Modal
    </Button>

    <Button data-spirit-toggle="modal" data-spirit-target="#example-docked">
        Open Docked Modal (mobile only)
    </Button>

    <Modal id="example-uniform" titleId="example-uniform-title">
        <ModalDialog>
            <ModalHeader modalId="example-uniform" titleId="example-uniform-title">
                Modal Title
            </ModalHeader>
            <ModalBody>

                <!-- Content: start -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at excepturi laudantium magnam mollitia
                    perferendis reprehenderit, voluptate. Cum delectus dicta ducimus eligendi excepturi natus perferendis
                    provident unde. Eveniet, iste, molestiae?
                </p>

                <!-- Modal alignment demo: start -->
                <form onchange="setModalAlignment(event, '#example-uniform')" class="mb-600">
                    <div>Modal alignment:</div>
                    <Radio id="modal-uniform-alignment-top" UNSAFE_className="mr-600" label="Top" value="top" name="modal-alignment" autocomplete="off" />
                    <Radio id="modal-uniform-alignment-center" UNSAFE_className="mr-600" label="Center" value="center" name="modal-alignment" autocomplete="off" isChecked />
                    <Radio id="modal-uniform-alignment-bottom" UNSAFE_className="mr-600" label="Bottom" value="bottom" name="modal-alignment" autocomplete="off" />
                </form>
                <!-- Modal alignment demo: end -->

                <!-- Footer alignment demo: start -->
                <form onchange="setFooterAlignment(event, '#example-uniform .ModalFooter')" class="d-none d-tablet-block">
                    <div>Footer alignment (from tablet up):</div>
                    <Radio id="footer-uniform-alignment-left" UNSAFE_className="mr-600" label="Left" value="left" name="footer-alignment" autocomplete="off" />
                    <Radio id="footer-uniform-alignment-center" UNSAFE_className="mr-600" label="Center" value="center" name="footer-alignment" autocomplete="off" />
                    <Radio id="footer-uniform-alignment-right" UNSAFE_className="mr-600" label="Right" value="right" name="footer-alignment" autocomplete="off" isChecked />
                </form>
                <!-- Footer alignment demo: end -->

                <!-- Content: end -->

            </ModalBody>
            <ModalFooter description="Optional description">
                <Button
                    data-spirit-dismiss="modal"
                    data-spirit-target="#example-uniform"
                >
                    Primary action
                </Button>
                <Button
                    color="secondary"
                    data-spirit-dismiss="modal"
                    data-spirit-target="#example-uniform"
                >
                    Secondary action
                </Button>
            </ModalFooter>
        </ModalDialog>
    </Modal>

    <Modal id="example-docked" titleId="example-docked-title">
        <ModalDialog isDockedOnMobile>
            <ModalHeader modalId="example-docked" titleId="example-docked-title">
                Modal Title
            </ModalHeader>
            <ModalBody>

                <!-- Content: start -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at excepturi laudantium magnam mollitia
                    perferendis reprehenderit, voluptate. Cum delectus dicta ducimus eligendi excepturi natus perferendis
                    provident unde. Eveniet, iste, molestiae?
                </p>
                <!-- Content: end -->

            </ModalBody>
            <ModalFooter description="Optional description">
                <Button
                    data-spirit-dismiss="modal"
                    data-spirit-target="#example-docked"
                >
                    Primary action
                </Button>
                <Button
                    color="secondary"
                    data-spirit-dismiss="modal"
                    data-spirit-target="#example-docked"
                >
                    Secondary action
                </Button>
            </ModalFooter>
        </ModalDialog>
    </Modal>
</div>
