// SPIRIT UI KIT styles

@import "spirit";

body {
  padding-bottom: 100px;
}

// Intro page
.intro {
  height: 100vh;
  display: flex;
  background-color: $brand-primary;
  overflow: hidden;

  &__title {
    display: none;
  }

  &__container {
    display: inherit;
    flex: auto;

    img {
      width: 100%;
      height: auto;
      opacity: 0;
      filter: blur(20px);
      transform: scale(.95);
      animation: zoom 5s .5s forwards cubic-bezier(0.65, 0.26, 0.45, 0.74);
    }
  }
}

@keyframes zoom {
  0% {}
  70% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

// Components
.color-samples {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px calc(1.5em - 10px);

  > * {
    flex: none;
    width: calc(50% - 20px);
    margin: 10px;

    @media (min-width: 900px) {
      width: calc(25% - 20px);
    }

    > p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.color-sample {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;

  &::before {
    text-transform: uppercase;
  }

  &__title {
    display: block;
    margin-bottom: .25em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--brand-primary {
    color: $white;
    background-color: $brand-primary;

    &::before {
      content: '#{$brand-primary}';
    }
  }

  &--brand-secondary {
    color: $white;
    background-color: $brand-secondary;

    &::before {
      content: '#{$brand-secondary}';
    }
  }

  &--background-basic {
    background-color: $bg-basic;
    border: 1px solid $gray-200;

    &::before {
      content: '#{$bg-basic}';
    }
  }

  &--background-cover {
    background-color: $bg-cover;

    &::before {
      content: '#{$bg-cover}';
    }
  }

  &--text-primary {
    color: $white;
    background-color: $text-primary;

    &::before {
      content: '#{$text-primary}';
    }
  }

  &--text-secondary {
    color: $white;
    background-color: $text-secondary;

    &::before {
      content: '#{$text-secondary}';
    }
  }

  &--text-primary-inverted {
    background-color: $text-primary-inverted;
    border: 1px solid $gray-200;

    &::before {
      content: '#{$text-primary-inverted}';
    }
  }

  &--text-secondary-inverted {
    background-color: $text-secondary-inverted;

    &::before {
      content: '#{$text-secondary-inverted}';
    }
  }

  &--link-primary {
    color: $white;
    background-color: $link-color-primary;

    &::before {
      content: '#{$link-color-primary}';
    }
  }

  &--link-secondary {
    color: $white;
    background-color: $link-color-secondary;

    &::before {
      content: '#{$link-color-secondary}';
    }
  }

  &--action-primary-default {
    color: $white;
    background-color: $action-primary-default;

    &::before {
      content: '#{$action-primary-default}';
    }
  }

  &--action-primary-hover {
    color: $white;
    background-color: $action-primary-hover;

    &::before {
      content: '#{$action-primary-hover}';
    }
  }

  &--action-primary-active {
    color: $white;
    background-color: $action-primary-active;

    &::before {
      content: '#{$action-primary-active}';
    }
  }

  &--action-primary-disabled {
    background-color: $action-primary-disabled;

    &::before {
      content: '#{$action-primary-disabled}';
    }
  }

  &--action-secondary-default {
    color: $white;
    background-color: $action-secondary-default;

    &::before {
      content: '#{$action-secondary-default}';
    }
  }

  &--action-secondary-hover {
    color: $white;
    background-color: $action-secondary-hover;

    &::before {
      content: '#{$action-secondary-hover}';
    }
  }

  &--action-secondary-active {
    color: $white;
    background-color: $action-secondary-active;

    &::before {
      content: '#{$action-secondary-active}';
    }
  }

  &--action-secondary-disabled {
    background-color: $action-secondary-disabled;

    &::before {
      content: '#{$action-secondary-disabled}';
    }
  }

  &--emotion-info-default {
    color: $white;
    background-color: $emotion-info-default;

    &::before {
      content: '#{$emotion-info-default}';
    }
  }

  &--emotion-info-hover {
    color: $white;
    background-color: $emotion-info-hover;

    &::before {
      content: '#{$emotion-info-hover}';
    }
  }

  &--emotion-info-active {
    color: $white;
    background-color: $emotion-info-active;

    &::before {
      content: '#{$emotion-info-active}';
    }
  }

  &--emotion-info-disabled {
    background-color: $emotion-info-disabled;

    &::before {
      content: '#{$emotion-info-disabled}';
    }
  }

  &--emotion-info-background {
    background-color: $emotion-info-bg;

    &::before {
      content: '#{$emotion-info-bg}';
    }
  }

  &--emotion-success-default {
    color: $white;
    background-color: $emotion-success-default;

    &::before {
      content: '#{$emotion-success-default}';
    }
  }

  &--emotion-success-hover {
    color: $white;
    background-color: $emotion-success-hover;

    &::before {
      content: '#{$emotion-success-hover}';
    }
  }

  &--emotion-success-active {
    color: $white;
    background-color: $emotion-success-active;

    &::before {
      content: '#{$emotion-success-active}';
    }
  }

  &--emotion-success-disabled {
    background-color: $emotion-success-disabled;

    &::before {
      content: '#{$emotion-success-disabled}';
    }
  }

  &--emotion-success-background {
    background-color: $emotion-success-bg;

    &::before {
      content: '#{$emotion-success-bg}';
    }
  }

  &--emotion-warning-default {
    color: $white;
    background-color: $emotion-warning-default;

    &::before {
      content: '#{$emotion-warning-default}';
    }
  }

  &--emotion-warning-hover {
    color: $white;
    background-color: $emotion-warning-hover;

    &::before {
      content: '#{$emotion-warning-hover}';
    }
  }

  &--emotion-warning-active {
    color: $white;
    background-color: $emotion-warning-active;

    &::before {
      content: '#{$emotion-warning-active}';
    }
  }

  &--emotion-warning-disabled {
    background-color: $emotion-warning-disabled;

    &::before {
      content: '#{$emotion-warning-disabled}';
    }
  }

  &--emotion-warning-background {
    background-color: $emotion-warning-bg;

    &::before {
      content: '#{$emotion-warning-bg}';
    }
  }

  &--emotion-danger-default {
    color: $white;
    background-color: $emotion-danger-default;

    &::before {
      content: '#{$emotion-danger-default}';
    }
  }

  &--emotion-danger-hover {
    color: $white;
    background-color: $emotion-danger-hover;

    &::before {
      content: '#{$emotion-danger-hover}';
    }
  }

  &--emotion-danger-active {
    color: $white;
    background-color: $emotion-danger-active;

    &::before {
      content: '#{$emotion-danger-active}';
    }
  }

  &--emotion-danger-disabled {
    background-color: $emotion-danger-disabled;

    &::before {
      content: '#{$emotion-danger-disabled}';
    }
  }

  &--emotion-danger-background {
    background-color: $emotion-danger-bg;

    &::before {
      content: '#{$emotion-danger-bg}';
    }
  }

  &--component-main-default {
    color: $white;
    background-color: $component-main-default;

    &::before {
      content: '#{$component-main-default}';
    }
  }

  &--component-main-hover {
    color: $white;
    background-color: $component-main-hover;

    &::before {
      content: '#{$component-main-hover}';
    }
  }

  &--component-main-active {
    color: $white;
    background-color: $component-main-active;

    &::before {
      content: '#{$component-main-active}';
    }
  }

  &--component-main-selected {
    color: $white;
    background-color: $component-main-selected;

    &::before {
      content: '#{$component-main-selected}';
    }
  }

  &--component-main-disabled {
    background-color: $component-main-disabled;

    &::before {
      content: '#{$component-main-disabled}';
    }
  }

  &--component-main-border-default {
    background-color: $component-main-border-default;

    &::before {
      content: '#{$component-main-border-default}';
    }
  }

  &--component-main-border-hover {
    background-color: $component-main-border-hover;

    &::before {
      content: '#{$component-main-border-hover}';
    }
  }

  &--component-main-border-active {
    background-color: $component-main-border-active;

    &::before {
      content: '#{$component-main-border-active}';
    }
  }

  &--component-main-border-selected {
    color: $white;
    background-color: $component-main-border-selected;

    &::before {
      content: '#{$component-main-border-selected}';
    }
  }

  &--component-main-border-disabled {
    background-color: $component-main-border-disabled;

    &::before {
      content: '#{$component-main-border-disabled}';
    }
  }

  &--icon-primary-default {
    color: $white;
    background-color: $icon-primary-default;

    &::before {
      content: '#{$icon-primary-default}';
    }
  }

  &--icon-primary-info {
    color: $white;
    background-color: $icon-primary-info;

    &::before {
      content: '#{$icon-primary-info}';
    }
  }

  &--icon-primary-success {
    color: $white;
    background-color: $icon-primary-success;

    &::before {
      content: '#{$icon-primary-success}';
    }
  }

  &--icon-primary-warning {
    color: $white;
    background-color: $icon-primary-warning;

    &::before {
      content: '#{$icon-primary-warning}';
    }
  }

  &--icon-primary-danger {
    color: $white;
    background-color: $icon-primary-danger;

    &::before {
      content: '#{$icon-primary-danger}';
    }
  }

  &--icon-secondary-default {
    color: $white;
    background-color: $icon-secondary-default;

    &::before {
      content: '#{$icon-secondary-default}';
    }
  }

  &--icon-secondary-hover {
    color: $white;
    background-color: $icon-secondary-hover;

    &::before {
      content: '#{$icon-secondary-hover}';
    }
  }

  &--icon-secondary-active {
    color: $white;
    background-color: $icon-secondary-active;

    &::before {
      content: '#{$icon-secondary-active}';
    }
  }

  &--icon-inverted {
    background-color: $icon-inverted;
    border: 1px solid $gray-200;

    &::before {
      content: '#{$icon-inverted}';
    }
  }

}

// Utils
.columns {
  display: flex;
  flex-wrap: wrap;

  &--3 {
    > * {
      flex: auto;
    }
  }
}