@use 'sass:map';
@use 'theme';
@use '../../theme/form-fields' as form-fields-theme;
@use '../../tools/form-fields' as form-fields-tools;
@use '../../tools/svg';

$_field-name: 'Checkbox';

.Checkbox {
    @include form-fields-tools.inline-field-root();
}

.Checkbox__text {
    margin-left: form-fields-theme.$gap;
}

.Checkbox__label {
    @include form-fields-tools.inline-field-label();
}

.Checkbox__label--hidden {
    @include form-fields-tools.label-hidden();
}

.Checkbox__label--required::after {
    @include form-fields-tools.label-required();
}

.Checkbox__input {
    @include form-fields-tools.inline-field-input();

    flex-shrink: 0;
    width: theme.$input-width;
    height: theme.$input-width;
    margin: theme.$input-margin;
    border-radius: theme.$input-border-radius;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:checked {
        color: form-fields-theme.$inline-field-input-color-checked;
        background-image: svg.escape(theme.$input-checked-mark);
        background-color: form-fields-theme.$inline-field-input-color-checked;
    }

    &:indeterminate {
        color: form-fields-theme.$inline-field-input-color-checked;
        background-image: svg.escape(theme.$input-indeterminate-mark);
        background-color: form-fields-theme.$inline-field-input-color-checked;
    }
}

.Checkbox__validationText,
.Checkbox > .Checkbox__text > [data-spirit-element='validation_text'] {
    @include form-fields-tools.validation-text();
}

.Checkbox__helperText {
    @include form-fields-tools.helper-text();
}

@include form-fields-tools.input-field-validation-states($_field-name);

.Checkbox--disabled {
    @include form-fields-tools.inline-field-root-disabled();
}

.Checkbox--disabled .Checkbox__label {
    @include form-fields-tools.label-disabled();
}

.Checkbox--disabled .Checkbox__validationText {
    @include form-fields-tools.validation-text-disabled();
}

.Checkbox--disabled .Checkbox__helperText {
    @include form-fields-tools.helper-text-disabled();
}

.Checkbox--disabled > .Checkbox__input,
.Checkbox > .Checkbox__input:disabled {
    @include form-fields-tools.input-disabled();
}

.Checkbox--disabled > .Checkbox__input:checked,
.Checkbox--disabled > .Checkbox__input:indeterminate,
.Checkbox > .Checkbox__input:disabled:checked,
.Checkbox > .Checkbox__input:disabled:indeterminate {
    background-color: form-fields-theme.$input-color-disabled;
}

.Checkbox--item {
    @include form-fields-tools.item();

    display: flex;
}

.Checkbox--item.Checkbox--disabled {
    @include form-fields-tools.item-disabled();
}

// stylelint-disable-next-line selector-max-class, selector-max-compound-selectors, selector-max-specificity -- We need to override the default styles for the label in Item.
.Checkbox--item .Checkbox__input:checked ~ .Checkbox__text > .Checkbox__label {
    @include form-fields-tools.item-label-checked();
}

.Checkbox--item .Checkbox__validationText {
    @include form-fields-tools.item-validation-text();
}

.Checkbox--item .Checkbox__helperText {
    @include form-fields-tools.item-helper-text();
}

.Checkbox--item:not(.Checkbox--disabled):hover .Checkbox__validationText,
.Checkbox--item:not(.Checkbox--disabled):active .Checkbox__validationText,
.Checkbox--item:not(.Checkbox--disabled):hover .Checkbox__helperText,
.Checkbox--item:not(.Checkbox--disabled):active .Checkbox__helperText {
    color: inherit;
}
