<section class="docs-Section">
    <h2 class="docs-Heading">Disabled</h2>

    <Grid cols="1" tablet="2" desktop="3">
        {% for size in sizes %}
        <div>
        <h3 class="docs-Heading">Size {{size}}</h3>
        {% for color in colors %}
        <div class="{% if color is same as('inverted') %}docs-Box {% endif %}my-600">
            <div>
            <ButtonLink color={color} size={size} isDisabled href="#">Disabled {{ color }}</ButtonLink>
            <ButtonLink color={color} size={size} href="#" isSquare isDisabled>
                <span class="accessibility-hidden">Menu</span>
                <Icon name="link" />
            </ButtonLink>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endfor %}
    </Grid>
</section>
