@use 'themes/theme-light' as theme-light;
@use 'themes/theme-light-inverted' as theme-light-inverted;

$themes: (
    // The first theme is the default theme, as the left column in the Figma table.
    theme-light:
        (
            colors: theme-light.$colors,
            gradients: theme-light.$gradients,
            shadows: theme-light.$shadows,
        ),
    theme-light-inverted: (
        colors: theme-light-inverted.$colors,
        gradients: theme-light-inverted.$gradients,
        shadows: theme-light-inverted.$shadows,
    )
);
