@use 'themes/theme-light-default';
@use 'themes/theme-light-on-brand';

$themes: (
    // The first theme is the default theme, as the left column in the Figma table.
    theme-light-default:
        (
            colors: theme-light-default.$colors,
        ),
    theme-light-on-brand: (
        colors: theme-light-on-brand.$colors,
    )
);
