$border-width-0: 0 !default;
$border-width-1: 1px !default;

$border-style-0: none !default;
$border-style-1: solid !default;
$border-style-2: dashed !default;

$border-1: $border-width-0 $border-style-0 !default;
$border-2: $border-width-1 $border-style-1 !default;
$border-3: $border-width-1 $border-style-2 !default;

$borders: (
    1: $border-1,
    2: $border-2,
    3: $border-3,
) !default;
