$white: #fff !default;
$gray-100: #f4f4f4 !default;
$gray-200: #ebeaea !default;
$gray-300: #e9e9e9 !default;
$gray-400: #dbdbdb !default;
$gray-500: #d4d4d4 !default;
$gray-600: #c4c4c4 !default;
$gray-800: #737373 !default;
$black: #000 !default;

$glacier-300: #77a6c0 !default;
$glacier-400: #678fa6 !default;
$glacier-500: #57798c !default;

$porcelain-50: #f0f4f5 !default;

$tower-gray-200: #a7bcc2 !default;
$tower-gray-300: #90a2a7 !default;
$tower-gray-400: #849499 !default;
$tower-gray-500: #6e7b80 !default;

$gable-green-800: #132930 !default;
$gable-green-900: #091417 !default;

$malibu-300: #61b3ff !default;

$jordy-blue-50: #ebf3f8 !default;
$jordy-blue-200: #90cff1 !default;
$jordy-blue-300: #85c1e1 !default;
$jordy-blue-400: #78a9c5 !default;

$wild-willow-50: #f2f5e7 !default;
$wild-willow-300: #b7d16d !default;
$wild-willow-400: #9ebf40 !default;
$wild-willow-500: #8fad3a !default;

$golden-sand-50: #f8f2e4 !default;
$golden-sand-200: #f1d07c !default;
$golden-sand-300: #dfbb5f !default;
$golden-sand-500: #c29132 !default;

$cranberry-50: #fcf1f4 !default;
$cranberry-300: #db5f7b !default;
$cranberry-400: #c95771 !default;
$cranberry-500: #af4c62 !default;

// Brand
$brand-primary: $gable-green-800 !default;
$brand-secondary: $glacier-300 !default;

$brand-colors: (
    primary: $brand-primary,
    secondary: $brand-secondary,
) !default;

// Background
$background-basic: $white !default;
$background-cover: $porcelain-50 !default;
$background-inverted: $brand-primary !default;

$background-colors: (
    basic: $background-basic,
    cover: $background-cover,
    inverted: $background-inverted,
) !default;

// Text
$text-primary-default: $brand-primary !default;
$text-primary-disabled: $gray-600 !default;
$text-secondary-default: $tower-gray-300 !default;
$text-secondary-disabled: $gray-600 !default;
$text-primary-inverted-default: $white !default;
$text-primary-inverted-disabled: $gray-800 !default;
$text-secondary-inverted-default: $gray-300 !default;
$text-secondary-inverted-disabled: $gray-800 !default;

$text-colors: (
    primary-default: $text-primary-default,
    primary-disabled: $text-primary-disabled,
    secondary-default: $text-secondary-default,
    secondary-disabled: $text-secondary-disabled,
    primary-inverted-default: $text-primary-inverted-default,
    primary-inverted-disabled: $text-primary-inverted-disabled,
    secondary-inverted-default: $text-secondary-inverted-default,
    secondary-inverted-disabled: $text-secondary-inverted-disabled,
) !default;

// Action
$action-primary-default: $brand-secondary !default;
$action-primary-hover: $glacier-400 !default;
$action-primary-active: $glacier-500 !default;
$action-primary-disabled: $gray-200 !default;
$action-secondary-default: $brand-primary !default;
$action-secondary-hover: $gable-green-900 !default;
$action-secondary-active: $black !default;
$action-secondary-disabled: $gray-200 !default;
$action-link-primary-default: $action-primary-default !default;
$action-link-primary-hover: $action-primary-hover !default;
$action-link-primary-active: $action-primary-active !default;
$action-link-primary-disabled: $gray-600 !default;
$action-link-primary-visited: $tower-gray-200 !default;
$action-link-secondary-default: $tower-gray-300 !default;
$action-link-secondary-hover: $tower-gray-400 !default;
$action-link-secondary-active: $tower-gray-500 !default;
$action-link-secondary-disabled: $gray-600 !default;
$action-link-secondary-visited: $tower-gray-200 !default;

$action-colors: (
    primary-default: $action-primary-default,
    primary-hover: $action-primary-hover,
    primary-active: $action-primary-active,
    primary-disabled: $action-primary-disabled,
    secondary-default: $action-secondary-default,
    secondary-hover: $action-secondary-hover,
    secondary-active: $action-secondary-active,
    secondary-disabled: $action-secondary-disabled,
    link-primary-default: $action-link-primary-default,
    link-primary-hover: $action-link-primary-hover,
    link-primary-active: $action-link-primary-active,
    link-primary-disabled: $action-link-primary-disabled,
    link-primary-visited: $action-link-primary-visited,
    link-secondary-default: $action-link-secondary-default,
    link-secondary-hover: $action-link-secondary-hover,
    link-secondary-active: $action-link-secondary-active,
    link-secondary-disabled: $action-link-secondary-disabled,
    link-secondary-visited: $action-link-secondary-visited,
) !default;

// Emotion
$emotion-info-default: $jordy-blue-200 !default;
$emotion-info-hover: $jordy-blue-300 !default;
$emotion-info-active: $jordy-blue-400 !default;
$emotion-info-disabled: $gray-200 !default;
$emotion-info-background: $jordy-blue-50 !default;
$emotion-success-default: $wild-willow-300 !default;
$emotion-success-hover: $wild-willow-400 !default;
$emotion-success-active: $wild-willow-500 !default;
$emotion-success-disabled: $gray-200 !default;
$emotion-success-background: $wild-willow-50 !default;
$emotion-warning-default: $golden-sand-200 !default;
$emotion-warning-hover: $golden-sand-300 !default;
$emotion-warning-active: $golden-sand-500 !default;
$emotion-warning-disabled: $gray-200 !default;
$emotion-warning-background: $golden-sand-50 !default;
$emotion-danger-default: $cranberry-300 !default;
$emotion-danger-hover: $cranberry-400 !default;
$emotion-danger-active: $cranberry-500 !default;
$emotion-danger-disabled: $gray-200 !default;
$emotion-danger-background: $cranberry-50 !default;

$emotion-colors: (
    info-default: $emotion-info-default,
    info-hover: $emotion-info-hover,
    info-active: $emotion-info-active,
    info-disabled: $emotion-info-disabled,
    info-background: $emotion-info-background,
    success-default: $emotion-success-default,
    success-hover: $emotion-success-hover,
    success-active: $emotion-success-active,
    success-disabled: $emotion-success-disabled,
    success-background: $emotion-success-background,
    warning-default: $emotion-warning-default,
    warning-hover: $emotion-warning-hover,
    warning-active: $emotion-warning-active,
    warning-disabled: $emotion-warning-disabled,
    warning-background: $emotion-warning-background,
    danger-default: $emotion-danger-default,
    danger-hover: $emotion-danger-hover,
    danger-active: $emotion-danger-active,
    danger-disabled: $emotion-danger-disabled,
    danger-background: $emotion-danger-background,
) !default;

// Border
$border-main-default: $gray-200 !default;
$border-main-hover: $gray-400 !default;
$border-main-active: $gray-500 !default;
$border-main-selected: $brand-secondary !default;
$border-main-disabled: $gray-100 !default;
$border-focus-default: $malibu-300 !default;

$border-colors: (
    main-default: $border-main-default,
    main-hover: $border-main-hover,
    main-active: $border-main-active,
    main-selected: $border-main-selected,
    main-disabled: $border-main-disabled,
    focus-default: $border-focus-default,
) !default;
