@use 'spacing';

$container-padding-mobile: spacing.$space-6 !default;
$container-padding-tablet: spacing.$space-8 !default;
$container-padding-desktop: spacing.$space-8 !default;

$container-paddings: (
    mobile: $container-padding-mobile,
    tablet: $container-padding-tablet,
    desktop: $container-padding-desktop,
) !default;

$container-max-width: 80rem !default;
