$space-0: 0 !default;
$space-1: 0.0625rem !default;
$space-2: 0.125rem !default;
$space-3: 0.25rem !default;
$space-4: 0.5rem !default;
$space-5: 0.75rem !default;
$space-6: 1rem !default;
$space-7: 1.5rem !default;
$space-8: 2rem !default;
$space-9: 2.5rem !default;
$space-10: 3rem !default;
$space-11: 3.5rem !default;
$space-12: 4rem !default;
$space-13: 5rem !default;

$spaces: (
    0: $space-0,
    1: $space-1,
    2: $space-2,
    3: $space-3,
    4: $space-4,
    5: $space-5,
    6: $space-6,
    7: $space-7,
    8: $space-8,
    9: $space-9,
    10: $space-10,
    11: $space-11,
    12: $space-12,
    13: $space-13,
) !default;
