<div style="display: flex; gap: 1rem">
    <TextField
        id="textfieldInlineHiddenLabel"
        isLabelHidden
        label="Hidden Label"
        name="textfieldInlineHiddenLabel"
        placeholder="Placeholder"
        value="Filled"
    />
    <Button>Button</Button>
</div>
<div style="display: flex; align-items: start; gap: 1rem">
    <TextField
        id="textfieldInlineDangerHiddenLabel"
        isLabelHidden
        label="Hidden Label"
        message="Message"
        name="textfieldInlineDangerHiddenLabel"
        placeholder="Placeholder"
        validationState="danger"
        value="Filled"
    />
    <Button>Button</Button>
</div>
<div style="display: flex; gap: 1rem">
    <TextField
        id="textfieldInlineFirst"
        isLabelHidden
        label="Hidden Label"
        name="textfieldInlineFirst"
        placeholder="Placeholder"
        value="Filled"
    />
    <TextField
        hasPasswordToggle
        id="textfieldInlinePassword"
        isLabelHidden
        label="Hidden Label"
        name="textfieldInlinePassword"
        placeholder="Placeholder"
        value="Password"
    />
    <Button>Button</Button>
</div>
