@use 'sass:map';
@use 'theme';
@use '../../tools/breakpoint';
@use '../../tools/svg';
@use '../../tools/typography';

.Breadcrumbs {
    @include typography.generate(theme.$typography);

    width: 100%;
    color: theme.$color;
}

.Breadcrumbs > ol {
    display: flex;
    flex-wrap: wrap;
    gap: theme.$gap-mobile-up;
    padding: 0;
    margin: 0;
    list-style: none;

    @include breakpoint.up(map.get(theme.$breakpoints, tablet)) {
        gap: theme.$gap-tablet-up;
    }
}

.Breadcrumbs > ol > li {
    display: flex;
    align-items: center;
    gap: theme.$gap-mobile-up;

    @include breakpoint.up(map.get(theme.$breakpoints, tablet)) {
        gap: theme.$gap-tablet-up;
    }
}
