@use 'sass:map';
@use '@tokens' as tokens;

$breakpoints: tokens.$breakpoints;

$typography: tokens.$body-small-text-regular;
$color: tokens.$text-secondary-default;

$gap-mobile-up: tokens.$space-300;
$gap-tablet-up: tokens.$space-400;
