@use '@global' as global-tokens;
@use '../../settings/globals';

$breakpoints: global-tokens.$breakpoints;

$typography: global-tokens.$body-small-regular;
$color: var(--#{globals.$prefix}color-text-secondary);

$gap-mobile-up: global-tokens.$space-300;
$gap-tablet-up: global-tokens.$space-500;
