@use '@tokens' as tokens;

$breakpoints: tokens.$breakpoints;

$typography: tokens.$body-small-regular;
$color: tokens.$text-secondary;

$gap-mobile-up: tokens.$space-300;
$gap-tablet-up: tokens.$space-500;
