@use 'sass:list';
@use '@global' as global-tokens;
@use '../../settings/dictionaries';
@use '../../settings/transitions';

$alignments-x: (
    left: start,
    center: center,
    right: end,
);
$alignments-y: (
    top: start,
    bottom: end,
);
$breakpoints: global-tokens.$breakpoints;

$color-dictionary: (
    emotion: dictionaries.$emotion-colors,
    neutral: neutral,
);

$color-dictionary-config: (
    color: 'content-subtle',
    background-color: 'background-basic',
);

$padding-x: global-tokens.$space-900;
$padding-x-tablet: global-tokens.$space-1000;
$padding-x-desktop: global-tokens.$space-1100;
$padding-y: global-tokens.$space-900;

$queue-collapse-after: 3;
$queue-gap: global-tokens.$space-700;

$bar-typography: global-tokens.$body-small-bold;
$bar-max-width: 480px;
$bar-max-height: 200px; // Whatever larger than the largest toast message. ⚠️ CAUTION: Affects animation timing!
$bar-gap: global-tokens.$space-700;
$bar-padding: global-tokens.$space-700;
$bar-border-radius: global-tokens.$radius-300;
$bar-box-shadow: global-tokens.$shadow-400;
$bar-content-gap: global-tokens.$space-600;
$bar-message-gap-x: global-tokens.$space-900;
$bar-message-gap-y: global-tokens.$space-600;
$bar-action-margin-inline-end: global-tokens.$space-500;
$bar-close-padding: global-tokens.$space-300;

// ⚠️ Keep the slowest transition in sync with `js/Toast.ts`.
$bar-transition-delay-margin: transitions.$duration-300;
$bar-transition-duration-max-height: transitions.$duration-500;
$bar-transition-duration-margin: transitions.$duration-300;
$bar-transition-duration-opacity: transitions.$duration-400;
$bar-transition-duration-scale: transitions.$duration-300;
$bar-transition-timing-max-height: transitions.$timing-eased-in-out-fast;
$bar-transition-timing-margin: transitions.$timing-eased-in-out;
$bar-transition-timing-opacity: transitions.$timing-eased-out;
$bar-transition-timing-scale: transitions.$timing-eased-out;
$bar-box-transition-duration: transitions.$duration-200;
$bar-box-transition-timing: transitions.$timing-eased-out;
