@use 'theme';

@mixin hidden() {
    visibility: hidden;
    opacity: 0;
}

@mixin visible() {
    visibility: visible;
    opacity: 1;
}

@mixin transitioning() {
    @media (prefers-reduced-motion: no-preference) {
        transition-property: visibility, opacity;
        transition-duration: theme.$transition-duration;
        transition-timing-function: theme.$transition-timing;
    }
}
