@use '../../tools/typography';
@use 'theme';

.Header {
    @include typography.generate(theme.$header-typography);

    display: flex;
    flex: none;
    gap: theme.$header-gap;
    align-items: center;
    height: 68px;
    padding-inline: theme.$header-padding-x;
}

.Header--simple {
    justify-content: center;
    height: 60px;
}

.Header--transparent {
    background-color: transparent;
}

.Header--inverted {
    color: theme.$header-inverted-color;
    background-color: theme.$header-inverted-background-color;
}
