@use '../../tools/breakpoint';
@use 'theme';

.HeaderMobileActions {
    display: flex;
    flex: none;
    gap: theme.$header-mobile-actions-gap;
    align-items: center;
    margin-inline-start: auto;

    @include breakpoint.up(theme.$header-breakpoint) {
        display: none;
    }
}
