@use 'theme';

.HeaderDialogActions {
    display: flex;
    flex-direction: column;
    gap: theme.$header-dialog-actions-gap;
    padding: theme.$header-dialog-actions-padding-y theme.$header-dialog-actions-padding-x;
}

.HeaderDialogActions--primary {
    flex: none;
}

.HeaderDialogActions--secondary {
    flex: 1;
}
