@use '../../tools/accessibility';
@use '../../tools/reset';
@use 'theme';

.HeaderDialogCloseButton {
    @include reset.button();
    @include accessibility.min-tap-target(theme.$header-dialog-close-button-size);

    flex: none;
    align-self: flex-end;
    margin-inline-end: theme.$header-dialog-padding;
    margin-block-start: theme.$header-dialog-padding;
    color: theme.$header-dialog-close-button-color;
}
