@use '@tokens' as tokens;

// Header
$header-typography: tokens.$body-medium-text-regular;
$header-breakpoint: tokens.$breakpoint-desktop;
$header-padding-x: tokens.$space-800;
$header-gap: tokens.$space-1000;

$header-inverted-color: tokens.$text-primary-inverted-default;
$header-inverted-background-color: tokens.$background-inverted;

$header-actions-gap-mobile: tokens.$space-600;
$header-actions-gap-desktop: tokens.$space-700;

$header-nav-item-padding-x: tokens.$space-600;
$header-nav-item-padding-y: tokens.$space-500;

$header-nav-link-color: tokens.$text-primary-inverted-default;
$header-nav-link-background-color: tokens.$background-interactive-inverted-default;
$header-nav-link-color-hover: tokens.$text-primary-inverted-default;
$header-nav-link-background-color-hover: tokens.$background-interactive-inverted-hover;
$header-nav-link-color-active: tokens.$text-primary-inverted-default;
$header-nav-link-background-color-active: tokens.$background-interactive-inverted-active;
$header-nav-link-color-current: tokens.$text-primary-inverted-default;
$header-nav-link-background-color-current: tokens.$background-interactive-inverted-active;
$header-nav-link-current-border-thickness: 3px;
$header-nav-link-current-border-color: tokens.$action-selected-default;
$header-nav-link-transition-duration: 0.25s;

// Header Dialog
$dialog-typography: tokens.$body-medium-text-regular;
$dialog-width: 280px;
$dialog-padding: tokens.$space-700;
$dialog-color: tokens.$text-primary-inverted-default;
$dialog-background-color: tokens.$background-inverted;
$dialog-shadow: tokens.$shadow-400;
$dialog-transition-duration: 0.25s;

$dialog-backdrop-background-color: tokens.$background-backdrop;

$dialog-close-button-size: tokens.$space-1000;
$dialog-close-button-color: tokens.$action-inverted-default;

$dialog-actions-padding-x: $dialog-padding;
$dialog-actions-padding-y: tokens.$space-900;
$dialog-actions-gap: tokens.$space-700;

$dialog-nav-item-padding-x: $dialog-actions-padding-x;
$dialog-nav-item-padding-y: tokens.$space-500;

$dialog-nav-link-color: tokens.$text-primary-inverted-default;
$dialog-nav-link-background-color: tokens.$background-interactive-inverted-default;
$dialog-nav-link-color-hover: tokens.$text-primary-inverted-default;
$dialog-nav-link-background-color-hover: tokens.$background-interactive-inverted-hover;
$dialog-nav-link-color-active: tokens.$text-primary-inverted-default;
$dialog-nav-link-background-color-active: tokens.$background-interactive-inverted-active;
$dialog-nav-link-color-current: tokens.$text-primary-inverted-default;
$dialog-nav-link-background-color-current: tokens.$background-interactive-inverted-active;
$dialog-nav-link-current-border-thickness: 3px;
$dialog-nav-link-current-border-color: tokens.$action-selected-default;
$dialog-nav-link-transition-duration: 0.25s;
