@use 'theme.deprecated';

@mixin create-cover($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: $position;
    inset: $top $right $bottom $left;
    visibility: hidden;
    opacity: 0;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: opacity, visibility;
        transition-duration: theme.$backdrop-transition-duration;
    }
}

@mixin show-cover() {
    visibility: visible;
    opacity: 1;
}
