<Modal id="modal-example-mini" aria-label="Modal Title">
    <ModalDialog>
        <ModalHeader modalId="modal-example-mini" />
        <ModalBody>
            <p>Modal Body</p>
        </ModalBody>
        <ModalFooter>
            <Button color="primary">
                Submit
            </Button>
        </ModalFooter>
    </ModalDialog>
</Modal>

<!-- Render with header title and rich footer -->
<Modal id="modal-example" titleId="modal-example-title">
    <ModalDialog>
        <ModalHeader
            closeLabel="Close form"
            modalId="modal-example"
            titleId="modal-example-title"
        >
            Title of the Modal
        </ModalHeader>
        <ModalBody>
            <p>Modal body</p>
        </ModalBody>
        <ModalFooter alignmentX="left" description="Modal Footer description">
            <Button color="primary">
                Submit
            </Button>
            <Button color="secondary">
                Cancel
            </Button>
        </ModalFooter>
    </ModalDialog>
</Modal>

<!-- Render with scrollable and simple custom height -->
<Modal id="modal-example-custom-height" aria-label="Modal Title">
    <ModalDialog isScrollable height="100px" maxHeight="200px">
        <ModalHeader modalId="modal-example-custom-height" />
        <ModalBody>
            <p>Modal Body</p>
        </ModalBody>
        <ModalFooter>
            <Button color="primary">
                Submit
            </Button>
        </ModalFooter>
    </ModalDialog>
</Modal>

<!-- Render with all props -->
<Modal alignmentY="top" id="modal-example-all" titleId="modal-example-all-title">
    <ModalDialog
        autocomplete="on"
        elementType="form"
        height="{{ { mobile: '400px', tablet: '500px', desktop: '600px' } }}"
        isDockedOnMobile
        isExpandedOnMobile
        isScrollable
        maxHeight="{{ { tablet: '700px' } }}"
        method="dialog"
        UNSAFE_className="custom-class"
        UNSAFE_style="outline: 5px solid blue; outline-offset: -5px;"
    >
        <ModalHeader
            closeLabel="Close form"
            enableDismiss={ false }
            modalId="modal-example-all"
            titleId="modal-example-all-title"
        >
            Title of the Modal
        </ModalHeader>
        <ModalBody>
            <p>Modal body form</p>
        </ModalBody>
        <ModalFooter alignmentX="left" description="Modal Footer description">
            <Button color="primary">
                Submit
            </Button>
            <Button color="secondary">
                Cancel
            </Button>
        </ModalFooter>
    </ModalDialog>
</Modal>
