name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - packages/web/**

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Build examples
        run: |
          cd packages/web && yarn examples:build:gh

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.4
        with:
          folder: packages/web/build
          branch: gh-pages
          target-folder: docs
