name: Pull Request Meta

on:
  pull_request:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  process_pr_meta:
    name: Process PR meta
    runs-on: ubuntu-24.04
    steps:
      - name: Assign to author
        uses: toshimaru/auto-author-assign@16f0022cf3d7970c106d8d1105f75a1165edb516 # v2.1.1

      - name: Add labels
        uses: TimonVS/pr-labeler-action@f9c084306ce8b3f488a8f3ee1ccedc6da131d1af # v5.0.0
        with:
          configuration-path: .github/pr-labeler.yaml
        env:
          GITHUB_TOKEN: ${{ github.token}}
