name: Publish

on:
  create:

jobs:
  publish:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    name: Publish package
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: make install

      - name: Disable husky commit hooks
        run: npm set-script prepare ""

      - name: Build
        run: yarn build

      - name: Authenticate npm
        run: ./bin/ci/npm-auth.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish
        run: make publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
