<section class="docs-Section">

    <h2 class="docs-Heading">Fluid Width</h2>

    <FileUploader data-toggle="fileUploader" isFluid>
        <template data-spirit-snippet="item">
            <FileUploaderAttachment />
        </template>
        <FileUploaderInput
            helperText="Max file size is 10 MB"
            id="example-fluid-width"
            label="Label"
            name="example-fluid-width"
        />
        <FileUploaderList>
            <FileUploaderAttachment fileName="My resume.docx" />
        </FileUploaderList>
    </FileUploader>

</section>
