<section class="docs-Section">

    <h2 class="docs-Heading">FileUploader Multiple with File Queue Behavior Control</h2>

    <FileUploader data-toggle="fileUploader">
        <template data-spirit-snippet="item">
            <FileUploaderAttachment />
        </template>
        <FileUploaderInput
            helperText="Max size of each file is 10 MB"
            id="example-input-multiple-queue-control"
            label="Label"
            multiple
            name="example-input-multiple-queue-control"
            pickAFileText="Upload your file(s)"
            maxUploadedFiles={2}
            queueLimitBehavior="hide"
        />
        <FileUploaderList />
    </FileUploader>

</section>
