<section class="docs-Section">

    <h2 class="docs-Heading">Equal Columns</h2>

    <Grid cols="12" class="mb-1000">
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
        <div class="docs-Box docs-Box--small px-0">1/12</div>
    </Grid>
    <Grid cols="6" class="mb-1000">
        <div class="docs-Box docs-Box--small">1/6</div>
        <div class="docs-Box docs-Box--small">1/6</div>
        <div class="docs-Box docs-Box--small">1/6</div>
        <div class="docs-Box docs-Box--small">1/6</div>
        <div class="docs-Box docs-Box--small">1/6</div>
        <div class="docs-Box docs-Box--small">1/6</div>
    </Grid>
    <Grid cols="5" class="mb-1000">
        <div class="docs-Box docs-Box--small">1/5</div>
        <div class="docs-Box docs-Box--small">1/5</div>
        <div class="docs-Box docs-Box--small">1/5</div>
        <div class="docs-Box docs-Box--small">1/5</div>
        <div class="docs-Box docs-Box--small">1/5</div>
    </Grid>
    <Grid cols="4" class="mb-1000">
        <div class="docs-Box docs-Box--small">1/4</div>
        <div class="docs-Box docs-Box--small">1/4</div>
        <div class="docs-Box docs-Box--small">1/4</div>
        <div class="docs-Box docs-Box--small">1/4</div>
    </Grid>
    <Grid cols="3" class="mb-1000">
        <div class="docs-Box docs-Box--small">1/3</div>
        <div class="docs-Box docs-Box--small">1/3</div>
        <div class="docs-Box docs-Box--small">1/3</div>
    </Grid>
    <Grid cols="2" class="mb-1000">
        <div class="docs-Box docs-Box--small">1/2</div>
        <div class="docs-Box docs-Box--small">1/2</div>
    </Grid>
    <Grid cols="1">
        <div class="docs-Box docs-Box--small">1</div>
    </Grid>

</section>
