@use '@global' as global-tokens;

$breakpoints: global-tokens.$breakpoints;
$root-padding: global-tokens.$space-1200 global-tokens.$space-900;
$root-padding-desktop: global-tokens.$space-1200 global-tokens.$space-1000;
$buttons-gap: global-tokens.$space-700;
