@use 'sass:map';
@use 'theme' as theme;
@use '../../tools/breakpoint';

.UNSTABLE_EmptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: theme.$root-padding;
    text-align: center;

    @include breakpoint.up(map.get(theme.$breakpoints, desktop)) {
        padding: theme.$root-padding-desktop;
    }
}

.UNSTABLE_EmptyState__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}
